@model IEnumerable<myApp.Models.Enrollment>
<link rel="stylesheet" href="/CSS/Style.css">
<form method="post" action="@Url.Action("SaveForm", "Form", new {enrollId = ViewBag.EnrollmentId, Guid = ViewBag.Guid, IDPGroupId = ViewBag.IDPGroupId})" enctype="multipart/form-data">
    <div class="sticky-header-breadcrumb">
        <div class="row me-2 align-items-center">
            <div class="col-auto me-auto ms-3">
                <a href="@Url.Action("Index", "Form")" class="btn btn-lg active-link-exit">
                    <i class="fa fa-arrow-left gradient-icon-back"></i><strong class="gradient-icon-back"> ออก</strong>
                </a>
            </div>
            <div class="col-2">
                @if (ViewBag.Status == "Draft")
                {
                    <p style="color: #802FDE; background-color: #E8E2F7; padding: 7px; border-radius: 3rem; width: auto;" class="text-center fw-bold">@ViewBag.Status</p>
                }
                else if (ViewBag.Status == "Self")
                {
                    <p style="color: #E50087; background-color: #FFE5F4; padding: 7px; border-radius: 3rem; width: auto;" class="text-center fw-bold">@ViewBag.Status</p>
                }
                else if (ViewBag.Status == "1st Evaluating")
                {
                    <p style="color: #DAAB00; background-color: #FDF3CE; padding: 7px; border-radius: 3rem; width: auto;" class="text-center fw-bold">@ViewBag.Status</p>
                }
                else if (ViewBag.Status == "Developing")
                {
                    <p style="color: #00AEE5; background-color: #D8F6FF; padding: 7px; border-radius: 3rem; width: auto;" class="text-center fw-bold">@ViewBag.Status</p>
                }
                else if (ViewBag.Status == "2nd Evaluating")
                {
                    <p style="color: #DAAB00; background-color: #FDF3CE; padding: 7px; border-radius: 3rem; width: auto;" class="text-center fw-bold">@ViewBag.Status</p>
                }
                else if (ViewBag.Status == "Success")
                {
                    <p style="color: #14B789; background-color: #D5F8EF; padding: 7px; border-radius: 3rem; width: auto;" class="text-center fw-bold">@ViewBag.Status</p>
                }
                else if (ViewBag.Status == "Decline")
                {
                    <p style="color: #CC660A; background-color: #FFF2E7; padding: 7px; border-radius: 3rem; width: auto; " class="text-center fw-bold">@ViewBag.Status</p>
                }
            </div>
            <div class="col-auto overflow-x">
                @if ((ViewBag.Status == "1st Evaluating" || ViewBag.Status == "2nd Evaluating") && (ViewBag.Approver != ViewBag.Username))
                {
                    <button type="button" class="btn btn-lg active-link-send" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="fa-solid fa-stamp gradient-icon-send"></i><strong class="gradient-icon-send"> อนุมัติ</strong>
                    </button>
                }
                else if (ViewBag.Status == "Developing" && (ViewBag.Approver == ViewBag.Username))
                {

                }
                else if (ViewBag.Status == "Self" || ViewBag.Status == "Developing")
                {
                    <button type="button" class="btn btn-lg active-link-send" data-bs-toggle="modal" data-bs-target="#sendModal">
                        <i class="fa fa-send gradient-icon-send"></i><strong class="gradient-icon-send"> ส่งแบบประเมิน</strong>
                    </button>

                    <button type="submit" class="btn btn-lg active-link-submit" id="liveToastBtn" name="isSave" value="true">
                        <i class="fa-solid fa-save gradient-icon-submit"></i><strong class="gradient-icon-submit"> บันทึก</strong>
                    </button>
                }
            </div>
        </div>
    </div>
    <main>
        <div class="text-center m-4 header">
            <div class="row justify-content-center">
                <div class="col-4">
                    <h5 class="mt-2"><i class="fa-solid fa-file-text fs-2"></i> <strong>แบบประเมิน</strong></h5>
                    <h6>
                        <i class="fa fa-key fs-4 ms-2"></i> รหัส IDP<strong>: @ViewBag.IDPGroupId</strong>
                        <i class="fa fa-book fs-4 ms-2"></i> ชื่อ IDP<strong>: @ViewBag.IDPGroupName</strong>
                    </h6>
                    <h6><i class="fa fa-solid fa-calendar-days ms-2 fs-4"></i> ปี<strong>: @ViewBag.Year</strong></h6>
                </div>
                <div class="col-8">
                    <h5 class="mt-2"><i class="fa-solid fa-address-card fs-2"></i> <strong>รายละเอียด</strong></h5>
                    <h6>
                        <i class="fa fa-key fs-4 ms-2"></i> รหัส<strong>: @ViewBag.Id</strong>
                        <i class="fa fa-user user-icon fs-4 ms-2"></i> ชื่อ<strong>: @ViewBag.Prefix @ViewBag.FirstName @ViewBag.LastName</strong>
                        <i class="fa fa-solid fa-ranking-star fs-4 ms-2"></i> ตำแหน่งขั้น<strong>: @ViewBag.JobLevel</strong>
                    </h6>
                    <h6>
                        <i class="fa fa-solid fa-location-dot fs-4 ms-2"></i> ตำแหน่ง<strong>: @ViewBag.Position</strong>
                        <i class="fa fa-home-user fs-4 ms-2"></i> แผนก<strong>: @ViewBag.Department</strong>
                        <i class="fa fa-solid fa-building ms-2 fs-4"></i> บริษัท<strong>: @ViewBag.Company</strong>
                    </h6>
                </div>
            </div>
        </div>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show text-center m-4" role="alert" id="alertBox">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> @TempData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            @*<script>
                window.setTimeout(function () {
                    $(".alert-danger").fadeTo(500, 0).slideUp(500, function () {
                        $(this).remove();

                    });
                }, 5000);
            </script>*@
        }
        <div class="table-container m-4">
            <table class="table table-hover table-responsive table-striped" id="myTable" width="100%">
                <thead style="background-color: #2D4686; color: #C8E8FF">
                    <tr>
                        <th class="text-center" rowspan="2" data-sortable="false" width="1%">Critical</th>
                        <th class="text-center" rowspan="2" width="9%">Competency</th>
                        <th class="text-center" rowspan="2" width="1%">R</th>
                        <th class="text-center" rowspan="2" width="1%">A1</th>
                        <th class="text-center" colspan="2" width="2%">GAP</th>
                        <th class="text-center" rowspan="2" width="1%">Priority</th>
                        <th class="text-center" rowspan="2" width="3%">Type</th>
                        <th class="text-center" rowspan="2" width="8%">Development Plan</th>
                        <th class="text-center" colspan="4" width="1%">Quarter</th>
                        <th class="text-center" rowspan="2" width="8%" style="background-color: #C8E8FF; color: #2D4686">Development Result</th>
                        <th class="text-center" rowspan="2" width="1%" style="background-color: #C8E8FF; color: #2D4686">A2</th>
                        <th class="text-center" colspan="2" width="2%" style="background-color: #C8E8FF; color: #2D4686">GAP</th>
                    </tr>
                    <tr>
                        <th class="text-center" width="1%">-</th>
                        <th class="text-center" width="1%">+</th>
                        <th class="text-center" width="1%">Q1</th>
                        <th class="text-center" width="1%">Q2</th>
                        <th class="text-center" width="1%">Q3</th>
                        <th class="text-center" width="1%">Q4</th>
                        <th class="text-center" width="1%" style="background-color: #C8E8FF; color: #2D4686">-</th>
                        <th class="text-center" width="1%" style="background-color: #C8E8FF; color: #2D4686">+</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Status != "Decline")
                    {
                        for (var i = 0; i < Model.Count(); i++)
                        {
                            var enroll = Model.ElementAt(i);
                            var plVal = int.Parse(enroll.IDPGroupItem.Pl);
                            var gap1 = enroll.ResultItem.Actual1 - plVal;
                            var gap2 = enroll.ResultItem.Actual2 - plVal;
                            string backgroundColor1 = "";
                            string color1 = "";
                            string backgroundColor2 = "";
                            string color2 = "";
                            if (enroll.ResultItem.Actual1 == 0)
                            {
                                backgroundColor1 = "#E50087";
                                color1 = "#FFE5F4";
                            }
                            else if (enroll.ResultItem.Actual1 < plVal && enroll.ResultItem.Actual1 > 0)
                            {
                                backgroundColor1 = "#DAAB00";
                                color1 = "#FDF3CE";
                            }
                            else if (enroll.ResultItem.Actual1 >= plVal)
                            {
                                backgroundColor1 = "#14B789";
                                color1 = "#D5F8EF";
                            }

                            if (enroll.ResultItem.Actual2 == 0)
                            {
                                backgroundColor2 = "#E50087";
                                color2 = "#FFE5F4";
                            }
                            else if (enroll.ResultItem.Actual2 < plVal && enroll.ResultItem.Actual2 > 0)
                            {
                                backgroundColor2 = "#DAAB00";
                                color2 = "#FDF3CE";
                            }
                            else if (enroll.ResultItem.Actual2 >= plVal)
                            {
                                backgroundColor2 = "#14B789";
                                color2 = "#D5F8EF";
                            }
                            <tr id="row-@i">
                                <td class="text-center">
                                    @if (enroll.IDPGroupItem.Critical)
                                    {
                                        <img src="~/Images/hexagon_icon.png" width="25" height="25" />
                                    }
                                    <input type="hidden" name="Critical_@i" value="@enroll.IDPGroupItem.Critical.ToString()" />
                                </td>
                                <td style="font-size: 14px">@enroll.Competency.CompetencyNameTH</td>
                                <td class="text-center">
                                    @enroll.IDPGroupItem.Pl
                                    <input type="hidden" name="Requirement_@i" value="@enroll.IDPGroupItem.Pl" />
                                </td>
                                <td class="text-center">
                                    @if ((ViewBag.Status == "Dewveloping" || ViewBag.Status == "2nd Evaluating" || ViewBag.Status == "Success") ||
                                (ViewBag.Status == "1st Evaluating" && ViewBag.Approver == ViewBag.Username))
                                    {
                                        @enroll.ResultItem.Actual1
                                    }
                                    else if ((ViewBag.Status == "Self") || (ViewBag.Status == "1st Evaluating" && ViewBag.Approver != ViewBag.Username))
                                    {
                                        <button id="actual1Button" onchange="calculateGap(this)" type="button" class="btn active-link-competency m-1" data-bs-toggle="modal" style="background-color: @backgroundColor1; color: @color1; width: auto; font-size: 20px;" data-bs-target="#DetailPl-@enroll.IDPGroupItem.CompetencyId">
                                            <strong>@(enroll.ResultItem.Actual1 >= 0 ? enroll.ResultItem.Actual1.ToString() : "?")</strong>
                                        </button>
                                    }
                                    <div class="modal fade modal-xl modal1" id="DetailPl-@enroll.IDPGroupItem.CompetencyId" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h6 class="modal-title fs-5">
                                                        <i class="fa-solid fa-key fs-4"></i> รหัส: <strong>@enroll.IDPGroupItem.CompetencyId</strong>
                                                        <br />
                                                        <i class="fa-solid fa-signature fs-4"></i> ชื่อ: <strong>@enroll.Competency.CompetencyNameTH</strong>
                                                        <br />
                                                        ความต้องการ: <strong>PL@(enroll.IDPGroupItem.Pl)</strong>
                                                    </h6>
                                                </div>
                                                <div class="modal-body">
                                                    <h5 class="text-center">PL1</h5>
                                                    @if (@enroll.Competency.Pl1 != null)
                                                    {
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="modalRadio1[@i]" id="modalRadioButton1-@i" value="1" @(enroll.ResultItem.Actual1 == 1 ? "checked" : "") />
                                                            <label class="form-check-label text-start" for="modalRadioButton1-@i" style="cursor: pointer">
                                                                @enroll.Competency.Pl1
                                                            </label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="text-center">ไม่มี PL1</h5>
                                                    }
                                                    <hr />
                                                    <h5 class="text-center">PL2</h5>
                                                    @if (@enroll.Competency.Pl2 != null)
                                                    {
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="modalRadio1[@i]" id="modalRadioButton2-@i" value="2" @(enroll.ResultItem.Actual1 == 2 ? "checked" : "") />
                                                            <label class="form-check-label text-start" for="modalRadioButton2-@i" style="cursor: pointer">
                                                                @enroll.Competency.Pl2
                                                            </label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="text-center">ไม่มี PL2</h5>
                                                    }
                                                    <hr />
                                                    <h5 class="text-center">PL3</h5>
                                                    @if (@enroll.Competency.Pl3 != null)
                                                    {
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="modalRadio1[@i]" id="modalRadioButton3-@i" value="3" @(enroll.ResultItem.Actual1 == 3 ? "checked" : "") />
                                                            <label class="form-check-label text-start" for="modalRadioButton3-@i" style="cursor: pointer">
                                                                @enroll.Competency.Pl3
                                                            </label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="text-center">ไม่มี PL3</h5>
                                                    }
                                                    <hr />
                                                    <h5 class="text-center">PL4</h5>
                                                    @if (@enroll.Competency.Pl4 != null)
                                                    {
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="modalRadio1[@i]" id="modalRadioButton4-@i" value="4" @(enroll.ResultItem.Actual1 == 4 ? "checked" : "") />
                                                            <label class="form-check-label text-start" for="modalRadioButton4-@i" style="cursor: pointer">
                                                                @enroll.Competency.Pl4
                                                            </label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="text-center">ไม่มี PL4</h5>
                                                    }
                                                    <hr />
                                                    <h5 class="text-center">PL5</h5>
                                                    @if (@enroll.Competency.Pl5 != null)
                                                    {
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="modalRadio1[@i]" id="modalRadioButton5-@i" value="5" @(enroll.ResultItem.Actual1 == 5 ? "checked" : "") />
                                                            <label class="form-check-label text-start" for="modalRadioButton5-@i" style="cursor: pointer">
                                                                @enroll.Competency.Pl5
                                                            </label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="text-center">ไม่มี PL5</h5>
                                                    }

                                                </div>
                                                <div class="modal-footer flex-nowrap p-0">
                                                    <button type="button" class="btn btn-lg col-12 text-decoration-none py-3 rounded-0 m-0 " style="background-color: #D893A3; color: #B30021" data-bs-dismiss="modal"><strong>ปิด</strong></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="Actual1_@i" value="@enroll.ResultItem.Actual1" />
                                </td>
                                <td class="text-center">
                                    @if (gap1 < 0)
                                    {
                                        @gap1
                                    }
                                </td>
                                <td class="text-center">
                                    @if (gap1 >= 0)
                                    {
                                        @gap1
                                    }
                                </td>
                                <td class="text-center">
                                    @if ((ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating" || ViewBag.Status == "Success") ||
                                (ViewBag.Status == "1st Evaluating" && ViewBag.Approver == ViewBag.Username))
                                    {
                                        @enroll.ResultItem.Priority
                                        <input type="hidden" name="Priority_@i" value="@enroll.ResultItem.Priority" />
                                    }
                                    else if ((ViewBag.Status == "Self") || (ViewBag.Status == "1st Evaluating" && ViewBag.Approver != ViewBag.Username))
                                    {
                                <select class="form-select" name="Priority_@i" id="prioritySelect-row-@i">
                                    <option value="" @(enroll.ResultItem.Priority == "" ? "selected" : "")>-</option>
                                    <option value="A" @(enroll.ResultItem.Priority == "A" ? "selected" : "")>A</option>
                                    <option value="B" @(enroll.ResultItem.Priority == "B" ? "selected" : "")>B</option>
                                    <option value="C" @(enroll.ResultItem.Priority == "C" ? "selected" : "")>C</option>
                                </select>
                                    }
                                </td>
                                <td class="text-center">
                                    @if ((ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating" || ViewBag.Status == "Success") ||
                                (ViewBag.Status == "1st Evaluating" && ViewBag.Approver == ViewBag.Username))
                                    {
                                        @enroll.ResultItem.TypePlan
                                        <input type="hidden" name="TypePlan_@i" value="@enroll.ResultItem.TypePlan" />
                                    }
                                    else if ((ViewBag.Status == "Self") || (ViewBag.Status == "1st Evaluating" && ViewBag.Approver != ViewBag.Username))
                                    {
                                <select class="form-select" name="TypePlan_@i" id="typeSelect-row-@i">
                                    <option value="" @(enroll.ResultItem.TypePlan == "" ? "selected" : "")>-</option>
                                    <option value="TR" @(enroll.ResultItem.TypePlan == "TR" ? "selected" : "")>การอบรม (Training)</option>
                                    <option value="SL" @(enroll.ResultItem.TypePlan == "SL" ? "selected" : "")>การศึกษาด้วยตนเอง (Self-Learning)</option>
                                    <option value="OJT" @(enroll.ResultItem.TypePlan == "OJT" ? "selected" : "")> การสอนงานหน้างาน (On The Job Training)</option>
                                    <option value="PA" @(enroll.ResultItem.TypePlan == "PA" ? "selected" : "")>การมอบหมายโครงการ/งาน (Project/Job Assignment)</option>
                                    <option value="Co" @(enroll.ResultItem.TypePlan == "Co" ? "selected" : "")>การโค้ชชิ่ง (Coaching)</option>
                                    <option value="SV" @(enroll.ResultItem.TypePlan == "SV" ? "selected" : "")>การศึกษาดูงาน (Site Visit)</option>
                                    <option value="JS" @(enroll.ResultItem.TypePlan == "JS" ? "selected" : "")>การติดตามและสังเกต (Job Shadowing)</option>
                                </select>
                                    }
                                </td>
                                <td>
                                    @if ((ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating" || ViewBag.Status == "Success") ||
                                (ViewBag.Status == "1st Evaluating" && ViewBag.Approver == ViewBag.Username))
                                    {
                                        @enroll.ResultItem.DevPlan
                                        <input type="hidden" name="DevPlan_@i" value="@enroll.ResultItem.DevPlan" />
                                    }
                                    else if ((ViewBag.Status == "Self") || (ViewBag.Status == "1st Evaluating" && ViewBag.Approver != ViewBag.Username))
                                    {
                                        <textarea class="form-control" name="DevPlan_@i" id="devPlanSelect-row-@i" style="min-width: 100%;">@enroll.ResultItem.DevPlan</textarea>
                                    }
                                </td>
                                <td class="text-center">
                                    @if ((ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating" || ViewBag.Status == "Success") ||
                                (ViewBag.Status == "1st Evaluating" && ViewBag.Approver == ViewBag.Username))
                                    {
                                        if (enroll.ResultItem.Q1 == "1")
                                        {
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <input type="hidden" name="Q1_@i" value="@enroll.ResultItem.Q1" />
                                        }
                                    }
                                    else if ((ViewBag.Status == "Self") || (ViewBag.Status == "1st Evaluating" && ViewBag.Approver != ViewBag.Username))
                                    {
                                        <input class="form-check-input" type="checkbox" name="Q1_@i" id="Q1select-row-@i" value="1" @(enroll.ResultItem.Q1 == "1" ? "checked" : "") />
                                    }
                                </td>
                                <td class="text-center">
                                    @if ((ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating" || ViewBag.Status == "Success") ||
                                (ViewBag.Status == "1st Evaluating" && ViewBag.Approver == ViewBag.Username))
                                    {
                                        if (enroll.ResultItem.Q2 == "1")
                                        {
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <input type="hidden" name="Q2_@i" value="@enroll.ResultItem.Q2" />
                                        }
                                    }
                                    else if ((ViewBag.Status == "Self") || (ViewBag.Status == "1st Evaluating" && ViewBag.Approver != ViewBag.Username))
                                    {
                                        <input class="form-check-input" type="checkbox" name="Q2_@i" id="Q1select-row-@i" value="1" @(enroll.ResultItem.Q2 == "1" ? "checked" : "") />
                                    }
                                </td>
                                <td class="text-center">
                                    @if ((ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating" || ViewBag.Status == "Success") ||
                                (ViewBag.Status == "1st Evaluating" && ViewBag.Approver == ViewBag.Username))
                                    {
                                        if (enroll.ResultItem.Q3 == "1")
                                        {
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <input type="hidden" name="Q3_@i" value="@enroll.ResultItem.Q3" />
                                        }
                                    }
                                    else if ((ViewBag.Status == "Self") || (ViewBag.Status == "1st Evaluating" && ViewBag.Approver != ViewBag.Username))
                                    {
                                        <input class="form-check-input" type="checkbox" name="Q3_@i" id="Q1select-row-@i" value="1" @(enroll.ResultItem.Q3 == "1" ? "checked" : "") />
                                    }
                                </td>
                                <td class="text-center">
                                    @if ((ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating" || ViewBag.Status == "Success") ||
                                (ViewBag.Status == "1st Evaluating" && ViewBag.Approver == ViewBag.Username))
                                    {
                                        if (enroll.ResultItem.Q4 == "1")
                                        {
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <input type="hidden" name="Q4_@i" value="@enroll.ResultItem.Q4" />
                                        }
                                    }
                                    else if ((ViewBag.Status == "Self") || (ViewBag.Status == "1st Evaluating" && ViewBag.Approver != ViewBag.Username))
                                    {
                                        <input class="form-check-input" type="checkbox" name="Q4_@i" id="Q1select-row-@i" value="1" @(enroll.ResultItem.Q4 == "1" ? "checked" : "") />
                                    }
                                </td>
                                <td>
                                    @if ((ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating") && ViewBag.Approver != ViewBag.Username)
                                    {
                                        <textarea class="form-control" name="DevRst_@i" id="devRstSelect-row-@i" style="min-width: 100%;">@enroll.ResultItem.DevRst</textarea>
                                    }
                                    else
                                    {
                                        @enroll.ResultItem.DevRst
                                    }
                                </td>
                                <td class="text-center">
                                    @if (ViewBag.Status == "Self" || ViewBag.Status == "1st Evaluating" || ViewBag.Status == "Developing")
                                    {
                                        @enroll.ResultItem.Actual2
                                    }
                                    else if (ViewBag.Status == "2nd Evaluating" && (ViewBag.Approver == ViewBag.Username))
                                    {
                                        @enroll.ResultItem.Actual2
                                    }
                                    else if (ViewBag.Status == "Success")
                                    {
                                        @enroll.ResultItem.Actual2
                                    }
                                    else
                                    {
                                        <button id="actual2Button" onchange="calculateGap2(this)" type="button" class="btn active-link-competency m-1" data-bs-toggle="modal" style="background-color: @backgroundColor2; color: @color2; width: auto; font-size: 20px;" data-bs-target="#Detail2Pl-@enroll.IDPGroupItem.CompetencyId">
                                            <strong>@(enroll.ResultItem.Actual2 >= 0 ? enroll.ResultItem.Actual2.ToString() : "?")</strong>
                                        </button>
                                    }
                                    <div class="modal modal2 fade modal-xl" id="Detail2Pl-@enroll.IDPGroupItem.CompetencyId" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="modal-title fs-4">
                                                        รหัส Competency: <code>@enroll.IDPGroupItem.CompetencyId</code>
                                                        <br />
                                                        ชื่อ Competency: <code>@enroll.Competency.CompetencyNameTH</code>
                                                        <br />
                                                        ความต้องการ: @enroll.IDPGroupItem.Pl
                                                    </h5>
                                                </div>
                                                <div class="modal-body">
                                                    <h5 class="text-center">PL1</h5>
                                                    @if (@enroll.Competency.Pl1 != null)
                                                    {
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="modalRadio2[@i]" id="modalRadioButton6-@i" value="1" @(enroll.ResultItem.Actual2 == 1 ? "checked" : "") />
                                                            <label class="form-check-label text-start" for="modalRadioButton6-@i" style="cursor: pointer">
                                                                @enroll.Competency.Pl1
                                                            </label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="text-center">ไม่มี PL1</h5>
                                                    }
                                                    <hr />
                                                    <h5 class="text-center">PL2</h5>
                                                    @if (@enroll.Competency.Pl2 != null)
                                                    {
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="modalRadio2[@i]" id="modalRadioButton7-@i" value="2" @(enroll.ResultItem.Actual2 == 2 ? "checked" : "") />
                                                            <label class="form-check-label text-start" for="modalRadioButton7-@i" style="cursor: pointer">
                                                                @enroll.Competency.Pl2
                                                            </label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="text-center">ไม่มี PL2</h5>
                                                    }
                                                    <hr />
                                                    <h5 class="text-center">PL3</h5>
                                                    @if (@enroll.Competency.Pl3 != null)
                                                    {
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="modalRadio2[@i]" id="modalRadioButton8-@i" value="3" @(enroll.ResultItem.Actual2 == 3 ? "checked" : "") />
                                                            <label class="form-check-label text-start" for="modalRadioButton8-@i" style="cursor: pointer">
                                                                @enroll.Competency.Pl3
                                                            </label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="text-center">ไม่มี PL3</h5>
                                                    }
                                                    <hr />
                                                    <h5 class="text-center">PL4</h5>
                                                    @if (@enroll.Competency.Pl4 != null)
                                                    {
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="modalRadio2[@i]" id="modalRadioButton9-@i" value="4" @(enroll.ResultItem.Actual2 == 4 ? "checked" : "") />
                                                            <label class="form-check-label text-start" for="modalRadioButton9-@i" style="cursor: pointer">
                                                                @enroll.Competency.Pl4
                                                            </label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="text-center">ไม่มี PL4</h5>
                                                    }
                                                    <hr />
                                                    <h5 class="text-center">PL5</h5>
                                                    @if (@enroll.Competency.Pl5 != null)
                                                    {
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="modalRadio2[@i]" id="modalRadioButton10-@i" value="5" @(enroll.ResultItem.Actual2 == 5 ? "checked" : "") />
                                                            <label class="form-check-label text-start" for="modalRadioButton10-@i" style="cursor: pointer">
                                                                @enroll.Competency.Pl5
                                                            </label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="text-center">ไม่มี PL5</h5>
                                                    }

                                                </div>
                                                <div class="modal-footer flex-nowrap p-0">
                                                    <button type="button" class="btn btn-lg col-12 text-decoration-none py-3 rounded-0 m-0 " style="background-color: #D893A3; color: #B30021" data-bs-dismiss="modal"><strong>ปิด</strong></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="Actual2_@i" value="@enroll.ResultItem.Actual2" />
                                </td>
                                <td class="text-center">
                                    @if (gap2 < 0)
                                    {
                                        @gap2
                                    }
                                    else
                                    {

                                    }
                                </td>
                                <td class="text-center">
                                    @if (gap2 >= 0)
                                    {
                                        @gap2
                                    }
                                    else
                                    {

                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        foreach (var enroll in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    @if (enroll.IDPGroupItem.Critical == false)
                                    {
                                        <text></text>
                                    }
                                    else
                                    {
                                        <img src="~/Images/hexagon_icon.png" width="25" height="25" />
                                    }
                                </td>
                                <td>@enroll.Competency.CompetencyNameTH</td>
                                <td class="text-center">@enroll.IDPGroupItem.Pl</td>
                                <td class="text-center">@enroll.ResultItem.Actual1</td>
                                <td class="text-center">
                                    <span>
                                        @if (enroll.ResultItem.Gap1 < 0)
                                        {
                                            @enroll.ResultItem.Gap1
                                        }
                                        else
                                        {

                                        }
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span>
                                        @if (enroll.ResultItem.Gap1 >= 0)
                                        {
                                            @enroll.ResultItem.Gap1
                                        }
                                        else
                                        {

                                        }
                                    </span>
                                </td>
                                <td class="text-center">@enroll.ResultItem.Priority</td>
                                <td class="text-center">@enroll.ResultItem.TypePlan</td>
                                <td>@enroll.ResultItem.DevPlan</td>
                                <td class="text-center">
                                    @if (enroll.ResultItem.Q1 == "1")
                                    {
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (enroll.ResultItem.Q2 == "1")
                                    {
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (enroll.ResultItem.Q3 == "1")
                                    {
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (enroll.ResultItem.Q4 == "1")
                                    {
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    }
                                </td>
                                <td>@enroll.ResultItem.DevRst</td>
                                <td class="text-center">@enroll.ResultItem.Actual2</td>
                                <td class="text-center">
                                    <span>
                                        @if (enroll.ResultItem.Gap2 < 0)
                                        {
                                            @enroll.ResultItem.Gap2
                                        }
                                        else
                                        {

                                        }
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span>
                                        @if (enroll.ResultItem.Gap2 >= 0)
                                        {
                                            @enroll.ResultItem.Gap2
                                        }
                                        else
                                        {

                                        }
                                    </span>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="sendModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="alert alert-dark" role="alert" style="font-size: 18px">
                            คุณต้องการที่จะส่งแบบประเมินนี้ให้ผู้บังคับบัญชาหรือไม่?
                        </div>
                        <button type="submit" class="btn btn-lg active-link-send" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 100%;" id="sendButton" name="isSave" value="false"  data-bs-dismiss="modal">
                            <i class="fa fa-send gradient-icon-send"></i><strong class="gradient-icon-send"> ส่งแบบประเมิน</strong>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 fw-bold" id="staticBackdropLabel">
                            <i class="fa-solid fa-highlighter gradient-icon-send fs-3"></i> หมายเหตุ
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <textarea class="form-control" id="remarkTextarea" style="min-width: 100%" name="remark"></textarea>

                    </div>
                    <div class="modal-footer flex-nowrap p-0">
                        <button type="button" class="btn btn-lg btn-link fs-6 py-3 text-decoration-none col-6 rounded-0 m-0 btn-cancel" data-bs-dismiss="modal">
                            <i class="fa-solid fa-ban gradient-icon-back fs-4"></i> <strong class="gradient-icon-back fs-4">ยกเลิก</strong>
                        </button>
                        @if (ViewBag.Status == "1st Evaluating" || ViewBag.Status == "2nd Evaluating")
                        {
                            <button type="submit" class="btn btn-lg btn-link fs-6 py-3 text-decoration-none col-6 rounded-0 m-0 btn-submit" name="isSave" value="false">
                                <i class="fa-solid fa-save gradient-icon-submit fs-4"></i> <strong class="gradient-icon-submit fs-4">ยืนยัน</strong>
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="table-container m-4">
            <div class="row">
                <div class="col-auto mt-2 me-auto">
                    <h2 class="ms-2 mt-2 fw-bold">บันทึกความดี</h2>
                </div>
                <div class="col-auto">

                </div>
            </div>
            <div class="table-container m-2">
                <table class="table table-hover table-responsive table-striped" width="100%">
                    <thead class="text-center" style="background-color: #2D4686; color: #C8E8FF">
                        <tr>
                            <th width="20%">ประเภทความดี</th>
                            <th width="20%">หน่วยงาน</th>
                            <th width="40%">รายละเอียด</th>
                            <th width="10%">วันที่</th>
                            <th width="10%">จำนวนชั่วโมง</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        @foreach (var good in ViewBag.Goodness)
                        {
                            <tr>
                                <td>@good.Type</td>
                                <td>@good.Company</td>
                                <td>@good.Desc</td>
                                <td>@good.Date</td>
                                <td>@good.Hour</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @if((ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating") && (ViewBag.Approver != ViewBag.Username))
        {
            <div class="table-container m-4">
                <div class="m-2">
                    <label for="file" class="drop-container" id="dropContainer">
                        <input name="file" id="file" type="file" class="form-control form-control-lg mt-2" style="width: 350px; margin-left: 1rem" />
                        <div id="drag-text">
                            ลากไฟล์ของคุณมาวางไว้ในนี้
                        </div>
                    </label>
                </div>
            </div>
        }
        

        <div class="table-container m-4">
            <h2 class="ms-2 mt-2 fw-bold">หมายเหตุ</h2>
            <div class="table-container m-2">
                <table class="table table-hover table-responsive table-striped" id="myTable" width="100%">
                    <thead class="text-center" style="background-color: #2D4686; color: #C8E8FF">
                        <tr>
                            <th width="10%">Username</th>
                            <th width="20%">Position</th>
                            <th width="60%">Remark</th>
                            <th width="10%">Remark Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var remark in ViewBag.Remark)
                        {
                            <tr>
                                <td>@remark.Name</td>
                                <td>@remark.Position</td>
                                <td>@remark.Remark</td>
                                <td>@remark.RemarkDate</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </main>
</form>
@if (ViewBag.Status == "Self" || ViewBag.Status == "1st Evaluating")
{
    <script>
    @*function Save(isSave) {
        var guid = "@ViewBag.Guid";
        var IDPGroupId = "@ViewBag.IDPGroupId";
        var formData = new FormData();

        formData.append("Guid", guid);
        formData.append("IDPGroupId", IDPGroupId);
        formData.append("isSave", isSave);

        var actualButtons = document.querySelectorAll('button[id^="actual1Button"]');
        actualButtons.forEach(function (button, index) {
            var devRstValue = document.querySelector('input[name="DevRst_' + index + '"]');
            //var fileInput = document.querySelector('input[name="File_' + index + '"]');
            var actual1Value = parseFloat(button.textContent);

            console.log(index);
            console.log(devRstValue.value);
            //console.log(fileInput.value);
            console.log(actual1Value);

            //formData.append("Forms[" + index + "].DevRst", devRstValue);
            //formData.append("Forms[" + index + "].Actual1", actual1Value);
            //formData.append("Forms[" + index + "].File", fileInput);

        });

        $.ajax({
            url: "@Url.Action("SaveForm", "Form")",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
                location.reload();
            },
            error: function (error) {

            }
        });
    }*@

    function handleButtonClick(button) {
        var modalRadio = button.parentNode.querySelector('input[name^="modalRadio1"]:checked');
        if (modalRadio) {
            button.textContent = modalRadio.value;
            calculateGap(button);

            var row = button.closest('tr');
            var selectedActual = parseFloat(modalRadio.value);
            var actualInput = row.querySelector('input[name^="Actual1"]');
            actualInput.value = selectedActual;

        }
    }

    var actualButtons = document.querySelectorAll('button[id^="actual1Button"]');
    actualButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            handleButtonClick(this);
        });
    });

    var radioButtons = document.querySelectorAll('input[name^="modalRadio1"]');
    radioButtons.forEach(function (radioButton) {
        radioButton.addEventListener('change', function () {
            var selectedValue = this.value;
            var actualButton = this.closest('.modal1').previousElementSibling;
            if (actualButton) {
                actualButton.textContent = selectedValue;
                calculateGap(actualButton);
                //updateHiddenInput(actualButton);
            }
        });
    });

    function calculateGap(button) {
        var isTrue = true;
        var row = button.closest('tr');
        var rowId = row.getAttribute('id');
        var viewGuid = '@ViewBag.Guid';
        var negativeGapCell = row.querySelector("td:nth-child(5)");
        var positiveGapCell = row.querySelector("td:nth-child(6)");
        var requirement = parseFloat(row.querySelector("td:nth-child(3) input").value);
        var actual1 = parseFloat(button.textContent);
        var gap1 = actual1 - requirement;

        console.log(criticalCell);
        var criticalCell = row.querySelector("td:nth-child(1)");

        if (criticalCell.querySelector("div")) {
            isTrue = false;
        }

        console.log(isTrue);

        negativeGapCell.textContent = (gap1 < 0) ? gap1 : '';
        positiveGapCell.textContent = (gap1 > 0) ? gap1 : (gap1 === 0) ? '0' : '';

        if (actual1 < requirement) {
            button.style.backgroundColor = "#DAAB00";
            button.style.color = "#FDF3CE";
            button.style.fontWeight = "bold";
            button.style.fontSize = "20px";
        } else {
            button.style.backgroundColor = "#14B789";
            button.style.color = "#D5F8EF";
            button.style.fontWeight = "bold";
            button.style.fontSize = "20px";

        }

        var actualInput = row.querySelector("input[name^='Actual1']");
        actualInput.value = actual1;
    }
    </script>
}
else if (ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating")
{
    <script>
        function handleButtonClick(button) {
            var modalRadio = button.parentNode.querySelector('input[name^="modalRadio2"]:checked');
            if (modalRadio) {
                button.textContent = modalRadio.value;
                calculateGap2(button);

                var row = button.closest('tr');
                var selectedActual = parseFloat(modalRadio.value);
                var actualInput = row.querySelector("input[name^='Actual2']");
                actualInput.value = selectedActual;
            }
        }

        var actualButtons = document.querySelectorAll('button[id^="actual2Button"]');
        actualButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                handleButtonClick(this);
            });
        });

        var radioButtons = document.querySelectorAll('input[name^="modalRadio2"]');
        radioButtons.forEach(function (radioButton) {
            radioButton.addEventListener('change', function () {
                var selectedValue = this.value;
                var actualButton = this.closest('.modal2').previousElementSibling;
                if (actualButton) {
                    actualButton.textContent = selectedValue;
                    calculateGap2(actualButton);
                    //updateHiddenInput(actualButton);
                }
            });
        });

        function calculateGap2(button) {
            var row = button.closest('tr');
            var negativeGapCell2 = row.querySelector("td:nth-child(16)");
            var positiveGapCell2 = row.querySelector("td:nth-child(17)");

            var requirement = parseFloat(row.querySelector("td:nth-child(3) input").value);
            var actual1 = parseFloat(row.querySelector("td:nth-child(4) input").value);
            var actual2 = parseFloat(button.textContent);
            var gap2 = actual2 - requirement;

            negativeGapCell2.textContent = (gap2 < 0) ? gap2 : '';
            positiveGapCell2.textContent = (gap2 > 0) ? gap2 : (gap2 === 0) ? '0' : '';

            if (gap2 < 0) {
                button.style.backgroundColor = "#DAAB00";
                button.style.color = "#FDF3CE";
                button.style.fontWeight = "bold";
                button.style.fontSize = "20px";
            }
            else {
                button.style.backgroundColor = "#14B789";
                button.style.color = "#D5F8EF";
                button.style.fontWeight = "bold";
                button.style.fontSize = "20px";
            }

            var actualInput = row.querySelector("input[name^='Actual2']");
            actualInput.value = actual2;
        }
    </script>
}
<style>
    main {
        margin-top: 0px;
    }

    p {
        margin-bottom: 0;
    }

    .table-container {
        overflow: hidden;
        border-radius: 10px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    table.dataTable thead th, table.dataTable thead td {
        padding: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    table.dataTable tbody td {
        padding: 5px 5px;
    }

    .card {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .header {
        background-color: #eeeeee;
        border: 5px dotted #B30021;
    }

    .fa-address-card,
    .fa-location-dot,
    .fa-calendar-days {
        background-image: linear-gradient( 0deg, hsl(357deg 100% 30%) 0%, hsl(358deg 85% 34%) 11%, hsl(358deg 76% 37%) 22%, hsl(358deg 69% 40%) 33%, hsl(358deg 64% 42%) 44%, hsl(357deg 59% 45%) 56%, hsl(357deg 55% 47%) 67%, hsl(356deg 52% 49%) 78%, hsl(355deg 52% 52%) 89%, hsl(354deg 53% 54%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gradient-icon-send,
    .fa-key,
    .fa-scale-balanced {
        background-image: linear-gradient( 0deg, hsl(36deg 96% 62%) 0%, hsl(38deg 96% 61%) 11%, hsl(40deg 96% 61%) 22%, hsl(43deg 95% 61%) 33%, hsl(45deg 95% 60%) 44%, hsl(47deg 95% 60%) 56%, hsl(50deg 95% 60%) 67%, hsl(52deg 95% 59%) 78%, hsl(54deg 94% 59%) 89%, hsl(56deg 94% 59%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h2 {
        margin-bottom: 0;
    }

    .user-icon,
    .fa-book,
    .fa-signature {
        background-image: linear-gradient( 0deg, hsl(220deg 100% 47%) 0%, hsl(216deg 100% 47%) 6%, hsl(213deg 100% 48%) 14%, hsl(209deg 100% 48%) 22%, hsl(206deg 100% 48%) 32%, hsl(202deg 100% 49%) 43%, hsl(199deg 100% 49%) 56%, hsl(195deg 100% 49%) 70%, hsl(192deg 100% 50%) 85%, hsl(188deg 100% 50%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-ranking-star {
        background-image: linear-gradient( 0deg, hsl(233deg 51% 36%) 0%, hsl(237deg 17% 44%) 11%, hsl(298deg 1% 48%) 22%, hsl(52deg 13% 52%) 33%, hsl(54deg 26% 54%) 44%, hsl(55deg 40% 56%) 56%, hsl(55deg 54% 58%) 67%, hsl(56deg 67% 59%) 78%, hsl(56deg 81% 59%) 89%, hsl(56deg 94% 59%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-home-user,
    .fa-building {
        background-image: linear-gradient( 0deg, hsl(233deg 51% 36%) 0%, hsl(229deg 55% 38%) 11%, hsl(225deg 60% 39%) 22%, hsl(221deg 64% 41%) 33%, hsl(217deg 69% 42%) 44%, hsl(213deg 75% 44%) 56%, hsl(209deg 80% 45%) 67%, hsl(204deg 86% 46%) 78%, hsl(200deg 93% 46%) 89%, hsl(196deg 100% 47%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-tag {
        background-image: linear-gradient( 0deg, hsl(335deg 85% 55%) 0%, hsl(335deg 86% 57%) 11%, hsl(335deg 87% 59%) 22%, hsl(334deg 89% 61%) 33%, hsl(334deg 90% 63%) 44%, hsl(334deg 91% 66%) 56%, hsl(334deg 93% 68%) 67%, hsl(333deg 95% 70%) 78%, hsl(333deg 97% 72%) 89%, hsl(333deg 100% 75%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-file-text {
        background-image: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .drop-container {
        position: relative;
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        padding: 10px;
        border-radius: 10px;
        border: 2px dashed #555;
        color: #444;
        cursor: pointer;
        transition: background .2s ease-in-out, border .2s ease-in-out;
    }

        .drop-container:hover {
            background: #eee;
            border-color: #111;
        }

            .drop-container:hover .drop-title {
                color: #222;
            }

    .drop-title {
        color: #444;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        transition: color .2s ease-in-out;
    }

    .modal-header {
        justify-content: center;
    }

    .active-link-submit,
    .active-link-send,
    .active-link-exit {
        background-color: white;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

        .active-link-send:hover {
            transform: scale(.95);
            background-color: white;
            border: 2px solid #FBB040;
        }

        .active-link-submit:hover {
            transform: scale(.95);
            background-color: white;
            border: 2px solid #2D4686;
        }

        .active-link-exit:hover {
            transform: scale(.95);
            background-color: white;
            border: 2px solid #B30021;
        }

    .gradient-icon-submit {
        background-image: linear-gradient( 0deg, hsl(233deg 51% 36%) 0%, hsl(229deg 55% 38%) 11%, hsl(225deg 60% 39%) 22%, hsl(221deg 64% 41%) 33%, hsl(217deg 69% 42%) 44%, hsl(213deg 75% 44%) 56%, hsl(209deg 80% 45%) 67%, hsl(204deg 86% 46%) 78%, hsl(200deg 93% 46%) 89%, hsl(196deg 100% 47%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gradient-icon-back {
        background-image: linear-gradient( 0deg, hsl(357deg 100% 30%) 0%, hsl(358deg 85% 34%) 11%, hsl(358deg 76% 37%) 22%, hsl(358deg 69% 40%) 33%, hsl(358deg 64% 42%) 44%, hsl(357deg 59% 45%) 56%, hsl(357deg 55% 47%) 67%, hsl(356deg 52% 49%) 78%, hsl(355deg 52% 52%) 89%, hsl(354deg 53% 54%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .sticky-header-breadcrumb {
        position: sticky;
        z-index: 100;
        padding: 7px;
        border-radius: 0px;
        top: 85px;
        background-color: #2D4686;
    }
</style>
