@model IEnumerable<myApp.Models.Enrollment>
@{
    ViewBag.Title = "Forms";

}
<link rel="stylesheet" href="/CSS/Style.css">

<main>
    <form id="myForm" method="post" action="@Url.Action("SaveResultDetails", "Form", new { enrollId = ViewBag.EnrollmentId, isChecked = false })">
        <div class="text-center m-4 header">
            <div class="row justify-content-center">
                <div class="col-4">
                    <h5 class="mt-2"><i class="fa-solid fa-file-text fs-2"></i> <strong>แบบประเมิน</strong></h5>
                    <h6>
                        <i class="fa fa-key fs-4 ms-2"></i> รหัส IDP<strong>: @ViewBag.IDPGroupId</strong>
                        <i class="fa fa-book fs-4 ms-2"></i> ชื่อ IDP<strong>: @ViewBag.IDPGroupName</strong>
                    </h6>
                    <h6><i class="fa fa-solid fa-calendar-days ms-2 fs-4"></i> ปี<strong>: @ViewBag.Year</strong></h6>
                </div>
                <div class="col-8">
                    <h5 class="mt-2"><i class="fa-solid fa-address-card fs-2"></i> <strong>รายละเอียด</strong></h5>
                    <h6>
                        <i class="fa fa-key fs-4 ms-2"></i> รหัส<strong>: @ViewBag.Id</strong>
                        <i class="fa fa-user user-icon fs-4 ms-2"></i> ชื่อ<strong>: @ViewBag.Prefix @ViewBag.FirstName @ViewBag.LastName</strong>
                        <i class="fa fa-solid fa-ranking-star fs-4 ms-2"></i> ตำแหน่งขั้น<strong>: @ViewBag.JobLevel</strong>
                    </h6>
                    <h6>
                        <i class="fa fa-solid fa-location-dot fs-4 ms-2"></i> ตำแหน่ง<strong>: @ViewBag.Position</strong>
                        <i class="fa fa-home-user fs-4 ms-2"></i> แผนก<strong>: @ViewBag.Department</strong>
                        <i class="fa fa-solid fa-building ms-2 fs-4"></i> บริษัท<strong>: @ViewBag.Company</strong>
                    </h6>
                </div>
            </div>
        </div>

        <div class="table-container m-4">
            <table class="table table-hover table-responsive table-striped" id="myTable" width="100%">
                <thead style="background-color: #2D4686; color: #C8E8FF">
                    <tr>
                        <th class="text-center stickyth" rowspan="2" data-sortable="false" width="1%">Critical</th>
                        <th class="text-center stickyth" rowspan="2" width="9%">Competency</th>
                        <th class="text-center stickyth" rowspan="2" width="1%">R</th>
                        <th class="text-center stickyth" rowspan="2" width="1%">A1</th>
                        <th class="text-center" colspan="2" width="2%">GAP</th>
                        <th class="text-center" rowspan="2" width="1%">Priority</th>
                        <th class="text-center" rowspan="2" width="3%">Type</th>
                        <th class="text-center" rowspan="2" width="8%">Development Plan</th>
                        <th class="text-center" colspan="4" width="1%">Q</th>
                        <th class="text-center" rowspan="2" width="8%" style="background-color: #C8E8FF; color: #2D4686">Development Result</th>
                        <th class="text-center" rowspan="2" width="1%" style="background-color: #C8E8FF; color: #2D4686">A2</th>
                        <th class="text-center" colspan="2" width="2%" style="background-color: #C8E8FF; color: #2D4686">GAP</th>
                        <th class="text-center" rowspan="2" width="2%" style="background-color: #C8E8FF; color: #2D4686">File</th>

                    </tr>
                    <tr>
                        <th class="text-center" width="1%">-</th>
                        <th class="text-center" width="1%">+</th>
                        <th class="text-center" width="1%">Q1</th>
                        <th class="text-center" width="1%">Q2</th>
                        <th class="text-center" width="1%">Q3</th>
                        <th class="text-center" width="1%">Q4</th>
                        <th class="text-center" width="1%" style="background-color: #C8E8FF; color: #2D4686">-</th>
                        <th class="text-center" width="1%" style="background-color: #C8E8FF; color: #2D4686">+</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        var enroll = Model.ElementAt(i);
                        var gap1 = enroll.ResultItem.Actual1 - enroll.ResultItem.Requirement;
                        var gap2 = enroll.ResultItem.Actual2 - enroll.ResultItem.Requirement;
                        <tr>

                            <td class="text-center stickytd">
                                @if (enroll.IDPGroupItem.Critical == false)
                                {
                                    <text></text>
                                }
                                else
                                {
                                    <img src="~/Images/hexagon_icon.png" width="25" height="25" />
                                }
                            </td>
                            <td class="stickytd">@enroll.Competency.CompetencyNameTH</td>
                            <td class="text-center stickytd">
                                @enroll.IDPGroupItem.Pl
                                <input type="hidden" name="forms[@i].Requirement" value="@enroll.IDPGroupItem.Pl" />
                            </td>
                            <td class="text-center">
                                @if ((ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating" || ViewBag.Status == "Success" || ViewBag.UserLogin == ViewBag.Username))
                                {
                                    @enroll.ResultItem.Actual1
                                }
                                else
                                {
                                    <button id="actual1Button" onchange="calculateGap(this)" type="button" class="btn active-link-competency m-1" data-bs-toggle="modal" style="background-color: #6FCAEA; color: #147092; width: auto" data-bs-target="#DetailPl-@enroll.IDPGroupItem.CompetencyId">
                                        <strong>@(enroll.ResultItem.Actual1 != 0 ? enroll.ResultItem.Actual1.ToString() : "?")</strong>
                                    </button>
                                }
                                <div class="modal fade modal-xl modal1" id="DetailPl-@enroll.IDPGroupItem.CompetencyId" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h6 class="modal-title fs-5">
                                                    <i class="fa-solid fa-key fs-4"></i> รหัส: <strong>@enroll.IDPGroupItem.CompetencyId</strong>
                                                    <br />
                                                    <i class="fa-solid fa-signature fs-4"></i> ชื่อ: <strong>@enroll.Competency.CompetencyNameTH</strong>
                                                    <br />
                                                    <i class="fa-solid fa-scale-balanced fs-4"></i> ความต้องการ: <strong>PL@(enroll.IDPGroupItem.Pl)</strong>
                                                </h6>
                                            </div>
                                            <div class="modal-body">
                                                <h5 class="text-center">PL1</h5>
                                                @if (@enroll.Competency.Pl1 != null)
                                                {
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="modalRadio1[@i]" id="modalRadioButton1-@i" value="1" @(enroll.ResultItem.Actual1 == 1 ? "checked" : "") />
                                                        <label class="form-check-label text-start" for="modalRadioButton1-@i">
                                                            @enroll.Competency.Pl1
                                                        </label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <h5 class="text-center">ไม่มี PL1</h5>
                                                }
                                                <hr />
                                                <h5 class="text-center">PL2</h5>
                                                @if (@enroll.Competency.Pl2 != null)
                                                {
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="modalRadio1[@i]" id="modalRadioButton2-@i" value="2" @(enroll.ResultItem.Actual1 == 2 ? "checked" : "") />
                                                        <label class="form-check-label text-start" for="modalRadioButton2-@i">
                                                            @enroll.Competency.Pl2
                                                        </label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <h5 class="text-center">ไม่มี PL2</h5>
                                                }
                                                <hr />
                                                <h5 class="text-center">PL3</h5>
                                                @if (@enroll.Competency.Pl3 != null)
                                                {
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="modalRadio1[@i]" id="modalRadioButton3-@i" value="3" @(enroll.ResultItem.Actual1 == 3 ? "checked" : "") />
                                                        <label class="form-check-label text-start" for="modalRadioButton3-@i">
                                                            @enroll.Competency.Pl3
                                                        </label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <h5 class="text-center">ไม่มี PL3</h5>
                                                }
                                                <hr />
                                                <h5 class="text-center">PL4</h5>
                                                @if (@enroll.Competency.Pl4 != null)
                                                {
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="modalRadio1[@i]" id="modalRadioButton4-@i" value="4" @(enroll.ResultItem.Actual1 == 4 ? "checked" : "") />
                                                        <label class="form-check-label text-start" for="modalRadioButton4-@i">
                                                            @enroll.Competency.Pl4
                                                        </label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <h5 class="text-center">ไม่มี PL4</h5>
                                                }
                                                <hr />
                                                <h5 class="text-center">PL5</h5>
                                                @if (@enroll.Competency.Pl5 != null)
                                                {
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="modalRadio1[@i]" id="modalRadioButton5-@i" value="5" @(enroll.ResultItem.Actual1 == 5 ? "checked" : "") />
                                                        <label class="form-check-label text-start" for="modalRadioButton5-@i">
                                                            @enroll.Competency.Pl5
                                                        </label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <h5 class="text-center">ไม่มี PL5</h5>
                                                }

                                            </div>
                                            <div class="modal-footer flex-nowrap p-0">
                                                <button type="button" class="btn btn-lg col-12 text-decoration-none py-3 rounded-0 m-0 " style="background-color: #D893A3; color: #B30021" data-bs-dismiss="modal"><strong>ปิด</strong></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="forms[@i].Id" value="@ViewBag.Id" />
                                <input type="hidden" name="forms[@i].CompetencyId" value="@enroll.IDPGroupItem.CompetencyId" />
                                <input type="hidden" name="forms[@i].IDPGroupId" value="@enroll.IDPGroupId" />
                                <input type="hidden" name="forms[@i].Actual1" value="@enroll.ResultItem.Actual1" />
                                <input type="hidden" name="forms[@i].Priority" value="@enroll.ResultItem.Priority" />
                                <input type="hidden" name="forms[@i].Type" value="@enroll.ResultItem.Type" />
                                <input type="hidden" name="forms[@i].DevPlan" value="@enroll.ResultItem.DevPlan" />
                                <input type="hidden" name="forms[@i].Q1" value="@enroll.ResultItem.Q1" />
                                <input type="hidden" name="forms[@i].Q2" value="@enroll.ResultItem.Q2" />
                                <input type="hidden" name="forms[@i].Q3" value="@enroll.ResultItem.Q3" />
                                <input type="hidden" name="forms[@i].Q4" value="@enroll.ResultItem.Q4" />

                            </td>
                            <td class="text-center">
                                <span id="negative-gap1-@i">
                                    @if (gap1 < 0)
                                    {
                                        @gap1
                                    }
                                    else
                                    {

                                    }
                                </span>
                            </td>
                            <td class="text-center">
                                <span id="positive-gap1-@i">
                                    @if (gap1 >= 0)
                                    {
                                        @gap1
                                    }
                                    else
                                    {

                                    }
                                </span>
                            </td>
                            <td class="text-center">
                                <span id="priority-@i">
                                    @if (ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating" || ViewBag.Status == "Success")
                                    {
                                        @enroll.ResultItem.Priority
                                    }
                                    else if (enroll.ResultItem.Priority != null)
                                    {
                                        <select class="form-select" name="forms[@i].Priority">
                                            <option value="A" @(enroll.ResultItem.Priority == "A" ? "selected" : "")>A</option>
                                            <option value="B" @(enroll.ResultItem.Priority == "B" ? "selected" : "")>B</option>
                                            <option value="C" @(enroll.ResultItem.Priority == "C" ? "selected" : "")>C</option>
                                        </select>
                                    }
                                </span>
                                <input type="hidden" name="forms[@i].Priority" value="@enroll.ResultItem.Priority" />
                            </td>
                            <td class="text-center">
                                <span id="type-@i">
                                    @if (ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating" || ViewBag.Status == "Success")
                                    {
                                        @enroll.ResultItem.Type
                                    }
                                    else if (enroll.ResultItem.Priority != null)
                                    {
                                        <select class="form-select" name="forms[@i].Type">
                                            <option value="Co" @(enroll.ResultItem.Type == "Co" ? "selected" : "")>ผู้บังคับบัญชา (Coaching)</option>
                                            <option value="INT" @(enroll.ResultItem.Type == "INT" ? "selected" : "")>อบรมภายใน (Inhous Training)</option>
                                            <option value="JA" @(enroll.ResultItem.Type == "JA" ? "selected" : "")> การมอบหมายงาน (Job Assignment)</option>
                                            <option value="EXT" @(enroll.ResultItem.Type == "EXT" ? "selected" : "")>อบรมภายนอก (External Training)</option>
                                            <option value="PJ" @(enroll.ResultItem.Type == "PJ" ? "selected" : "")>การมอบหมายโครงการ (Project Assignment)</option>
                                            <option value="SS" @(enroll.ResultItem.Type == "SS" ? "selected" : "")>การให้ศึกษาเอง (Self- Study)</option>
                                            <option value="OJT" @(enroll.ResultItem.Type == "OJT" ? "selected" : "")>การสอนงานหน้างาน (On The Job Training)</option>
                                        </select>
                                    }
                                </span>
                            </td>
                            <td class="text-center">
                                <span id="devplan-@i">
                                    @if (ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating" || ViewBag.Status == "Success")
                                    {
                                        @enroll.ResultItem.DevPlan
                                    }
                                    else if (enroll.ResultItem.Priority != null)
                                    {
                                        <textarea class="form-control" name="forms[@i].DevPlan">@enroll.ResultItem.DevPlan</textarea>
                                    }
                                </span>
                            </td>
                            <td class="text-center">
                                <span id="q1-@i">
                                    @if (ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating" || ViewBag.Status == "Success")
                                    {
                                        if (enroll.ResultItem.Q1 == "1")
                                        {
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        }
                                    }
                                    else if (enroll.ResultItem.Priority != null)
                                    {
                                        <input class="form-check-input" type="checkbox" name="forms[@i].Q1" value="1" @(enroll.ResultItem.Q1 == "1" ? "checked" : "") />
                                    }
                                </span>
                            </td>
                            <td class="text-center">
                                <span id="q2-@i">
                                    @if (ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating" || ViewBag.Status == "Success")
                                    {
                                        if (enroll.ResultItem.Q2 == "1")
                                        {
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        }
                                    }
                                    else if (enroll.ResultItem.Priority != null)
                                    {
                                        <input class="form-check-input" type="checkbox" name="forms[@i].Q2" value="1" @(enroll.ResultItem.Q2 == "1" ? "checked" : "") />
                                    }
                                </span>
                            </td>
                            <td class="text-center">
                                <span id="q3-@i">
                                    @if (ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating" || ViewBag.Status == "Success")
                                    {
                                        if (enroll.ResultItem.Q3 == "1")
                                        {
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        }
                                    }
                                    else if (enroll.ResultItem.Priority != null)
                                    {
                                        <input class="form-check-input" type="checkbox" name="forms[@i].Q3" value="1" @(enroll.ResultItem.Q3 == "1" ? "checked" : "") />
                                    }
                                </span>
                            </td>
                            <td class="text-center">
                                <span id="q4-@i">
                                    @if (ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating" || ViewBag.Status == "Success")
                                    {
                                        if (enroll.ResultItem.Q4 == "1")
                                        {
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        }
                                    }
                                    else if (enroll.ResultItem.Priority != null)
                                    {
                                        <input class="form-check-input" type="checkbox" name="forms[@i].Q4" value="1" @(enroll.ResultItem.Q4 == "1" ? "checked" : "") />
                                    }
                                </span>
                            </td>
                            <td>
                                <span id="devrst-@i">
                                    @if (enroll.ResultItem.Priority != null && (ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating"))
                                    {
                                        <textarea class="form-control" name="forms[@i].DevRst">@enroll.ResultItem.DevRst</textarea>
                                    }
                                    else if (ViewBag.Status == "Success")
                                    {
                                        @enroll.ResultItem.DevRst
                                    }
                                </span>
                            </td>
                            <td class="text-center">
                                @if (ViewBag.Status == "Self" || ViewBag.Status == "1st Evaluating" || ViewBag.Status == "Developing")
                                {
                                    <button id="actual2Button" onchange="calculateGap2(this)" type="button" class="btn active-link-competency m-1 disabled" data-bs-toggle="modal" style="background-color: #6FCAEA; color: #147092; width: auto" data-bs-target="#Detail2Pl-@enroll.IDPGroupItem.CompetencyId">
                                        <strong>@(enroll.ResultItem.Actual2 != 0 ? enroll.ResultItem.Actual2.ToString() : "?")</strong>
                                    </button>
                                }
                                else if (ViewBag.Status == "Success")
                                {
                                    @enroll.ResultItem.Actual2
                                }
                                else
                                {
                                    <button id="actual2Button" onchange="calculateGap2(this)" type="button" class="btn active-link-competency m-1" data-bs-toggle="modal" style="background-color: #6FCAEA; color: #147092; width: auto" data-bs-target="#Detail2Pl-@enroll.IDPGroupItem.CompetencyId">
                                        <strong>@(enroll.ResultItem.Actual2 != 0 ? enroll.ResultItem.Actual2.ToString() : "?")</strong>
                                    </button>
                                }
                                <div class="modal modal2 fade modal-xl" id="Detail2Pl-@enroll.IDPGroupItem.CompetencyId" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h5 class="modal-title fs-4">
                                                    รหัส Competency: <code>@enroll.IDPGroupItem.CompetencyId</code>
                                                    <br />
                                                    ชื่อ Competency: <code>@enroll.Competency.CompetencyNameTH</code>
                                                    <br />
                                                    ความต้องการ: @enroll.IDPGroupItem.Pl
                                                </h5>
                                            </div>
                                            <div class="modal-body">
                                                <h5 class="text-center">PL1</h5>
                                                @if (@enroll.Competency.Pl1 != null)
                                                {
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="modalRadio2[@i]" id="modalRadioButton1-@i" value="1" @(enroll.ResultItem.Actual2 == 1 ? "checked" : "") />
                                                        <label class="form-check-label text-start" for="modalRadioButton1-@i">
                                                            @enroll.Competency.Pl1
                                                        </label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <h5 class="text-center">ไม่มี PL1</h5>
                                                }
                                                <hr />
                                                <h5 class="text-center">PL2</h5>
                                                @if (@enroll.Competency.Pl2 != null)
                                                {
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="modalRadio2[@i]" id="modalRadioButton2-@i" value="2" @(enroll.ResultItem.Actual2 == 2 ? "checked" : "") />
                                                        <label class="form-check-label text-start" for="modalRadioButton2-@i">
                                                            @enroll.Competency.Pl2
                                                        </label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <h5 class="text-center">ไม่มี PL2</h5>
                                                }
                                                <hr />
                                                <h5 class="text-center">PL3</h5>
                                                @if (@enroll.Competency.Pl3 != null)
                                                {
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="modalRadio2[@i]" id="modalRadioButton3-@i" value="3" @(enroll.ResultItem.Actual2 == 3 ? "checked" : "") />
                                                        <label class="form-check-label text-start" for="modalRadioButton3-@i">
                                                            @enroll.Competency.Pl3
                                                        </label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <h5 class="text-center">ไม่มี PL3</h5>
                                                }
                                                <hr />
                                                <h5 class="text-center">PL4</h5>
                                                @if (@enroll.Competency.Pl4 != null)
                                                {
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="modalRadio2[@i]" id="modalRadioButton4-@i" value="4" @(enroll.ResultItem.Actual2 == 4 ? "checked" : "") />
                                                        <label class="form-check-label text-start" for="modalRadioButton4-@i">
                                                            @enroll.Competency.Pl4
                                                        </label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <h5 class="text-center">ไม่มี PL4</h5>
                                                }
                                                <hr />
                                                <h5 class="text-center">PL5</h5>
                                                @if (@enroll.Competency.Pl5 != null)
                                                {
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="modalRadio2[@i]" id="modalRadioButton5-@i" value="5" @(enroll.ResultItem.Actual2 == 5 ? "checked" : "") />
                                                        <label class="form-check-label text-start" for="modalRadioButton5-@i">
                                                            @enroll.Competency.Pl5
                                                        </label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <h5 class="text-center">ไม่มี PL5</h5>
                                                }

                                            </div>
                                            <div class="modal-footer flex-nowrap p-0">
                                                <button type="button" class="btn btn-lg col-12 text-decoration-none py-3 rounded-0 m-0 " style="background-color: #D893A3; color: #B30021" data-bs-dismiss="modal"><strong>ปิด</strong></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="forms[@i].DevRst" value="@enroll.ResultItem.DevRst" />
                                <input type="hidden" name="forms[@i].Actual2" value="@enroll.ResultItem.Actual2" />
                            </td>
                            <td class="text-center">
                                <span id="negative-gap2-@i">
                                    @if (gap2 < 0)
                                    {
                                        @gap2
                                    }
                                    else
                                    {

                                    }
                                </span>
                            </td>
                            <td class="text-center">
                                <span id="positive-gap2-@i">
                                    @if (gap2 >= 0)
                                    {
                                        @gap2
                                    }
                                    else
                                    {

                                    }
                                </span>
                            </td>
                            <td></td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row mt-3 ms-4 me-4">
            <div class="col-2 text-start">
                <a href="@Url.Action("Index", "Form")" class="btn btn-lg active-link-back shadow-sm" style="width: auto; background-color: #D893A3">
                    <i class="fa fa-arrow-left" style="color: #B30021" aria-hidden="true">  <strong style="color: #B30021"> ออก</strong></i>
                </a>
            </div>
            <div class="col-8 text-center justify-content-center">
                @if (ViewBag.Status == "Developing")
                {
                    <label for="file" class="drop-container" id="dropContainer">
                        <input name="file" id="file" type="file" class="form-control form-control-lg mt-2" style="width: 350px; margin-left: 1rem" />
                        <div id="drag-text" class="mt-2">
                            ลากไฟล์ของคุณมาวางไว้ในนี้
                        </div>
                    </label>
                }

            </div>
            <div class="col-2 text-end">
                <button type="submit" class="btn btn-lg active-link-submit shadow-sm" style="width: auto; background-color: #84B5E9">
                    <i class="fa fa-save" style="color: #2D4686" aria-hidden="true"><strong style="color: #2D4686"> บันทึก</strong></i>
                </button>

                @if (ViewBag.Status == "Self" || ViewBag.Status == "Developing")
                {
                    <button type="button" class="btn btn-lg active-link-submit shadow-sm" style="width: auto; background-color: #84B5E9" onclick="submitFormAjax(true)">
                        <i class="fa fa-save" style="color: #2D4686" aria-hidden="true"><strong style="color: #2D4686"> บักทึก</strong></i>
                    </button>
                }
            </div>
        </div>
    </form>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@if (ViewBag.Status == "Self" || ViewBag.Status == "1st Evaluating")
{
    <script>
        function submitFormAjax(isChecked) {
            var actualButtons = document.querySelectorAll('button[id^="actual1Button"]');
            actualButtons.forEach(function (button) {
                updateHiddenInput(button);
            });

            var formData = $('#myForm').serialize();
            formData += '&isChecked=' + isChecked;

            $.ajax({
                type: 'POST',
                url: $('#myForm').attr('action'),
                data: formData,
                success: function (data) {
                    window.location.href = '@Url.Action("Index", "Form")';
                },
                error: function (xhr, status, error) {

                }
            });
        }

        function handleButtonClick(button) {
            var modalRadio = button.parentNode.querySelector('input[name^="modalRadio1"]:checked');
            if (modalRadio) {
                button.textContent = modalRadio.value;
                calculateGap(button);

                var row = button.closest('tr');
                var selectedActual = parseFloat(modalRadio.value);
                var actualInput = row.querySelector('input[name^="forms"][name$=".Actual1"]');
                actualInput.value = selectedActual;
            }
        }

        var actualButtons = document.querySelectorAll('button[id^="actual1Button"]');
        actualButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                handleButtonClick(this);
            });
        });

        var radioButtons = document.querySelectorAll('input[name^="modalRadio1"]');
        radioButtons.forEach(function (radioButton) {
            radioButton.addEventListener('change', function () {
                var selectedValue = this.value;
                var actualButton = this.closest('.modal1').previousElementSibling;
                if (actualButton) {
                    actualButton.textContent = selectedValue;
                    calculateGap(actualButton);
                    updateHiddenInput(actualButton);
                }
            });
        });

        function calculateGap(button) {
            var row = button.closest('tr');
            var negativeGapCell = row.querySelector("td:nth-child(5) span");
            var positiveGapCell = row.querySelector("td:nth-child(6) span");
            var priorityCell = row.querySelector("td:nth-child(7) span");
            var planCell = row.querySelector("td:nth-child(8) span");
            var planDescCell = row.querySelector("td:nth-child(9) span");
            var Q1Cell = row.querySelector("td:nth-child(10) span");
            var Q2Cell = row.querySelector("td:nth-child(11) span");
            var Q3Cell = row.querySelector("td:nth-child(12) span");
            var Q4Cell = row.querySelector("td:nth-child(13) span");
            var requirement = parseFloat(row.querySelector("td:nth-child(3) input").value);
            var actual1 = parseFloat(button.textContent);
            var gap1 = actual1 - requirement;

            negativeGapCell.textContent = (gap1 < 0) ? gap1 : '';
            positiveGapCell.textContent = (gap1 > 0) ? gap1 : (gap1 === 0) ? '0' : '';

            if (gap1 < 0) {
                priorityCell.innerHTML = '<select class="form-select" name="' + button.name.replace('Actual1', 'Priority') + '">' +
                    '<option value="A" ' + (button.name.includes('A') ? 'selected' : '') + '>A</option>' +
                    '<option value="B" ' + (button.name.includes('B') ? 'selected' : '') + '>B</option>' +
                    '<option value="C" ' + (button.name.includes('C') ? 'selected' : '') + '>C</option>' +
                    '</select>';

                var prioritySelect = priorityCell.querySelector('select');
                prioritySelect.addEventListener('change', function () {
                    var selectedPriority = this.value;
                    var priorityInput = row.querySelector('input[name^="forms"][name$=".Priority"]');
                    priorityInput.value = selectedPriority;
                });

                var priorityInput = row.querySelector('input[name^="forms"][name$=".Priority"]');
                priorityInput.value = prioritySelect.value;

                planCell.innerHTML = '<select class="form-select" name="' + button.name.replace('Actual1', 'Type') + '">' +
                    '<option value="Co" ' + (button.name.includes('Co') ? 'selected' : '') + '>ผู้บังคับบัญชา (Coaching)</option>' +
                    '<option value="INT" ' + (button.name.includes('INT') ? 'selected' : '') + '>อบรมภายใน (Inhous Training)</option>' +
                    '<option value="JA" ' + (button.name.includes('JA') ? 'selected' : '') + '>การมอบหมายงาน (Job Assignment)</option>' +
                    '<option value="EXT" ' + (button.name.includes('EXT') ? 'selected' : '') + '>อบรมภายนอก (External Training)</option>' +
                    '<option value="PJ" ' + (button.name.includes('PJ') ? 'selected' : '') + '>การมอบหมายโครงการ (Project Assignment)</option>' +
                    '<option value="SS" ' + (button.name.includes('SS') ? 'selected' : '') + '>การให้ศึกษาเอง (Self-Study)</option>' +
                    '<option value="OJT" ' + (button.name.includes('OJT') ? 'selected' : '') + '>การสอนงานหน้างาน (On The Job Training)</option>' +
                    '</select>';

                var planSelect = planCell.querySelector('select');
                planSelect.addEventListener('change', function () {
                    var selectedPlan = this.value;
                    var planInput = row.querySelector('input[name^="forms"][name$=".Type"]');
                    planInput.value = selectedPlan;
                });

                var planInput = row.querySelector('input[name^="forms"][name$=".Type"]');
                planInput.value = planSelect.value;

                planDescCell.innerHTML = '<textarea class="form-control" name="' + button.name.replace('Actual1', 'DevPlan') + '"></textarea>';

                var planDescTextarea = planDescCell.querySelector('textarea[name="' + button.name.replace('Actual1', 'DevPlan') + '"]');
                if (planDescTextarea) {
                    var planDescInput = row.querySelector('input[name^="forms"][name$=".DevPlan"]');
                    if (planDescInput) {
                        planDescTextarea.addEventListener('input', function () {
                            planDescInput.value = this.value;
                        });
                        planDescInput.value = planDescTextarea.value;
                    }
                }

                Q1Cell.innerHTML = '<input class="form-check-input" type="checkbox" name="' + button.name.replace('Actual1', 'Q1') + '" value="1" ' + (button.name.includes('Q1') ? 'checked' : '') + '>';
                Q2Cell.innerHTML = '<input class="form-check-input" type="checkbox" name="' + button.name.replace('Actual1', 'Q2') + '" value="1" ' + (button.name.includes('Q2') ? 'checked' : '') + '>';
                Q3Cell.innerHTML = '<input class="form-check-input" type="checkbox" name="' + button.name.replace('Actual1', 'Q3') + '" value="1" ' + (button.name.includes('Q3') ? 'checked' : '') + '>';
                Q4Cell.innerHTML = '<input class="form-check-input" type="checkbox" name="' + button.name.replace('Actual1', 'Q4') + '" value="1" ' + (button.name.includes('Q4') ? 'checked' : '') + '>';

                var Q1check = Q1Cell.querySelector('input');
                Q1check.addEventListener('change', function () {
                    var checkQ1 = this.checked ? '1' : '';
                    var Q1Input = row.querySelector('input[name^="forms"][name$=".Q1"]');
                    Q1Input.value = checkQ1;
                });

                var Q2check = Q2Cell.querySelector('input');
                Q2check.addEventListener('change', function () {
                    var checkQ2 = this.checked ? '1' : '';
                    var Q2Input = row.querySelector('input[name^="forms"][name$=".Q2"]');
                    Q2Input.value = checkQ2;
                });

                var Q3check = Q3Cell.querySelector('input');
                Q3check.addEventListener('change', function () {
                    var checkQ3 = this.checked ? '1' : '';
                    var Q3Input = row.querySelector('input[name^="forms"][name$=".Q3"]');
                    Q3Input.value = checkQ3;
                });

                var Q4check = Q4Cell.querySelector('input');
                Q4check.addEventListener('change', function () {
                    var checkQ4 = this.checked ? '1' : '';
                    var Q4Input = row.querySelector('input[name^="forms"][name$=".Q4"]');
                    Q4Input.value = checkQ4;
                });



            } else {
                priorityCell.innerHTML = '';
                planCell.innerHTML = '';
                planDescCell.innerHTML = '';
                Q1Cell.innerHTML = '';
                Q2Cell.innerHTML = '';
                Q3Cell.innerHTML = '';
                Q4Cell.innerHTML = '';

                var priorityInput = row.querySelector('input[name^="forms"][name$=".Priority"]');
                priorityInput.value = '';
                var planInput = row.querySelector('input[name^="forms"][name$=".Type"]');
                planInput.value = '';
                var planDescInput = row.querySelector('textarea[name^="forms"][name$=".DevPlan"]');
                if (planDescInput) {
                    planDescInput.value = '';
                }
                var Q1Input = row.querySelector('input[name^="forms"][name$=".Q1"]');
                if (Q1Input) {
                    Q1Input.checked = false;
                    Q1Input.value = "";
                }

                var Q2Input = row.querySelector('input[name^="forms"][name$=".Q2"]');
                if (Q2Input) {
                    Q2Input.checked = false;
                    Q2Input.value = "";
                }

                var Q3Input = row.querySelector('input[name^="forms"][name$=".Q3"]');
                if (Q3Input) {
                    Q3Input.checked = false;
                    Q3Input.value = "";
                }

                var Q4Input = row.querySelector('input[name^="forms"][name$=".Q4"]');
                if (Q4Input) {
                    Q4Input.checked = false;
                    Q4Input.value = "";
                }
            }

            var actualInput = row.querySelector("input[name^='forms'][name$='.Actual1']");
            actualInput.value = actual1;
        }



        function updateHiddenInput(button) {
            var row = button.closest('tr');
            var prioritySelect = row.querySelector('select[name^="forms"][name$=".Priority"]');
            var priorityInput = row.querySelector('input[name^="forms"][name$=".Priority"]');
            if (prioritySelect) {
                var selectedPriority = prioritySelect.value;
                priorityInput.value = selectedPriority;
            }
            var planSelect = row.querySelector('select[name^="forms"][name$=".Type"]');
            var planInput = row.querySelector('input[name^="forms"][name$=".Type"]');
            if (planSelect) {
                var selectedPlan = planSelect.value;
                planInput.value = selectedPlan;
            }
            var planDescTextarea = row.querySelector('textarea[name^="forms"][name$=".DevPlan"]');
            var planDescInput = row.querySelector('input[name^="forms"][name$=".DevPlan"]');
            if (planDescTextarea) {
                var selectedPlanDesc = planDescTextarea.value;
                planDescInput.value = selectedPlanDesc;
            }
            var Q1Check = row.querySelector('input[type="checkbox"][name^="forms"][name$=".Q1"]');
            var Q1Input = row.querySelector('input[name^="forms"][name$=".Q1"]');
            if (Q1Check) {
                var checkedQ1 = Q1Check.checked ? '1' : '';
                Q1Input.value = checkedQ1;
            }
            var Q2Check = row.querySelector('input[type="checkbox"][name^="forms"][name$=".Q2"]');
            var Q2Input = row.querySelector('input[name^="forms"][name$=".Q2"]');
            if (Q2Check) {
                var checkedQ2 = Q2Check.checked ? '1' : '';
                Q2Input.value = checkedQ2;
            }
            var Q3Check = row.querySelector('input[type="checkbox"][name^="forms"][name$=".Q3"]');
            var Q3Input = row.querySelector('input[name^="forms"][name$=".Q3"]');
            if (Q3Check) {
                var checkedQ3 = Q3Check.checked ? '1' : '';
                Q3Input.value = checkedQ3;
            }
            var Q4Check = row.querySelector('input[type="checkbox"][name^="forms"][name$=".Q4"]');
            var Q4Input = row.querySelector('input[name^="forms"][name$=".Q4"]');
            if (Q4Check) {
                var checkedQ4 = Q4Check.checked ? '1' : '';
                Q4Input.value = checkedQ4;
            }
        }



        var forms = document.querySelectorAll('form[id^="form-"]');
        forms.forEach(function (form) {
            form.addEventListener('submit', function (event) {
                var actualButtons = this.querySelectorAll('button[id^="actual1Button"]');
                actualButtons.forEach(function (button) {
                    updateHiddenInput(button);
                });
            });
        });


    </script>
}
else if (ViewBag.Status == "Developing" || ViewBag.Status == "2nd Evaluating")
{
    <script>
        function submitFormAjax(isChecked) {
            var actualButtons = document.querySelectorAll('button[id^="actual2Button"]');
            actualButtons.forEach(function (button) {
                updateHiddenInput(button);
            });

            var formData = $('#myForm').serialize();
            formData += '&isChecked=' + isChecked;

            $.ajax({
                type: 'POST',
                url: $('#myForm').attr('action'),
                data: formData,
                success: function (data) {
                    window.location.href = '@Url.Action("Index", "Form")';
                },
                error: function (xhr, status, error) {

                }
            });
        }

        function handleButtonClick(button) {
            var modalRadio = button.parentNode.querySelector('input[name^="modalRadio2"]:checked');
            if (modalRadio) {
                button.textContent = modalRadio.value;
                calculateGap(button);

                var row = button.closest('tr');
                var selectedActual = parseFloat(modalRadio.value);
                var actualInput = row.querySelector('input[name^="forms"][name$=".Actual2"]');
                actualInput.value = selectedActual;
            }
        }

        var actualButtons = document.querySelectorAll('button[id^="actual2Button"]');
        actualButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                handleButtonClick(this);
            });
        });

        var radioButtons = document.querySelectorAll('input[name^="modalRadio2"]');
        radioButtons.forEach(function (radioButton) {
            radioButton.addEventListener('change', function () {
                var selectedValue = this.value;
                var actualButton = this.closest('.modal2').previousElementSibling;
                if (actualButton) {
                    actualButton.textContent = selectedValue;
                    calculateGap(actualButton);
                    updateHiddenInput(actualButton);
                }
            });
        });

        function calculateGap(button) {
            var row = button.closest('tr');
            var devRstCell = row.querySelector("td:nth-child(14) span");
            var negativeGapCell2 = row.querySelector("td:nth-child(16) span");
            var positiveGapCell2 = row.querySelector("td:nth-child(17) span");

            var requirement = parseFloat(row.querySelector("td:nth-child(3) input").value);
            var actual1 = parseFloat(row.querySelector("td:nth-child(4) input").value);
            var actual2 = parseFloat(button.textContent);
            var gap2 = actual2 - requirement;
            var gap1 = actual1 - requirement;

            negativeGapCell2.textContent = (gap2 < 0) ? gap2 : '';
            positiveGapCell2.textContent = (gap2 > 0) ? gap2 : (gap2 === 0) ? '0' : '';

            /*if (gap1 < 0) {
                devRstCell.innerHTML = '<textarea class="form-control" name="' + button.name.replace('Actual1', 'DevRst') + '"></textarea>';

                var devRstTextarea = devRstCell.querySelector('textarea[name="' + button.name.replace('Actual1', 'DevRst') + '"]');
                if (devRstTextarea) {
                    var devRstInput = row.querySelector('input[name^="forms"][name$=".DevRst"]');
                    if (devRstInput) {
                        devRstTextarea.addEventListener('input', function () {
                            devRstInput.value = this.value;
                        });
                        devRstInput.value = devRstTextarea.value;
                    }
                }
            }*/

            var actualInput = row.querySelector("input[name^='forms'][name$='.Actual2']");
            actualInput.value = actual2;
        }

        function updateHiddenInput(button) {
            var row = button.closest('tr');

            var devRstTextarea = row.querySelector('textarea[name^="forms"][name$=".DevRst"]');
            var devRstInput = row.querySelector('input[name^="forms"][name$=".DevRst"]');
            if (devRstTextarea) {
                var selecteddevRst = devRstTextarea.value;
                devRstInput.value = selecteddevRst;
            }

        }
    </script>
}




<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.2.2/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#myTable').DataTable({
            info: false,
            scrollX: true,
            paging: false,
            searching: false,
            ordering: false,
            language: {
                search: '',
                searchPlaceholder: 'ค้นหา',
                lengthMenu: '_MENU_',
                paginate: {
                    next: 'ถัดไป <i class="fa fa-angle-right"></i>',
                    previous: '<i class="fa fa-angle-left"></i> ก่อนหน้า'
                },
                info: 'กำลังแสดง _START_ ถึง _END_ จาก _TOTAL_'
            },


            initComplete: function () {
                js('#myTable_length label').addClass('entries-label');
            }
        });
    });
</script>
<style>
    main {
        margin-top: 100px;
    }

    .table-container {
        overflow: hidden;
        border-radius: 10px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    table.dataTable thead th, table.dataTable thead td {
        padding: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    table.dataTable tbody td {
        padding: 5px 5px;
    }

    .card {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .header {
        background-color: #eeeeee;
        border: 5px dotted #B30021;
    }

    .fa-address-card,
    .fa-location-dot,
    .fa-calendar-days {
        background-image: linear-gradient( 0deg, hsl(357deg 100% 30%) 0%, hsl(358deg 85% 34%) 11%, hsl(358deg 76% 37%) 22%, hsl(358deg 69% 40%) 33%, hsl(358deg 64% 42%) 44%, hsl(357deg 59% 45%) 56%, hsl(357deg 55% 47%) 67%, hsl(356deg 52% 49%) 78%, hsl(355deg 52% 52%) 89%, hsl(354deg 53% 54%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-key,
    .fa-scale-balanced {
        background-image: linear-gradient( 0deg, hsl(36deg 96% 62%) 0%, hsl(38deg 96% 61%) 11%, hsl(40deg 96% 61%) 22%, hsl(43deg 95% 61%) 33%, hsl(45deg 95% 60%) 44%, hsl(47deg 95% 60%) 56%, hsl(50deg 95% 60%) 67%, hsl(52deg 95% 59%) 78%, hsl(54deg 94% 59%) 89%, hsl(56deg 94% 59%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .user-icon,
    .fa-book,
    .fa-signature {
        background-image: linear-gradient( 0deg, hsl(220deg 100% 47%) 0%, hsl(216deg 100% 47%) 6%, hsl(213deg 100% 48%) 14%, hsl(209deg 100% 48%) 22%, hsl(206deg 100% 48%) 32%, hsl(202deg 100% 49%) 43%, hsl(199deg 100% 49%) 56%, hsl(195deg 100% 49%) 70%, hsl(192deg 100% 50%) 85%, hsl(188deg 100% 50%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-ranking-star {
        background-image: linear-gradient( 0deg, hsl(233deg 51% 36%) 0%, hsl(237deg 17% 44%) 11%, hsl(298deg 1% 48%) 22%, hsl(52deg 13% 52%) 33%, hsl(54deg 26% 54%) 44%, hsl(55deg 40% 56%) 56%, hsl(55deg 54% 58%) 67%, hsl(56deg 67% 59%) 78%, hsl(56deg 81% 59%) 89%, hsl(56deg 94% 59%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-home-user,
    .fa-building {
        background-image: linear-gradient( 0deg, hsl(233deg 51% 36%) 0%, hsl(229deg 55% 38%) 11%, hsl(225deg 60% 39%) 22%, hsl(221deg 64% 41%) 33%, hsl(217deg 69% 42%) 44%, hsl(213deg 75% 44%) 56%, hsl(209deg 80% 45%) 67%, hsl(204deg 86% 46%) 78%, hsl(200deg 93% 46%) 89%, hsl(196deg 100% 47%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-tag {
        background-image: linear-gradient( 0deg, hsl(335deg 85% 55%) 0%, hsl(335deg 86% 57%) 11%, hsl(335deg 87% 59%) 22%, hsl(334deg 89% 61%) 33%, hsl(334deg 90% 63%) 44%, hsl(334deg 91% 66%) 56%, hsl(334deg 93% 68%) 67%, hsl(333deg 95% 70%) 78%, hsl(333deg 97% 72%) 89%, hsl(333deg 100% 75%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-file-text {
        background-image: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .drop-container {
        position: relative;
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        padding: 10px;
        border-radius: 10px;
        border: 2px dashed #555;
        color: #444;
        cursor: pointer;
        transition: background .2s ease-in-out, border .2s ease-in-out;
    }

        .drop-container:hover {
            background: #eee;
            border-color: #111;
        }

            .drop-container:hover .drop-title {
                color: #222;
            }

    .drop-title {
        color: #444;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        transition: color .2s ease-in-out;
    }

    .modal-header {
        justify-content: center;
    }
</style>



