@model IEnumerable<myApp.Models.Enrollment>
@{
    ViewBag.Title = "หน้าแรก";
    string current = ViewBag.Guid_1;
    bool formSubmitted = TempData["FormSubmitted"] as bool? ?? false;
    ViewBag.FormSubmitted = formSubmitted;
    /*string[] backgroundColors = new string[]
    {
            "linear-gradient(\r\n  45deg,\r\n  hsl(36deg 96% 62%) 0%,\r\n  hsl(38deg 96% 61%) 11%,\r\n  hsl(40deg 96% 61%) 22%,\r\n  hsl(43deg 95% 61%) 33%,\r\n  hsl(45deg 95% 60%) 44%,\r\n  hsl(47deg 95% 60%) 56%,\r\n  hsl(50deg 95% 60%) 67%,\r\n  hsl(52deg 95% 59%) 78%,\r\n  hsl(54deg 94% 59%) 89%,\r\n  hsl(56deg 94% 59%) 100%\r\n);",
            "linear-gradient(\r\n  45deg,\r\n  hsl(335deg 85% 55%) 0%,\r\n  hsl(335deg 86% 57%) 11%,\r\n  hsl(335deg 87% 59%) 22%,\r\n  hsl(334deg 89% 61%) 33%,\r\n  hsl(334deg 90% 63%) 44%,\r\n  hsl(334deg 91% 66%) 56%,\r\n  hsl(334deg 93% 68%) 67%,\r\n  hsl(333deg 95% 70%) 78%,\r\n  hsl(333deg 97% 72%) 89%,\r\n  hsl(333deg 100% 75%) 100%\r\n);",
            "linear-gradient(\r\n  45deg,\r\n  hsl(4deg 85% 57%) 0%,\r\n  hsl(7deg 86% 58%) 11%,\r\n  hsl(11deg 87% 58%) 22%,\r\n  hsl(14deg 89% 59%) 33%,\r\n  hsl(18deg 90% 59%) 44%,\r\n  hsl(22deg 91% 60%) 56%,\r\n  hsl(25deg 92% 60%) 67%,\r\n  hsl(29deg 93% 61%) 78%,\r\n  hsl(32deg 95% 61%) 89%,\r\n  hsl(36deg 96% 62%) 100%\r\n);",
            "linear-gradient(\r\n  45deg,\r\n  hsl(233deg 51% 36%) 0%,\r\n  hsl(229deg 55% 38%) 11%,\r\n  hsl(225deg 60% 39%) 22%,\r\n  hsl(221deg 64% 41%) 33%,\r\n  hsl(217deg 69% 42%) 44%,\r\n  hsl(213deg 75% 44%) 56%,\r\n  hsl(209deg 80% 45%) 67%,\r\n  hsl(204deg 86% 46%) 78%,\r\n  hsl(200deg 93% 46%) 89%,\r\n  hsl(196deg 100% 47%) 100%\r\n);"
    };*/

}
<link rel="stylesheet" href="/CSS/Style.css">
<div class="sticky-header-breadcrumb">
    <div class="header-breadcrumb" style="background-color: #2D4686;">
        <div class="row me-2">
            <div class="col-auto me-auto">

                <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34; );">
                    <ol class="breadcrumb breadcrumb-chevron bg-body-tertiary ms-3 mt-3">
                        <li class="breadcrumb-item">
                            <a class="link-body-emphasis text-decoration-none" href="@Url.Action("Index", "Form")">
                                <i class="fa-solid fa-home" style="color: #C8E8FF"></i> <strong style="color: #C8E8FF">หน้าแรก</strong>
                                <span class="visually-hidden">Home</span>
                            </a>
                        </li>
                    </ol>
                </nav>

            </div>
            <div class="col-auto">
                <ul class="nav align-items-center text-center me-2 py-2">
                    <li class="nav-item ms-2">
                        <a class="nav-link year" href="@Url.Action("Index", "Form", new { Year = (DateTime.Now.Year + 544).ToString() })" style="color: #C8E8FF">
                            <strong>@(DateTime.Now.Year + 544)</strong>
                        </a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link year" href="@Url.Action("Index", "Form", new { Year = (DateTime.Now.Year + 543).ToString() })" style="color: #C8E8FF">
                            <strong>@(DateTime.Now.Year + 543)</strong>
                        </a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link year" href="@Url.Action("Index", "Form", new { Year = (DateTime.Now.Year + 542).ToString() })" style="color: #C8E8FF">
                            <strong>@(DateTime.Now.Year + 542)</strong>
                        </a>
                    </li>
                    <li class="nav-item ms-2 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="yearDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #C8E8FF">
                            <strong>ปีก่อนๆ</strong>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="yearDropdown" id="dropdownMenu">

                            <li>
                                <a class="nav-link year" href="@Url.Action("Index", "Form", new { Year = (DateTime.Now.Year + 541).ToString() })"><strong>@(DateTime.Now.Year + 541)</strong></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="text-center sticky-header">
        <div class="background-container">
            <i class="fa-solid fa-home topic-icon"></i>
        </div>
    </div>
</div>
<div class="container topic-title">
    <div class="row">
        <div class="col-3">
            <a href="@Url.Action("Goodness", "Form", new { year = ViewBag.Year })" class="btn btn-lg active-link-good">
                <i class="fa-solid fa-star" aria-hidden="true"></i> <strong class="gradient-text-good">บันทึกความดี</strong>
            </a>
        </div>
        <div class="col-6 text-center fw-bold">
            <h1>เลือกแบบประเมิน</h1>
        </div>
        <div class="col-3 text-end">
            <button id="toggle-btn" class="btn btn-lg action-view"><i class="fa-solid fa-list-ul"></i></button>
        </div>
    </div>
</div>

<div class="px-4" id="custom-cards">

    @if (Model.Count() == 0)
    {
        <div class="alert alert-danger alert-dismissible fade show text-center container mt-2" role="alert" id="alertBox">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>ไม่มี <strong>IDP Group</strong> ที่ลงทะเบียนไว้
        </div>
    }
    <div id="list-view">
        <div class="container">
            <table class="table" id="myTable">
                <thead style="background-color: #2D4686; color: #C8E8FF">
                    <tr>
                        <th width="10%" class="text-center">K2 No.</th>
                        <th width="5%" class="text-center">IDPGroupId</th>
                        <th width="15%" class="text-center">IDPGroupName</th>
                        <th width="5%" class="text-center">Year</th>
                        <th width="10%" class="text-center">Current Approver</th>
                        <th width="5%" class="text-center">Status</th>
                        <th width="5%" class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emp in Model)
                    {
                        <tr>
                            <td class="text-center">@emp.Result.K2_No</td>
                            <td class="text-center">@emp.IDPGroupId</td>
                            <td class="text-center">@emp.IDPGroup.IDPGroupName</td>
                            <td class="text-center">@emp.Result.Year</td>
                            <td class="text-center">@emp.Result.CurrentApprover</td>
                            <td class="text-center">
                                @if (emp.Status == "Draft")
                                {
                                    <p style="color: #802FDE; background-color: #E8E2F7; padding: 3px; border-radius: 3rem; width: auto; " class="text-center fw-bold">@emp.Status</p>
                                }
                                else if (emp.Status == "Self")
                                {
                                    <p style="color: #E50087; background-color: #FFE5F4; padding: 3px; border-radius: 3rem; width: auto; " class="text-center fw-bold">@emp.Status</p>
                                }
                                else if (emp.Status == "1st Evaluating")
                                {
                                    <p style="color: #DAAB00; background-color: #FDF3CE; padding: 3px; border-radius: 3rem; width: auto; " class="text-center fw-bold">@emp.Status</p>
                                }
                                else if (emp.Status == "Developing")
                                {
                                    <p style="color: #00AEE5; background-color: #D8F6FF; padding: 3px; border-radius: 3rem; width: auto; " class="text-center fw-bold">@emp.Status</p>
                                }
                                else if (emp.Status == "2nd Evaluating")
                                {
                                    <p style="color: #DAAB00; background-color: #FDF3CE; padding: 3px; border-radius: 3rem; width: auto; " class="text-center fw-bold">@emp.Status</p>
                                }
                                else if (emp.Status == "Success")
                                {
                                    <p style="color: #14B789; background-color: #D5F8EF; padding: 3px; border-radius: 3rem; width: auto; " class="text-center fw-bold">@emp.Status</p>
                                }
                                else if (emp.Status == "Decline")
                                {
                                    <p style="color: #CC660A; background-color: #FFF2E7; padding: 3px; border-radius: 3rem; width: auto; " class="text-center fw-bold">@emp.Status</p>
                                }
                            </td>
                            <td class="text-center">
                                <div class="btn-group" role="group" aria-label="Second group">
                                    <a href="@Url.Action("Info", new { idpGroupId = emp.IDPGroupId, guid = emp.Result.GUID })" class="btn active-link-info" title="ผลลัพธ์">
                                        <i class="fa fa-info gradient-text-edit fs-5" aria-hidden="true"></i>
                                    </a>
                                    <a id="link" href="@Url.Action("Form", new { idpGroupId = emp.IDPGroupId, guid = emp.Result.GUID })" class="btn active-link-form" title="ทำแบบประเมิน">
                                        <i class="fa fa-file-text gradient-icon-form fa-beat fs-5" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div id="card-view" style="display: none;">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var enroll = Model.ElementAt(i);
                    var form = Url.Action("Form", "Home", new { idpGroupId = enroll.IDPGroupId, guid = enroll.Result.GUID });
                    var info = Url.Action("Info", "Home", new { idpGroupId = enroll.IDPGroupId, guid = enroll.Result.GUID });
                    string backgroundColor = "";
                    string color = "";
                    if (enroll.Status == "Draft")
                    {
                        backgroundColor = "#802FDE";
                        color = "#E8E2F7";
                    }
                    else if (enroll.Status == "Self")
                    {
                        backgroundColor = "#E50087";
                        color = "#FFE5F4";
                    }
                    else if (enroll.Status == "1st Evaluating")
                    {
                        backgroundColor = "#DAAB00";
                        color = "#FDF3CE";
                    }
                    else if (enroll.Status == "Developing")
                    {
                        backgroundColor = "#00AEE5";
                        color = "#D8F6FF";
                    }
                    else if (enroll.Status == "2nd Evaluating")
                    {
                        backgroundColor = "#DAAB00";
                        color = "#FDF3CE";
                    }
                    else if (enroll.Status == "Success")
                    {
                        backgroundColor = "#14B789";
                        color = "#D5F8EF";
                    }
                    else if (enroll.Status == "Decline")
                    {
                        backgroundColor = "#CC660A";
                        color = "#FFF2E7";
                    }
                    <div class="col">
                        <div class="card card-cover h-100 overflow-hidden rounded-4 border-0" style="background-color: @backgroundColor;">
                            <div class="d-flex flex-column h-100 p-5 pb-3 pt-3 text-white border-0">
                                <div class="d-flex flex-row">
                                    <h3 class="lh-1 fw-bold mt-2 me-auto" style="color: @color">@enroll.IDPGroupId</h3>
                                    <div class="p-2">
                                        <a href="@form">
                                            <i class="fa-solid fa-file-text fs-5" style="color: @color"></i>
                                        </a>
                                    </div>
                                    <div class="p-2">
                                        <a href="@info">
                                            <i class="fa-solid fa-info fs-5" style="color: @color"></i>
                                        </a>
                                    </div>
                                </div>
                                <h4 class="lh-1 fw-bold mt-2" style="color: @color">@enroll.IDPGroup.IDPGroupName</h4>
                                <ul class="d-flex list-unstyled mt-5">
                                    <li>
                                        @if (enroll.Status == "Self")
                                        {
                                            <i class="fa-solid fa-file-signature fa-beat" aria-hidden="true" style="font-size: xx-large; color: @color; "></i>
                                        }
                                        else if (enroll.Status == "1st Evaluating")
                                        {
                                            <i class="fa fa-spinner fa-spin" aria-hidden="true" style="font-size: xx-large; color: @color;"></i>
                                        }
                                        else if (enroll.Status == "Developing")
                                        {
                                            <i class="fa-solid fa-graduation-cap fa-beat" aria-hidden="true" style="font-size: xx-large; color: @color;"></i>
                                        }
                                        else if (enroll.Status == "2nd Evaluating")
                                        {
                                            <i class="fa fa-spinner fa-spin" aria-hidden="true" style="font-size: xx-large; color: @color;"></i>
                                        }
                                        else if (enroll.Status == "Success")
                                        {
                                            <i class="fa-solid fa-circle-check" aria-hidden="true" style="font-size: xx-large; color: @color;"></i>
                                        }
                                        else if (enroll.Status == "Decline")
                                        {
                                            <i class="fa-solid fa-ban" aria-hidden="true" style="font-size: xx-large; color: @color;"></i>
                                        }
                                    </li>
                                    <li class="me-auto">
                                        <h4 style="color: @color" class="ms-2 mt-1"> <strong>@enroll.Status</strong></h4>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <h4 style="color: @color" class="mt-1"><i class="fa fa-layer-group"></i> <strong>@enroll.Competencies</strong></h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    function toggleView() {
        var listView = document.getElementById('list-view');
        var cardView = document.getElementById('card-view');
        var toggleBtn = document.getElementById('toggle-btn');

        if (listView.style.display === 'none') {
            listView.style.display = 'block';
            cardView.style.display = 'none';
            toggleBtn.innerHTML = '<i class="fa-solid fa-list-ul"></i>';
        } else {
            listView.style.display = 'none';
            cardView.style.display = 'block';
            toggleBtn.innerHTML = '<i class="fa-solid fa-grip"></i>';
        }
    }

    var toggleBtn = document.getElementById('toggle-btn');
    toggleBtn.addEventListener('click', toggleView);
</script>


<style>

    #myTable {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .gradient-text-edit {
        background-image: linear-gradient( 0deg, hsl(220deg 100% 47%) 0%, hsl(216deg 100% 47%) 6%, hsl(213deg 100% 48%) 14%, hsl(209deg 100% 48%) 22%, hsl(206deg 100% 48%) 32%, hsl(202deg 100% 49%) 43%, hsl(199deg 100% 49%) 56%, hsl(195deg 100% 49%) 70%, hsl(192deg 100% 50%) 85%, hsl(188deg 100% 50%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gradient-text-good {
        background-image: linear-gradient( 0deg, hsl(233deg 51% 36%) 0%, hsl(225deg 58% 38%) 11%, hsl(218deg 65% 39%) 22%, hsl(213deg 74% 40%) 33%, hsl(208deg 85% 40%) 44%, hsl(204deg 100% 39%) 56%, hsl(202deg 100% 41%) 67%, hsl(200deg 100% 43%) 78%, hsl(198deg 100% 45%) 89%, hsl(196deg 100% 47%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        margin-bottom: 0;
    }


    .active-link-form {
        border: none;
        background-color: white;
    }

        .active-link-form:hover {
            background-color: white;
            border-bottom: 2px solid #FBB040;
        }

    .active-link-good:hover {
        transform: scale(.95);
        background-color: white;
        border: 2px solid #2d388a;
    }

    .active-link-form:hover i {
        transform: scale(1.2);
    }

    .fa-star,
    .gradient-icon-form {
        background-image: linear-gradient( 0deg, hsl(36deg 96% 62%) 0%, hsl(38deg 96% 61%) 11%, hsl(40deg 96% 61%) 22%, hsl(43deg 95% 61%) 33%, hsl(45deg 95% 60%) 44%, hsl(47deg 95% 60%) 56%, hsl(50deg 95% 60%) 67%, hsl(52deg 95% 59%) 78%, hsl(54deg 94% 59%) 89%, hsl(56deg 94% 59%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .list-group-item-action:hover {
        background-color: #007bff; /* Replace with your desired background color */
        color: #fff; /* Replace with your desired text color */
    }

    .list-group-item.disabled {
        opacity: 0.6;
        pointer-events: none;
    }

    a {
        text-decoration: none;
    }

    .active-link-back:hover {
        transform: scale(1.05);
        border: 3px solid #9B0008;
    }

    .active-link-back:active {
        transform: scale(.95);
    }

    .year {
        color: #053a2f;
    }

        .year:hover {
            color: #053a2f;
            text-decoration: underline;
        }

    .sticky-header-breadcrumb {
        position: sticky;
        border-radius: 0px;
        z-index: 10;
        top: 85px;
    }

    .sticky-header {
        position: sticky;
        z-index: 20;
    }

    .action-view:hover {
        transform: scale(.95);
    }

    .background-container {
        background-color: white; /* Set the white background */
        display: inline-block; /* Display the container as an inline block to wrap the icon */
        border-radius: 50%; /* Apply a circular shape to the container */
        padding: 1rem; /* Add padding around the icon */
        overflow: hidden; /* Hide any overflow from the circular container */
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; /* Add a box shadow */
        margin-top: -40px;
    }

    .topic-icon {
        background: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text; /* Clip the background to the text */
        -webkit-text-fill-color: transparent; /* Make the text transparent to show the background gradient */
        font-size: 45px;
        /* Any other styles for the icon, if needed */
    }

    .topic-title {
        background-image: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }

        .topic-title h1 {
            font-weight: bold;
        }

    .active-link-back,
    .card {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

        .active-link-back:hover {
            transform: scale(.95);
            border: 2px solid #9B0008;
        }

    .gradient-icon-back {
        background-image: linear-gradient( 0deg, hsl(357deg 100% 30%) 0%, hsl(358deg 85% 34%) 11%, hsl(358deg 76% 37%) 22%, hsl(358deg 69% 40%) 33%, hsl(358deg 64% 42%) 44%, hsl(357deg 59% 45%) 56%, hsl(357deg 55% 47%) 67%, hsl(356deg 52% 49%) 78%, hsl(355deg 52% 52%) 89%, hsl(354deg 53% 54%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .active-link-good {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        background-color: white;
    }

    .active-link-info {
        border: none;
        background-color: white;
    }

        .active-link-info:hover {
            background-color: white;
            border-bottom: 2px solid #0061ff;
        }

            .active-link-info:hover i {
                transform: scale(1.2);
            }
</style>
<script>
    // ฟังก์ชันสำหรับเพิ่มปีใน dropdown
    function addYearToDropdown(year) {
        let url = '@Url.Action("Index", "Form", new { Year = "replaceYear" })';
        url = url.replace("replaceYear", year);
        const listItem = document.createElement("li");
        listItem.innerHTML = `<a class="nav-link year" href="${url}"><strong>${year}</strong></a>`;
        document.getElementById("dropdownMenu").appendChild(listItem);
    }

    // ฟังก์ชันสำหรับตรวจสอบปีปัจจุบันและเพิ่มปีใหม่ใน dropdown
    function checkAndUpdateYear() {
        const currentYear = new Date().getFullYear();
        const lastYearInDropdown = @DateTime.Now.Year + 541;
        if (currentYear > lastYearInDropdown) {
            for (let i = currentYear - 1; i >= lastYearInDropdown; i--) {
                addYearToDropdown(i);
            }
        }
    }

    // เรียกใช้ฟังก์ชันเมื่อหน้าเว็บโหลดขึ้นมา
    window.onload = checkAndUpdateYear;

    // เรียกใช้ฟังก์ชันเมื่อมีการคลิกปุ่มหรือเกิดเหตุการณ์ที่ทำให้เกิดการรีเฟรชหน้าเว็บ
    window.addEventListener("click", checkAndUpdateYear);
    window.addEventListener("beforeunload", checkAndUpdateYear);
</script>
