@model IEnumerable<myApp.Models.Enrollment>
@{
    ViewBag.Title = "Info";
}
<link rel="stylesheet" href="/CSS/Style.css">
<div class="sticky-header-breadcrumb">
    <div class="row me-2">
        <div class="col-auto me-auto">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34; );">
                <ol class="breadcrumb breadcrumb-chevron bg-body-tertiary ms-3 mt-3">
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis text-decoration-none" href="@Url.Action("Index", "Form")">
                            <i class="fa-solid fa-home" style="color: #C8E8FF"></i> <strong style="color: #C8E8FF">หน้าแรก</strong>
                            <span class="visually-hidden">Home</span>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis text-decoration-none" style="color: #C8E8FF" href="@Url.Action("Info", "Form", new { year = (DateTime.Now.Year + 543).ToString() })"><strong>ข้อมูลรายละเอียด</strong></a>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="col-auto overflow-x">
            <ul class="nav align-items-center text-center me-2 py-2">
                <li class="nav-item ms-2">
                    <a class="nav-link year" href="@Url.Action("Info", "Form", new { year = (DateTime.Now.Year + 543).ToString() })" style="color: #C8E8FF"><strong>@(DateTime.Now.Year + 543)</strong></a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link year" href="@Url.Action("Info", "Form", new { year = (DateTime.Now.Year + 542).ToString() })" style="color: #C8E8FF"><strong>@(DateTime.Now.Year + 542)</strong></a>
                </li>
                <li class="nav-item ms-2 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="yearDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #C8E8FF">
                        <strong>ปีก่อนๆ</strong>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="yearDropdown">
                        <li>
                            <a class="nav-link year" href="@Url.Action("Info", "Form", new { year = (DateTime.Now.Year + 541).ToString() })"><strong>@(DateTime.Now.Year + 541)</strong></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<main>
    @{
        var enrollmentsGrouped = Model.GroupBy(e => e.EnrollId);
        var emp = enrollmentsGrouped.FirstOrDefault()?.FirstOrDefault();
    }
    <div class="text-center m-4 sticky-header-topic">
        <h5 class="mt-2"><i class="fa-solid fa-address-card fs-2"></i> <strong>รายละเอียด</strong></h5>
        <div class="row justify-content-center">
            <div class="col-4 text-end">
                <h6><i class="fa fa-key fs-4"></i> รหัส<strong>: @ViewBag.Id</strong></h6>
            </div>
            <div class="col-auto text-center">
                <h6><i class="fa fa-user user-icon fs-4"></i> ชื่อ<strong>: @ViewBag.Prefix @ViewBag.FirstName @ViewBag.LastName</strong></h6>
            </div>
            <div class="col-4 text-start">
                <h6><i class="fa fa-solid fa-ranking-star fs-4"></i> ตำแหน่งขั้น<strong>: @ViewBag.JobLevel</strong></h6>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 text-end">
                <h6><i class="fa fa-solid fa-location-dot fs-4"></i> ตำแหน่ง<strong>: @ViewBag.Position</strong></h6>
            </div>
            <div class="col-auto text-center">
                <h6><i class="fa fa-home-user fs-4"></i> แผนก<strong>: @ViewBag.Department</strong></h6>
            </div>
            <div class="col-4 text-start">
                <h6><i class="fa fa-solid fa-building  fs-4"></i> บริษัท<strong>: @ViewBag.Company</strong></h6>
            </div>
        </div>
    </div>
    <div class="text-center py-2 rounded-3 ms-4 me-4" style="background-color: #C8E8FF; border: 2px solid #9ec5fe">
        <div class="row justify-content-center">
            <div class="col-3">

            </div>
            <div class="col-6 text-center">
                <h2 class="h2 mt-2"><i class="fa-solid fa-file-lines"></i> <strong>ผลลัพธ์ ปี@ViewBag.Year</strong></h2>
            </div>
            <div class="col-3 text-end">
                <button class="btn btn-lg active-link-pdf me-2" onclick="printTable('competencyTB')">
                    <i class="fa fa-solid fa-file-pdf gradient-icon-pdf fs-3"></i> <strong class="gradient-icon-pdf">PDF</strong>
                </button>
            </div>
        </div>
       
    </div>
    <div class="card border-0 m-4">
        <div class="row justify-content-center">
            <div class="col-5 text-end">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8">
                        @if (emp != null && emp.Result != null)
                        {
                            <table class="table mt-3 table-striped" id="myTable">
                                <tr class="text-center">
                                    <th style="background-color: #2D4686; color: #C8E8FF;" width="10%">Competency All</th>
                                    <td width="5%">@emp.Result.CompetencyAll</td>
                                </tr>
                                <tr class="text-center">
                                    <th style="background-color: #2D4686; color: #C8E8FF">Competency Did</th>
                                    <td>@emp.Result.CompetencyDid</td>
                                </tr>
                                <tr class="text-center">
                                    <th style="background-color: #2D4686; color: #C8E8FF">Competency Pass</th>
                                    <td>@emp.Result.CompetencyPass</td>
                                </tr>
                                <tr class="text-center">
                                    <th style="background-color: #2D4686; color: #C8E8FF">% Competency</th>
                                    <td>@emp.Result.CompetencyPer%</td>
                                </tr>
                                <tr class="text-center">
                                    <th style="background-color: #2D4686; color: #C8E8FF">>100%</th>
                                    <td rowspan="3">
                                        @emp.Result.Rank
                                    </td>
                                </tr>
                                <tr class="text-center">
                                    <th style="background-color: #2D4686; color: #C8E8FF">>70%&#60;100%</th>
                                </tr>
                                <tr class="text-center">
                                    <th style="background-color: #2D4686; color: #C8E8FF">&#60;70%</th>
                                </tr>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-danger alert-dismissible fade show text-center" role="alert" id="alertBox">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>ไม่มี <strong>IDP Group</strong> ที่ลงทะเบียนไว้
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-7 text-start">
                @if (emp != null && emp.Result != null)
                {
                    <div class="row justify-content-center align-items-center" style="height: 300px">
                        <div class="col-md-8">
                            <div class="container">
                                <canvas id="chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var canvas = document.getElementById("chart");

                            var competencyDid = 0;
                            var competencyPass = 0;

                            competencyDid = @emp.Result.CompetencyDid;
                            competencyPass = @emp.Result.CompetencyPass;


                            var competencyFail = @emp.Result.CompetencyDid - @emp.Result.CompetencyPass;
                            var maxScale = competencyDid > 0 ? competencyDid : 1;

                            var chart = new Chart(canvas, {
                                type: 'bar',
                                data: {
                                    labels: ['ไม่มี GAP', 'มี GAP  '],
                                    datasets: [{
                                        label: 'Competency Result',
                                        data: [competencyPass, competencyFail],
                                        backgroundColor: ['#4bc0c050', '#ff638450'],
                                        borderColor: ['#4bc0c0', '#ff6384'],
                                        borderWidth: 1,
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true,
                                            max: maxScale,
                                            ticks: {
                                                precision: 0,
                                            },
                                        }
                                    },
                                    animation: {
                                        duration: 1000,
                                        easing: 'easeOutQuart',
                                        onComplete: function (chart) {
                                            setTimeout(function () {
                                                chart.options.animation.duration = 1000;
                                                chart.update();
                                            }, 1000);
                                        }
                                    }
                                }
                            });
                        });
                    </script>
                }
                else
                {
                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert" id="alertBox">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>ไม่มี <strong>IDP Group</strong> ที่ลงทะเบียนไว้
                    </div>
                }
            </div>

        </div>
    </div>
    <div class="m-4">
        @foreach (var group in enrollmentsGrouped)
        {
            <div class="py-2 rounded-3 mb-2 mt-3" style="background-color: #C8E8FF; border: 2px solid #9ec5fe">
                <div class="row ms-2 me-2">
                    <div class="col-auto me-auto">
                        <p class="fs-6" style="padding: 3px">
                            <i class="fa-solid fa-key"></i> รหัส IDP Group: <strong>@group.First().IDPGroupId</strong>
                            <i class="fa-solid fa-tag"></i> ชื่อ: <strong>@group.First().IDPGroup.IDPGroupName</strong>
                        </p>
                    </div>
                    <div class="col-auto">
                        @if (group.First().Status == "Draft")
                        {
                            <p style="color: #802FDE; background-color: #E8E2F7; padding: 3px; border-radius: 3rem; width: 100px " class="text-center fw-bold fs-6">@group.First().Status</p>
                        }
                        else if (group.First().Status == "Evaluating")
                        {
                            <p style="color: #E50087; background-color: #FFE5F4; padding: 3px; border-radius: 3rem; width: 120px; " class="text-center fw-bold fs-6">@group.First().Status</p>
                        }
                        else if (group.First().Status == "Checking")
                        {
                            <p style="color: #DAAB00; background-color: #FDF3CE; padding: 3px; border-radius: 3rem; width: 100px; " class="text-center fw-bold fs-6">@group.First().Status</p>
                        }
                        else if (group.First().Status == "Waiting")
                        {
                            <p style="color: #DAAB00; background-color: #FDF3CE; padding: 3px; border-radius: 3rem; width: auto; " class="text-center fw-bold">@group.First().Status</p>
                        }
                        else if (group.First().Status == "Sucess")
                        {
                            <p style="color: #14B789; background-color: #D5F8EF; padding: 3px; border-radius: 3rem; width: auto; " class="text-center fw-bold">@group.First().Status</p>
                        }
                        else if (group.First().Status == "Decline")
                        {
                            <p style="color: #C52F2F; background-color: #FFC9C9; padding: 3px; border-radius: 3rem; width: auto; " class="text-center fw-bold">@group.First().Status</p>
                        }
                    </div>  
                </div>
            </div>
            <div style="border-radius: 10px; overflow: hidden; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; ">
                <table class="table table-hover table-responsive table-striped" width="100%" id="myTable-@group.Key">
                    <thead style="background-color: #2D4686; color: #C8E8FF">
                        <tr>
                            <th class="text-center" rowspan="2" data-sortable="false" width="3%">Critical</th>
                            <th class="text-center" rowspan="2" width="10%">Competency ID</th>
                            <th class="text-center" rowspan="2" width="20%">Competency Name</th>
                            <th class="text-center" rowspan="2" width="3%">R</th>
                            <th class="text-center" rowspan="2" width="3%">A</th>
                            <th class="text-center" colspan="2" width="6%">GAP</th>
                            <th class="text-center" rowspan="2" width="5%">Priority</th>
                            <th class="text-center" rowspan="2" width="6%">Plan</th>
                            <th class="text-center" rowspan="2" width="20%">Plan Description</th>
                            <th class="text-center" colspan="4" width="12%">Quarter</th>
                            <th class="text-center" rowspan="2" width="12">Result Plan</th>
                        </tr>
                        <tr>
                            <th class="text-center" width="3%">-</th>
                            <th class="text-center" width="3%">+</th>
                            <th class="text-center" width="2%">Q1</th>
                            <th class="text-center" width="2%">Q2</th>
                            <th class="text-center" width="2%">Q3</th>
                            <th class="text-center" width="2%">Q4</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var enroll in group)
                        {
                            <tr>
                                <td class="text-center">
                                    @if (enroll.IDPGroupItem.Critical == false)
                                    {
                                        <text></text>
                                    }
                                    else
                                    {
                                        <img src="~/Images/hexagon_icon.png" width="25" height="25" />
                                    }
                                </td>
                                <td class="text-center">@enroll.IDPGroupItem.CompetencyId</td>
                                <td>@enroll.Competency.CompetencyNameTH</td>
                                <td class="text-center">@enroll.IDPGroupItem.Pl</td>
                                <td class="text-center">@enroll.ResultItem.Actual1</td>
                                <td class="text-center">
                                    @if (enroll.ResultItem.Gap1 < 0)
                                    {
                                        @enroll.ResultItem.Gap1
                                    }
                                </td>
                                <td class="text-center">
                                    @if (enroll.ResultItem.Gap1 >= 0)
                                    {
                                        @enroll.ResultItem.Gap1
                                    }
                                </td>
                                <td class="text-center">@enroll.ResultItem.Priority</td>
                                <td class="text-center">@enroll.ResultItem.Type</td>
                                <td>@enroll.ResultItem.DevPlan</td>
                                <td class="text-center">
                                    @if (enroll.ResultItem.Q1 == "1")
                                    {
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (enroll.ResultItem.Q2 == "1")
                                    {
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (enroll.ResultItem.Q3 == "1")
                                    {
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (enroll.ResultItem.Q4 == "1")
                                    {
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    }
                                </td>
                                <td>@enroll.ResultItem.DevRst</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="text-center justify-content-center mt-2">
                <button class="btn btn-lg mb-3 toggle" id="toggleChartBtn-@group.Key" onclick="toggleChartVisibility('@group.Key')">
                </button>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8 pie">
                        <div id="chartContainer-@group.Key" class="container">
                            <canvas id="pieChart-@group.Key"></canvas>
                        </div>
                    </div>
                </div>
                <script>
                    var competencyData = {
                        labels: [@foreach (var enroll in group)
                        { <text>'@enroll.Competency.CompetencyNameTH'</text>if (!ReferenceEquals(enroll, group.Last()))
                            { <text>,</text> }
                        }],
                        datasets: [{
                            label: 'Actual',
                            data: [@foreach (var enroll in group)
                            { <text>@(enroll.ResultItem.Actual1)</text>if (!ReferenceEquals(enroll, group.Last()))
                                { <text>,</text> }
                            }],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.5)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                            ],
                            borderWidth: 2,
                        }]
                    };

                    var pieChartOptions = {
                        plugins: {
                            title: {
                                display: true,
                                text: 'Competency Chart',
                            },
                            labels: {
                                render: 'outside',
                                arc: true,
                                fontColor: 'black',
                                fontStyle: 'bold',
                                position: 'outside',
                            },
                        },
                        scales: {
                            r: {
                                beginAtZero: true,
                                max: 5,
                                stepSize: 1,
                                ticks: {
                                    precision: 0,
                                },
                            },
                        },
                    };

                    var pieChart = new Chart(document.getElementById('pieChart-@group.Key'), {
                        type: 'radar',
                        data: competencyData,
                        options: pieChartOptions
                    });

                    function toggleChartVisibility(groupKey) {
                        var chart = document.getElementById('pieChart-' + groupKey);
                        var chartContainer = document.getElementById('chartContainer-' + groupKey);
                        var chartButton = document.getElementById('toggleChartBtn-' + groupKey);


                        if (chart.style.display === 'none') {
                            chart.style.display = 'block';
                            chartContainer.style.width = '500px';
                            chartContainer.style.height = '500px';
                            chartButton.innerHTML = '<i class="fa-solid fa-chart-pie"></i> แผนภูมิ <i class="fa-solid fa-sort-down"></i>';

                        } else {
                            chart.style.display = 'none';
                            chartContainer.style.width = '';
                            chartContainer.style.height = '';
                            chartButton.innerHTML = '<i class="fa-solid fa-chart-pie"></i> แผนภูมิ <i class="fa-solid fa-sort-up"></i>';
                        }
                    }

                    window.addEventListener('DOMContentLoaded', function () {
                        var initialChart = document.getElementById('pieChart-@group.Key');
                        var initialChartContainer = document.getElementById('chartContainer-@group.Key');
                        initialChart.style.display = 'none';
                        initialChartContainer.style.width = '';
                        initialChartContainer.style.height = '';
                        initialChartButton.innerHTML = ' <i class="fa-solid fa-chart-pie"></i> แผนภูมิ <i class="fa fa-solid fa-sort-up"></i>';
                    });

                    var initialChart = document.getElementById('pieChart-@group.Key');
                    var initialChartContainer = document.getElementById('chartContainer-@group.Key');
                    var initialChartButton = document.getElementById('toggleChartBtn-@group.Key');

                    initialChart.style.display = 'none';
                    initialChartContainer.style.width = '';
                    initialChartContainer.style.height = '';
                    initialChartButton.innerHTML = '<i class="fa-solid fa-chart-pie"></i> แผนภูมิ <i class="fa fa-solid fa-sort-up"></i>';
                </script>
            </div>
        }
    </div>
</main>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.2.2/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>

@{
    var jsDataTableConfig = new List<string>();
    foreach (var group in enrollmentsGrouped)
    {
        var dataTableConfig = $@"
    js('#myTable-{group.Key}').DataTable({{
        scrollX: true,
        info: false,
        paging: false,
        searching: false,
        ordering: false,
        language: {{
            search: '',
            searchPlaceholder: 'ค้นหา',
            lengthMenu: '_MENU_',
            paginate: {{
                next: 'ถัดไป <i class=""fa fa-angle-double-right""></i>',
                previous: '<i class=""fa fa-angle-double-left""></i> ก่อนหน้า'
            }},
            info: 'กำลังแสดง _START_ ถึง _END_ จาก _TOTAL_'
        }},
        initComplete: function () {{
            js('#myTable-{group.Key}_length label').addClass('entries-label');
        }}
    }});
";
        jsDataTableConfig.Add(dataTableConfig);
    }
}

<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        @foreach (var dataTableConfig in jsDataTableConfig)
        {
            @Html.Raw(dataTableConfig)
        }
    });
</script>


<style>
    #myTable {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .toggle {
        width: 100%;
        background: #eeeeee;
    }

    .toggle:hover {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .sticky-header-breadcrumb {
        position: sticky;
        z-index: 100;
        border-radius: 0px;
        top: 85px;
        background-color: #2D4686;
    }

    .pie {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        border-radius: 1rem;
    }

    .card {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .fa-key,
    .fa-chart-pie,
    .fa-file-lines {
        background-image: linear-gradient( 0deg, hsl(36deg 96% 62%) 0%, hsl(38deg 96% 61%) 11%, hsl(40deg 96% 61%) 22%, hsl(43deg 95% 61%) 33%, hsl(45deg 95% 60%) 44%, hsl(47deg 95% 60%) 56%, hsl(50deg 95% 60%) 67%, hsl(52deg 95% 59%) 78%, hsl(54deg 94% 59%) 89%, hsl(56deg 94% 59%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .sticky-header-topic {
        position: sticky;
        top: 150px;
        z-index: 10;
        background-color: #eeeeee;
        border: 5px dotted #B30021;
    }

    .fa-address-card,
    .fa-location-dot {
        background-image: linear-gradient( 0deg, hsl(357deg 100% 30%) 0%, hsl(358deg 85% 34%) 11%, hsl(358deg 76% 37%) 22%, hsl(358deg 69% 40%) 33%, hsl(358deg 64% 42%) 44%, hsl(357deg 59% 45%) 56%, hsl(357deg 55% 47%) 67%, hsl(356deg 52% 49%) 78%, hsl(355deg 52% 52%) 89%, hsl(354deg 53% 54%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .user-icon {
        background-image: linear-gradient( 0deg, hsl(220deg 100% 47%) 0%, hsl(216deg 100% 47%) 6%, hsl(213deg 100% 48%) 14%, hsl(209deg 100% 48%) 22%, hsl(206deg 100% 48%) 32%, hsl(202deg 100% 49%) 43%, hsl(199deg 100% 49%) 56%, hsl(195deg 100% 49%) 70%, hsl(192deg 100% 50%) 85%, hsl(188deg 100% 50%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-ranking-star {
        background-image: linear-gradient( 0deg, hsl(233deg 51% 36%) 0%, hsl(237deg 17% 44%) 11%, hsl(298deg 1% 48%) 22%, hsl(52deg 13% 52%) 33%, hsl(54deg 26% 54%) 44%, hsl(55deg 40% 56%) 56%, hsl(55deg 54% 58%) 67%, hsl(56deg 67% 59%) 78%, hsl(56deg 81% 59%) 89%, hsl(56deg 94% 59%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-home-user,
    .fa-building {
        background-image: linear-gradient( 0deg, hsl(233deg 51% 36%) 0%, hsl(229deg 55% 38%) 11%, hsl(225deg 60% 39%) 22%, hsl(221deg 64% 41%) 33%, hsl(217deg 69% 42%) 44%, hsl(213deg 75% 44%) 56%, hsl(209deg 80% 45%) 67%, hsl(204deg 86% 46%) 78%, hsl(200deg 93% 46%) 89%, hsl(196deg 100% 47%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-tag {
        background-image: linear-gradient( 0deg, hsl(335deg 85% 55%) 0%, hsl(335deg 86% 57%) 11%, hsl(335deg 87% 59%) 22%, hsl(334deg 89% 61%) 33%, hsl(334deg 90% 63%) 44%, hsl(334deg 91% 66%) 56%, hsl(334deg 93% 68%) 67%, hsl(333deg 95% 70%) 78%, hsl(333deg 97% 72%) 89%, hsl(333deg 100% 75%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .h2, p {
        margin-bottom: 0;
    }
    
    .header .col {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .active-link-pdf {
        background-color: white;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .active-link-pdf:hover {
        background-color: white;
        transform: scale(.95);
        border: 2px solid #9B0008;
    }
    .gradient-icon-pdf {
        background-image: linear-gradient( 0deg, hsl(357deg 100% 30%) 0%, hsl(358deg 85% 34%) 11%, hsl(358deg 76% 37%) 22%, hsl(358deg 69% 40%) 33%, hsl(358deg 64% 42%) 44%, hsl(357deg 59% 45%) 56%, hsl(357deg 55% 47%) 67%, hsl(356deg 52% 49%) 78%, hsl(355deg 52% 52%) 89%, hsl(354deg 53% 54%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
