@model myApp.Models.ResultItem
@{
    ViewBag.Title = "_ResultItem";
}



<td>@Model.ResultItemId</td>
<td>@Model.CompetencyId</td>
<td>@Model.IDPGroupId</td>
<td>@Model.Requirement</td>
<td>@Model.Actual1</td>
<td>@Model.Gap1</td>
<td>@Model.Priority</td>
<td>@Model.Type</td>
<td>@Model.DevPlan</td>
<td>@Model.Q1</td>
<td>@Model.Q2</td>
<td>@Model.Q3</td>
<td>@Model.Q4</td>
<td>@Model.DevRst</td>
<td>@Model.Actual2</td>
<td>@Model.Gap2</td>


