@model IEnumerable<myApp.Models.IDPGroupItem>
@{
    ViewBag.Title = "AddCompetency";

}
<link rel="stylesheet" href="/CSS/Style.css">
<div class="sticky-header-breadcrumb">
    <div class="header-breadcrumb" style="background-color: #2D4686;">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);">
            <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary">
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis text-decoration-none" href="@Url.Action("IDPGroup")">
                        <i class="fa fa-book" style="color: #C8E8FF"></i> <strong style="color: #C8E8FF">IDP Group</strong>
                        <span class="visually-hidden">Home</span>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis text-decoration-none" style="color: #C8E8FF" href="@Url.Action("AddCompetency", new { idpGroupId = ViewBag.IDPGroupId })"><strong>แก้ไข Competency (@ViewBag.IDPGroupId)</strong></a>
                </li>
            </ol>
        </nav>
    </div>

    <div class="text-center sticky-header">
        <div class="background-container">
            <i class="fa fa-layer-group topic-icon"></i>
        </div>
    </div>

</div>
<main>
    <div class="card border-0 m-3">
        <div class="card-body border-0 mt-4">
            @using (Html.BeginForm("AddCompetency", "Home", new { idpGroupId = ViewBag.IDPGroupId }, FormMethod.Post))
            {

                <div class="row">
                    <div class="col-3">

                    </div>
                    <div class="col-6 text-center topic-title">
                        <h2 class="mt-2 ">แก้ไข Competency</h2>

                    </div>
                    <div class="col-3 text-end">

                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col-4">

                    </div>
                    <div class="col-4 text-center">
                        <h5 class="me-3">
                            <span class="icon-item"><i class="fa fa-key fs-4" title="รหัส IDP Group"></i></span> รหัส<strong>: @ViewBag.IDPGroupId</strong>

                            <span class="icon-item"><i class="fa fa-book fa-book-bg fs-4" title="ชื่อ IDP Group"></i></span> ชื่อ<strong>: @ViewBag.IDPGroupName</strong>

                            <span class="icon-item"><i class="fa fa-regular fa-calendar-days fs-4" title="ปี"></i></span> ปี<strong>: @ViewBag.Year</strong>
                        </h5>
                    </div>

                    <div class="col-4 text-end">
                        @if (!ViewBag.CanAdd)
                        {
                            <a href="@Url.Action("SelectCompetency", new { idpGroupId = ViewBag.IDPGroupId })" class="btn mb-2 me-2 btn-lg active-link-add">
                                <i class="fa fa-plus gradient-icon-add" aria-hidden="true"></i> <strong class="gradient-icon-add"> เพิ่ม</strong>
                            </a>
                        }
                        @if(ViewBag.Count > 0)
                        {
                            <button type="submit" class="btn btn-lg active-link-submit mb-2">
                                <i class="fa-solid fa-save gradient-icon-submit" aria-hidden="true"></i> <strong class="gradient-icon-submit"> บันทึก</strong>
                            </button>
                        }
                    </div>
                </div>
                if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert" id="alertBox">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> @TempData["ErrorMessage"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <table class="table table-hover table-responsive table-striped" id="myTable">
                    <thead style="background-color: #2D4686; color: #C8E8FF">
                        <tr>
                            <th width="10%" class="text-center">รหัส Competency</th>
                            <th width="60%" class="text-center">ชื่อ Competency</th>
                            <th width="10%" class="text-center">Pl</th>
                            <th width="10%" class="text-center">Critical</th>
                            <th width="5%" class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var idpItm in Model)
                        {
                            <tr style="@(idpItm.Critical ? "background-color: #D5F2E3;" : "background-color: none;")">
                                <th scope="row" class="text-center">
                                    @idpItm.CompetencyId
                                    <input type="hidden" name="idpGroupItems[@idpItm.IDPGroupItemId].CompetencyId" value="@idpItm.CompetencyId" />
                                </th>
                                <td>@idpItm.Competency.CompetencyNameTH</td>
                                <td class="text-center">
                                    <button id="plButton" onchange="EditPl(this)" type="button" class="btn btn-dark active-link-competency " data-bs-toggle="modal" data-bs-target="#DetailPl-@idpItm.CompetencyId">
                                        <strong style="font-size: 18px">@idpItm.Pl</strong>
                                    </button>
                                    <div class="modal fade modal-xl modal1" id="DetailPl-@idpItm.CompetencyId" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h6 class="modal-title fs-5">
                                                        <i class="fa-solid fa-key fs-4"></i> รหัส: <strong>@idpItm.CompetencyId</strong>
                                                        <br />
                                                        <i class="fa-solid fa-signature fs-4"></i> ชื่อ: <strong>@idpItm.Competency.CompetencyNameTH</strong>
                                                    </h6>
                                                </div>
                                                <div class="modal-body">
                                                    <h5 class="text-center">PL1</h5>
                                                    @if (idpItm.Competency.Pl1 != null)
                                                    {
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="modalRadio1[@idpItm.IDPGroupItemId]" id="modalRadioButton1-@idpItm.IDPGroupItemId" value="1" @(idpItm.Pl == "1" ? "checked" : "") />
                                                            <label class="form-check-label text-start" for="modalRadioButton1-@idpItm.IDPGroupItemId" style="cursor: pointer">
                                                                @idpItm.Competency.Pl1
                                                            </label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="text-center">ไม่มี PL1</h5>
                                                    }
                                                    <hr />
                                                    <h5 class="text-center">PL2</h5>
                                                    @if (idpItm.Competency.Pl2 != null)
                                                    {
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="modalRadio1[@idpItm.IDPGroupItemId]" id="modalRadioButton2-@idpItm.IDPGroupItemId" value="2" @(idpItm.Pl == "2" ? "checked" : "") />
                                                            <label class="form-check-label text-start" for="modalRadioButton2-@idpItm.IDPGroupItemId" style="cursor: pointer">
                                                                @idpItm.Competency.Pl2
                                                            </label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="text-center">ไม่มี PL2</h5>
                                                    }
                                                    <hr />
                                                    <h5 class="text-center">PL3</h5>
                                                    @if (idpItm.Competency.Pl3 != null)
                                                    {
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="modalRadio1[@idpItm.IDPGroupItemId]" id="modalRadioButton3-@idpItm.IDPGroupItemId" value="3" @(idpItm.Pl == "3" ? "checked" : "") />
                                                            <label class="form-check-label text-start" for="modalRadioButton3-@idpItm.IDPGroupItemId" style="cursor: pointer">
                                                                @idpItm.Competency.Pl3
                                                            </label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="text-center">ไม่มี PL3</h5>
                                                    }
                                                    <hr />
                                                    <h5 class="text-center">PL4</h5>
                                                    @if (idpItm.Competency.Pl4 != null)
                                                    {
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="modalRadio1[@idpItm.IDPGroupItemId]" id="modalRadioButton4-@idpItm.IDPGroupItemId" value="4" @(idpItm.Pl == "4" ? "checked" : "") />
                                                            <label class="form-check-label text-start" for="modalRadioButton4-@idpItm.IDPGroupItemId" style="cursor: pointer">
                                                                @idpItm.Competency.Pl4
                                                            </label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="text-center">ไม่มี PL4</h5>
                                                    }
                                                    <hr />
                                                    <h5 class="text-center">PL5</h5>
                                                    @if (idpItm.Competency.Pl5 != null)
                                                    {
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="modalRadio1[@idpItm.IDPGroupItemId]" id="modalRadioButton5-@idpItm.IDPGroupItemId" value="5" @(idpItm.Pl == "5" ? "checked" : "") />
                                                            <label class="form-check-label text-start" for="modalRadioButton5-@idpItm.IDPGroupItemId" style="cursor: pointer">
                                                                @idpItm.Competency.Pl5
                                                            </label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="text-center">ไม่มี PL5</h5>
                                                    }

                                                </div>
                                                <div class="modal-footer flex-nowrap p-0">
                                                    <button type="button" class="btn btn-lg col-12 text-decoration-none py-3 rounded-0 m-0 " style="background-color: #D893A3; color: #B30021" data-bs-dismiss="modal"><strong>ปิด</strong></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="idpGroupItems[@idpItm.IDPGroupItemId].Pl" value="@idpItm.Pl" />
                                </td>
                                <td class="text-center">
                                    <input class="form-check-input" type="checkbox" name="idpGroupItems[@idpItm.IDPGroupItemId].Critical" value="true" @(idpItm.Critical == true ? "checked" : "") />
                                </td>

                                <td class="text-center">
                                    <button id="link" type="button" class="btn  active-link-delete" data-bs-toggle="modal" data-bs-target="#deleteModal-@idpItm.IDPGroupItemId" title="ลบ @idpItm.CompetencyId">
                                        <i class="fa fa-trash gradient-text-delete" aria-hidden="true"></i>
                                    </button>
                                    <div class="modal fade" id="deleteModal-@idpItm.IDPGroupItemId" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5 fw-bold">
                                                        <i class="fa-solid fa-trash-can gradient-text-delete"></i> ลบ Competency ออกจาก @ViewBag.IDPGroupId
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5><i class="fa-solid fa-key"></i> Competency: @idpItm.CompetencyId</h5>
                                                </div>
                                                <div class="modal-footer flex-nowrap p-0">
                                                    <button type="button" class="btn btn-lg btn-link fs-6 py-3 text-decoration-none col-6 rounded-0 m-0 btn-submit" data-bs-dismiss="modal">
                                                        <i class="fa-solid fa-ban gradient-icon-submit fs-4"></i> <strong class="gradient-icon-submit fs-4">ยกเลิก</strong>
                                                    </button>
                                                    <button type="button" class="btn btn-lg btn-link fs-6 py-3 text-decoration-none col-6 rounded-0 m-0 btn-cancel" onclick="deleteIDPGroupItem('@idpItm.IDPGroupItemId')">
                                                        <i class="fa-solid fa-trash-can gradient-icon-back fs-4"></i> <strong class="gradient-icon-back fs-4">ลบ</strong>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="row mt-3">
                    <div class="col-auto me-auto">
                        <a href="@Url.Action("IDPGroup")" class="btn btn-lg active-link-back mb-2">
                            <i class="fa fa-arrow-left gradient-icon-back" aria-hidden="true"></i> <strong class="gradient-icon-back"> กลับ</strong>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</main>
<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.css" />
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#myTable').DataTable({
            info: false,
            paging: false,
            ordering: false,
            language: {
                search: '',
                searchPlaceholder: 'ค้นหา',
                lengthMenu: '_MENU_',
                paginate: {
                    next: 'ถัดไป <i class="fa fa-angle-right"></i>',
                    previous: '<i class="fa fa-angle-left"></i> ก่อนหน้า'
                },
                info: 'กำลังแสดง _START_ ถึง _END_ จาก _TOTAL_'
            },
            columnDefs: [{
                targets: -1,
                orderable: false
            }],

            initComplete: function () {
                js('#myTable_length label').addClass('entries-label');
            }
        });
    });

    function deleteIDPGroupItem(idpGroupItemId, ) {
        $.ajax({
            url: '@Url.Action("DeleteIDPGroupItem","Home")',
            type: 'POST',
            data: { idpGroupItem: idpGroupItemId },
            success: function (response) {
                window.location.href = '@Url.Action("AddCompetency", "Home", new { idpGroupId = ViewBag.IDPGroupId })';
            },
            error: function (error) {
                console.log(error)
            }
        });
    }

    function handleButtonClick(button) {
        var modalRadio = button.parentNode.querySelector('input[name^="modalRadio1"]:checked');
        if (modalRadio) {
            button.textContent = modalRadio.value;
            calculateGap(button);

            var row = button.closest('tr');
            var selectedPl = parseFloat(modalRadio.value);
            var plInput = row.querySelector('input[name^="idpGroupItems"][name$=".Pl"]');
            plInput.value = selectedPl;

        }
    }

    var plButtons = document.querySelectorAll('button[id^="plButton"]');
    plButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            handleButtonClick(this);
        });
    });

    var radioButtons = document.querySelectorAll('input[name^="modalRadio1"]');
    radioButtons.forEach(function (radioButton) {
        radioButton.addEventListener('change', function () {
            var selectedValue = this.value;
            var plButton = this.closest('.modal1').previousElementSibling;
            if (plButton) {
                plButton.textContent = selectedValue;
                EditPl(plButton);
            }
        });
    });

    function EditPl(button) {
        var row = button.closest('tr');

        var pl = parseFloat(button.textContent);

        var plInput = row.querySelector('input[name^="idpGroupItems"][name$=".Pl"]');
        plInput.value = pl;
    }
</script>


<style>
    main {
        margin-top: -50px;
    }

    .form-check-input[type="checkbox"] {
        width: 25px;
        height: 25px;
    }

    .background-container {
        background-color: white; /* Set the white background */
        display: inline-block; /* Display the container as an inline block to wrap the icon */
        border-radius: 50%; /* Apply a circular shape to the container */
        padding: 1rem; /* Add padding around the icon */
        overflow: hidden; /* Hide any overflow from the circular container */
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; /* Add a box shadow */
        margin-top: -50px;
    }

    .topic-icon {
        background: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text; /* Clip the background to the text */
        -webkit-text-fill-color: transparent; /* Make the text transparent to show the background gradient */
        font-size: 45px;
        /* Any other styles for the icon, if needed */
    }

    .topic-title {
        background-image: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

        .topic-title h2 {
            font-weight: bold;
        }

    .sticky-header-breadcrumb {
        position: sticky;
        border-radius: 0px;
        z-index: 10;
        top: 85px;
    }

    .sticky-header {
        position: sticky;
        z-index: 20;
    }

    .card {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .fa-key {
        background-image: linear-gradient( 0deg, hsl(36deg 96% 62%) 0%, hsl(38deg 96% 61%) 11%, hsl(40deg 96% 61%) 22%, hsl(43deg 95% 61%) 33%, hsl(45deg 95% 60%) 44%, hsl(47deg 95% 60%) 56%, hsl(50deg 95% 60%) 67%, hsl(52deg 95% 59%) 78%, hsl(54deg 94% 59%) 89%, hsl(56deg 94% 59%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-book-bg {
        background-image: linear-gradient( 0deg, hsl(233deg 51% 36%) 0%, hsl(229deg 55% 38%) 11%, hsl(225deg 60% 39%) 22%, hsl(221deg 64% 41%) 33%, hsl(217deg 69% 42%) 44%, hsl(213deg 75% 44%) 56%, hsl(209deg 80% 45%) 67%, hsl(204deg 86% 46%) 78%, hsl(200deg 93% 46%) 89%, hsl(196deg 100% 47%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-calendar-days {
        background-image: linear-gradient( 0deg, hsl(233deg 51% 36%) 0%, hsl(229deg 55% 38%) 11%, hsl(225deg 60% 39%) 22%, hsl(221deg 64% 41%) 33%, hsl(217deg 69% 42%) 44%, hsl(213deg 75% 44%) 56%, hsl(209deg 80% 45%) 67%, hsl(204deg 86% 46%) 78%, hsl(200deg 93% 46%) 89%, hsl(196deg 100% 47%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .active-link-delete {
        border: none;
        background-color: white;
    }

        .active-link-delete:hover {
            background-color: white;
            border-bottom: 2px solid #9B0008;
        }

            .active-link-delete:hover i {
                transform: scale(1.2);
            }

    .gradient-text-delete {
        background-image: linear-gradient( 0deg, hsl(357deg 100% 30%) 0%, hsl(357deg 94% 33%) 11%, hsl(358deg 89% 36%) 22%, hsl(358deg 84% 39%) 33%, hsl(358deg 79% 42%) 44%, hsl(359deg 74% 46%) 56%, hsl(359deg 70% 49%) 67%, hsl(359deg 73% 53%) 78%, hsl(360deg 80% 56%) 89%, hsl(0deg 87% 60%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .active-link-add,
    .active-link-submit {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

        .active-link-add:hover {
            transform: scale(.95);
            border: 2px solid #053a2f;
        }

    .gradient-icon-add {
        background-image: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .active-link-submit:hover {
        transform: scale(.95);
        border: 2px solid #2D4686;
    }

    .gradient-icon-submit {
        background-image: linear-gradient( 0deg, hsl(233deg 51% 36%) 0%, hsl(229deg 55% 38%) 11%, hsl(225deg 60% 39%) 22%, hsl(221deg 64% 41%) 33%, hsl(217deg 69% 42%) 44%, hsl(213deg 75% 44%) 56%, hsl(209deg 80% 45%) 67%, hsl(204deg 86% 46%) 78%, hsl(200deg 93% 46%) 89%, hsl(196deg 100% 47%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .icon-item {
        margin-left: 20px;
    }
    .fa-signature {
        background-image: linear-gradient( 0deg, hsl(220deg 100% 47%) 0%, hsl(216deg 100% 47%) 6%, hsl(213deg 100% 48%) 14%, hsl(209deg 100% 48%) 22%, hsl(206deg 100% 48%) 32%, hsl(202deg 100% 49%) 43%, hsl(199deg 100% 49%) 56%, hsl(195deg 100% 49%) 70%, hsl(192deg 100% 50%) 85%, hsl(188deg 100% 50%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #myTable {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .active-link-back {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .active-link-back:hover {
        transform: scale(.95);
        border: 2px solid #9B0008;
    }

    .gradient-icon-back {
        background-image: linear-gradient( 0deg, hsl(357deg 100% 30%) 0%, hsl(358deg 85% 34%) 11%, hsl(358deg 76% 37%) 22%, hsl(358deg 69% 40%) 33%, hsl(358deg 64% 42%) 44%, hsl(357deg 59% 45%) 56%, hsl(357deg 55% 47%) 67%, hsl(356deg 52% 49%) 78%, hsl(355deg 52% 52%) 89%, hsl(354deg 53% 54%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .modal-header {
        justify-content: center;
    }
    .btn-cancel:hover {
        background-color: #f8d7da;
    }

    .btn-submit:hover {
        background-color: #cce5ff;
    }
</style>
