@model IEnumerable<myApp.Models.CompetencyItem>
@{
    ViewBag.Title = "AddCompetency";
}

<main>
    <div class="card shadow border-0 m-3">
        <div class="card-header text-center border-0 py-3" style="background-color: #fff3cd;">
            <i class="fa fa-list-alt text-warning" style="font-size: 60px;"></i>
            <h1><strong>เพิ่ม Competency</strong></h1>
        </div>
        <div class="card-body border-0">
            <a href="@Url.Action("SelectCompetency", new { id = ViewBag.IDPGroupId })" class="btn btn-success mb-3 btn-lg" style="width: auto; border-radius: 2rem"><i class="fa fa-plus" aria-hidden="true"><strong> เพิ่ม</strong></i></a>
            <table class="table table-hover table-responsive" id="myTable">
                <thead class="table-primary">
                    <tr>
                        <th>รหัส Competency</th>
                        <th>ชื่อ Competency</th>
                        <th>Pl</th>
                        <th>ความสำคัญ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cmptyitm in Model)
                    {
                        <tr>
                            <td scope="row">@cmptyitm.CompetencyId</td>
                            <td>@cmptyitm.Competency.CompetencyNameTH</td>
                            <td>@cmptyitm.Pl</td>
                            <td>@cmptyitm.Priority</td>
                            <td>
                                <a href="@Url.Action("DeleteCompetencyItem", new { id = cmptyitm.CompetencyItemId })" class="btn btn-danger" title="ลบ"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="@Url.Action("IDPGroup")" class="btn btn-danger btn-lg" style="width: auto; border-radius: 2rem">ออก</a>
        </div>
    </div>
</main>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.2.2/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#myTable').DataTable({
            language: {
                search: "ค้นหา:", // Change the search label here
            },
           

        });
    });
</script>
