@model IEnumerable<myApp.Models.Enrollment>
@{
    ViewBag.Title = "AddEmployee";
}
<div class="m-3 rounded-3" style="background-color: #cce5ff">
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis text-decoration-none" href="@Url.Action("IDPGroup")">
                    <i class="fa fa-book" style="color: #4083be"></i> <strong style="color: #4083be">IDP Group</strong>
                    <span class="visually-hidden">Home</span>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis text-decoration-none" style="color: #4083be" href="@Url.Action("AddEmployee", new { id = ViewBag.IDPGroupId })"><strong>แก้ไขพนักงาน</strong></a>
            </li>
        </ol>
    </nav>
</div>
<main>
    <div class="card shadow border-0 m-3">
        <div class="card-header text-center border-0 py-3" style="background-color: #fff3cd;">
            <i class="fa fa-stack-overflow" style="font-size: 50px; color: #dcb456 "></i>
            <h1 style="color: #dcb456 "><strong>แก้ไขพนักงาน</strong></h1>
        </div>
        <div class="card-body">
            <a href="@Url.Action("SelectEmployee", new { id = ViewBag.IDPGroupId })" class="btn btn-success mb-3" style="width: 6rem; border-radius: 1rem"><i class="fa fa-plus" aria-hidden="true"><strong> เพิ่ม</strong></i></a>
            <table class="table table-hover table-responsive" id="myTable">
                <thead class="table-primary">
                    <tr>
                        <th width="5%">รหัส</th>
                        <th width="30%">ชื่อพนักงาน</th>
                        <th width="20%">ตำแหน่ง</th>
                        <th width="10%">ชื่อแผนก</th>
                        <th width="20%">ตำแหน่งขั้น</th>
                        <th width="10%">บริษัท</th>
                        <th width="5%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var enroll in Model)
                    {
                        <tr>
                            <td scope="row">@enroll.Id</td>
                            @if (enroll.User.Prefix == "นาง" || enroll.User.Prefix == "นางสาว")
                            {
                                <td>

                                    @(enroll.User.Prefix) @(enroll.User.FirstNameTH) @(enroll.User.LastNameTH)
                                    <i class="fa fa-female" style="color:palevioletred; font-size:large" aria-hidden="true"></i>
                                </td>
                            }
                            else if (enroll.User.Prefix == "นาย" || enroll.User.Prefix == " นาย")
                            {
                                <td>

                                    @(enroll.User.Prefix) @(enroll.User.FirstNameTH) @(enroll.User.LastNameTH)
                                    <i class="fa fa-male" style="color:cornflowerblue; font-size:large" aria-hidden="true"></i>
                                </td>
                            }
                            else
                            {
                                <td>

                                    @(enroll.User.Prefix) @(enroll.User.FirstNameTH) @(enroll.User.LastNameTH)

                                </td>
                            }
                            <td>@enroll.User.Position</td>
                            <td>@enroll.User.JobLevel</td>
                            <td>@enroll.User.DepartmentName</td>
                            <td>@enroll.User.Company</td>
                            <td>
                                <a href="@Url.Action("DeleteEmployeeByIDPGroup", new { id = enroll.EnrollId })" class="btn btn-danger" title="ลบ"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="@Url.Action("IDPGroup")" class="btn btn-danger">ออก</a>
        </div>
    </div>
</main>
<div class="m-3 rounded-3" style="background-color: #cce5ff">
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis text-decoration-none" href="@Url.Action("IDPGroup")">
                    <i class="fa fa-book" style="color: #4083be"></i> <strong style="color: #4083be">IDP Group</strong>
                    <span class="visually-hidden">Home</span>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis text-decoration-none" style="color: #4083be" href="@Url.Action("AddEmployee", new { id = ViewBag.IDPGroupId })"><strong>แก้ไขพนักงาน</strong></a>
            </li>
        </ol>
    </nav>
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.2.2/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#myTable').DataTable({
            language: {
                search: "ค้นหา:", // Change the search label here
            },
            scrollY: 500,

        });
    });
</script>

