@model IEnumerable<myApp.Models.Enrollment>
@{
    ViewBag.Title = "AddIDPGroup";
}
<link rel="stylesheet" href="/CSS/Style.css">
<div class="m-3 rounded-3" style="background-color: #84B5E9">
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis text-decoration-none" href="@Url.Action("Employee")">
                    <i class="fa fa-users" style="color: #2D4686"></i> <strong style="color: #2D4686">พนักงาน</strong>
                    <span class="visually-hidden">Home</span>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis text-decoration-none" style="color: #2D4686" href="@Url.Action("AddIDPGroup", new { id = ViewBag.Id })"><strong>เพิ่ม IDP Group</strong></a>
            </li>
        </ol>
    </nav>
</div>
<main>
    <div class="card shadow border-0 m-3">
        <div class="card-header text-center border-0 py-3" style="background-color: #86E49D;">
            <i class="fa fa-book" style="font-size: 60px; color: #006B21"></i>
            <h1 style="color: #006B21"><strong>เพิ่ม IDP Group</strong></h1>
        </div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-auto me-auto">

                </div>
                <div class="col-auto">
                    <a href="@Url.Action("SelectIDPGroup", new { id = ViewBag.Id })" class="btn shadow-sm mb-2 me-2 btn-lg active-link" style="background-color: #86E49D; width: auto">
                        <i class="fa fa-plus" style="color: #006B21" aria-hidden="true"><strong> เพิ่ม</strong></i>
                    </a>
                </div>
            </div>
            <table class="table table-hover table-responsive table-striped" id="myTable">
                <thead style="background-color: #84B5E9; color: #2D4686">
                    <tr>
                        <th width="10%">รหัส IDP Group</th>
                        <th width="75%">ชื่อ IDP Group</th>
                        <th width="10%">ปี</th>
                        <th width="5%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var enroll in Model)
                    {
                        <tr>
                            <td>@enroll.IDPGroupId</td>
                            <td>@enroll.IDPGroup.IDPGroupName</td>
                            <td>@enroll.IDPGroup.Year</td>
                            <td>
                                <button id="link" type="button" class="btn  active-link-delete" data-bs-toggle="modal" style="background-color: #D893A3" data-bs-target="#deleteModal-@enroll.EnrollId" title="ลบ @enroll.Id">
                                    <i class="fa fa-trash" style="color: #B30021" aria-hidden="true"></i>
                                </button>
                                <div class="modal fade" id="deleteModal-@enroll.EnrollId" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-4">ต้องการที่จะลบ IDP Group นี้หรือไม่?</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h5>รหัส Enrollment: @enroll.EnrollId</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                                                <a href="@Url.Action("DeleteIDPGroupByEmployee", new { id = enroll.EnrollId })" class="btn btn-danger">ยืนยัน</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="@Url.Action("Employee")" class="btn btn-lg active-link-back shadow-sm mt-3 mb-2" style="width: auto; background-color: #D893A3">
                <i class="fa fa-arrow-left" style="color: #B30021" aria-hidden="true">  <strong style="color: #B30021"> กลับ</strong></i>
            </a>
        </div>
    </div>
</main>
<div class="m-3 rounded-3" style="background-color: #84B5E9">
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis text-decoration-none" href="@Url.Action("Employee")">
                    <i class="fa fa-users" style="color: #2D4686"></i> <strong style="color: #2D4686">พนักงาน</strong>
                    <span class="visually-hidden">Home</span>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis text-decoration-none" style="color: #2D4686" href="@Url.Action("AddIDPGroup", new { id = ViewBag.Id })"><strong>เพิ่ม IDP Group</strong></a>
            </li>
        </ol>
    </nav>
</div>
<script src="~/Scripts/jquery-3.7.0.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.2.2/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#myTable').DataTable({
            language: {
                search: '',
                searchPlaceholder: 'ค้นหา',
                lengthMenu: '_MENU_',
            },

            initComplete: function () {
                js('#myTable_length label').addClass('entries-label');
            }
        });


    });
</script>
<style>
    .active-link:hover {
        transform: scale(1.05);
        border-color: #006B21;
    }

    .active-link:active {
        transform: scale(.95);
    }

    .active-link-delete:hover {
        transform: scale(1.25);
        border-color: #B30021;
    }

    .active-link-delete:active {
        transform: scale(1);
    }

    .active-link-submit:hover {
        transform: scale(1.05);
        border-color: #2D4686;
    }

    .active-link-submit:active {
        transform: scale(.95);
    }

    .active-link-back:hover {
        transform: scale(1.05);
        border-color: #B30021;
    }

    .active-link-back:active {
        transform: scale(.95);
    }
</style>
