@model IEnumerable<myApp.Models.Competency>
@{
    ViewBag.Title = "Home Page";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/CSS/Style.css">
<div class="sticky-header-breadcrumb">
    <div class="header-breadcrumb" style="background-color: #2D4686;">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);">
            <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary">
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis text-decoration-none link" href="@Url.Action("Competency", "Home")">
                        <i class="fa fa-layer-group" style="color: #C8E8FF; "></i> <strong style="color: #C8E8FF "> Competency</strong>
                        <span class="visually-hidden">Home</span>
                    </a>
                </li>
            </ol>
        </nav>
    </div>

    <div class="text-center sticky-header">
        <div class="background-container">
            <i class="fa fa-layer-group topic-icon"></i>
        </div>
    </div>

</div>
<main>
    <div class="card border-0 m-3">
        <div class="card-body border-0 mt-4">
            <div class="row mb-2">
                <div class="col-4 d-flex align-items-center ">
                    <label for="selectType" class="form-label me-2 mt-2">ชนิด:</label>
                    <select class="form-select" id="selectType" style="width: 100px;">
                        <option value="">ทั้งหมด</option>
                        <option value="CC">CC</option>
                        <option value="FC">FC</option>
                        <option value="MC">MC</option>
                        <option value="TC">TC</option>
                    </select>
                </div>
                <div class="col-4 text-center topic-title">
                    <h1>Competency</h1>
                </div>
                <div class="col-4 text-end">
                    <a href="@Url.Action("UploadCompetency")" class="btn btn-lg active-link-upload">
                        <i class="fa fa-upload gradient-icon-upload" aria-hidden="true"></i> <strong class="gradient-icon-upload"> อัปโหลด</strong>
                    </a>
                </div>
            </div>
            <table class="table table-hover table-striped table-responsive" id="myTable" width="100%">
                <thead style="background-color: #2D4686; color: #C8E8FF ">
                    <tr>
                        <th class="text-center" width="5%">ชนิด</th>
                        <th class="text-center" width="5%">รหัส</th>
                        <th class="text-center" width="5%">ใช้งาน</th>
                        <th class="text-center" width="10%">ชื่อภาษาไทย</th>
                        <th class="text-center" width="10%">ชื่อภาษาอังกฤษ</th>
                        <th class="text-center" width="10%">Definition</th>
                        <th class="text-center" width="10%">pl1</th>
                        <th class="text-center" width="10%">pl2</th>
                        <th class="text-center" width="10%">pl3</th>
                        <th class="text-center" width="10%">pl4</th>
                        <th class="text-center" width="10%">pl5</th>
                        <th class="text-center" width="5%"></th>
                    </tr>
                </thead>
                <tbody id="tableContainer">
                    
                </tbody>
            </table>
        </div>
    </div>
</main>




<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.css" />
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#myTable').DataTable({
            info: false,
            paging: false,
            scrollX: true,
            language: {
                search: '',
                searchPlaceholder: 'ค้นหา',
                lengthMenu: '_MENU_',
                paginate: {
                    next: 'ถัดไป <i class="fa fa-angle-double-right"></i>',
                    previous: '<i class="fa fa-angle-double-left"></i> ก่อนหน้า'
                },
                info: 'กำลังแสดง _START_ ถึง _END_ จาก _TOTAL_'
            },

            initComplete: function () {
                js('#myTable_length label').addClass('entries-label');
            }
        });
    });

    function deleteForm(CompetencyId) {
        var formData = $('#myForm').serialize();

        formData += '&CompetencyId=' + encodeURIComponent(CompetencyId);

        $.ajax({
            type: 'POST',
            url: $('#myForm').attr('action'),
            data: formData,
            success: function (data) {
                window.location.reload();
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }

    js(document).ready(function () {
        var send = '@Url.Action("GetCompetency", "Home")';

        var selectedValue = localStorage.getItem("Competency");

        if (selectedValue) {
            $("#selectType").val(selectedValue);
        }

        if (selectedValue) {
            $.ajax({
                url: send,
                type: "POST",
                data: { selectedValue: selectedValue },
                success: function (response) {
                    console.log(response);
                    buildTable(response);
                },
                error: function () {

                }
            });
        }

        $("#selectType").change(function () {
            var selectedValue = $(this).val();
            console.log(selectedValue);
            localStorage.setItem("Competency", selectedValue);
            $.ajax({
                url: send,
                type: "POST",
                data: { selectedValue: selectedValue },
                success: function (response) {
                    console.log(response);
                    buildTable(response);
                    $("#selectType").val("");
                },
                error: function () {

                }
            });
        });
    });

    function buildTable(compties) {
        js('#myTable').DataTable().destroy();
        var tableHtml = "";


        for (var i = 0; i < compties.length; i++) {
            var compty = compties[i];
            var editCompetency = '@Url.Action("EditCompetency", "Home")' + '?id=' + compty.CompetencyId;
            var deleteCompetency = '@Url.Action("DeleteCompetency", "Home")' + '?competencyId=' + compty.CompetencyId;

            var rowHtml = "<tr>" +
                            "<th scope='row'>" + compty.Type + "</th>" +
                            "<th scope='row'>" + compty.CompetencyId + "</th>" +
                            "<td style='" + (compty.Active ? "background-color: #D5F2E3; color: #006f57;" : "background-color: #F8D7DA; color: #9B0008") + "'>" + (compty.Active ? "ใช้" : "ไม่ใช้") + "</td>" +
                            "<td style='font-size: 14px'>" + compty.CompetencyNameTH + "</td>" +
                            "<td style='font-size: 14px'>" + compty.CompetencyNameEN + "</td>" +
                            "<td><textarea style='height: 100px; font-size: 12px' class='form-control' readonly>" + compty.CompetencyDesc + "</textarea></td>" +
                            "<td><textarea style='height: 100px; font-size: 12px' class='form-control' readonly>" + compty.Pl1 + "</textarea></td>" +
                            "<td><textarea style='height: 100px; font-size: 12px' class='form-control' readonly>" + compty.Pl2 + "</textarea></td>" +
                            "<td><textarea style='height: 100px; font-size: 12px' class='form-control' readonly>" + compty.Pl3 + "</textarea></td>" +
                            "<td><textarea style='height: 100px; font-size: 12px' class='form-control' readonly>" + compty.Pl4 + "</textarea></td>" +
                            "<td><textarea style='height: 100px; font-size: 12px' class='form-control' readonly>" + compty.Pl5 + "</textarea></td>" +
                            "<td>" +
                                "<div class='btn-group me-2' role='group' aria-label='Second group'>" +
                                    "<button id='link' type='button' class='btn active-link-edit' title='แก้ไข' data-bs-toggle='modal' data-bs-target='#editModal-" + compty.CompetencyId + "'>" +
                                        "<i class='fa fa-pencil gradient-text-edit' aria-hidden='true'></i>" +
                                    "</button>" +
                                    "<button id='link' type='button' class='btn active-link-delete' data-bs-toggle='modal' data-bs-target='#deleteModal-" + compty.CompetencyId + "' title='ลบ'>" +
                                        "<i class='fa fa-trash gradient-text-delete' aria-hidden='true'></i>" +
                                    "</button>" +
                                "</div>" +
                                "<div class='modal fade modal-xl' id='editModal-" + compty.CompetencyId + "' aria-labelledby='editModalLabel' aria-hidden='true'>" +
                                    "<div class='modal-dialog  modal-dialog-centered'>" +
                                        "<div class='modal-content rounded-3 shadow'>" +
                                        "<form method='post' action='" + editCompetency + "'>" +
                                                "<input type='hidden' name='CompetencyId' value='" + compty.CompetencyId + "' />" +
                                                "<div class='modal-header'>" +
                                                    "<h1 class='modal-title fs-5 fw-bold' id='CreateIDPGroupLabel'>" +
                                                        "<i class='fa-solid fa-layer-group gradient-icon-add fs-3'></i> แก้ไข Competency (" + compty.CompetencyId + ")" +
                                                    "</h1>" +
                                                    "<button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>" +
                                                "</div>" +
                                                "<div class='modal-body'>" +
                                                    "<div class='row'>" +
                                                        "<div class='col-5'>" +
                                                            "<div class='input-group mt-3 d-flex justify-content-center'>" +
                                                                "<span class='input-group-text'>" +
                                                                    "<i class='fa-solid fa-tag fs-4' aria-hidden='true'></i>" +
                                                                "</span>" +
                                                                "<select class='form-select' id='createType' name='Type' style='min-width: 80%'>" +
                                                                    "<option value='CC' " + (compty.Type === "CC" ? "selected" : "") + ")>CC</option>" +
                                                                    "<option value='FC' " + (compty.Type === "FC" ? "selected" : "") + ">FC</option>" +
                                                                    "<option value='MC' " + (compty.Type === "MC" ? "selected" : "") + ">MC</option>" +
                                                                    "<option value='TC' " + (compty.Type === "TC" ? "selected" : "") + ">TC</option>" +
                                                                "</select>" +
                                                            "</div>" +
                                                            "<div class='input-group mt-3 d-flex justify-content-center'>" +
                                                                "<span class='input-group-text'>" +
                                                                    "<i class='fa-solid fa-tag fs-4' aria-hidden='true'></i>" +
                                                                "</span>" +
                                                                "<textarea type='text' class='form-control' placeholder='Competency TH' name='CompetencyNameTH' style='min-width: 80%'>" + compty.CompetencyNameTH + "</textarea>" +
                                                            "</div>" +
                                                            "<div class='input-group mt-3 d-flex justify-content-center'>" +
                                                                "<span class='input-group-text'>" +
                                                                    "<i class='fa-solid fa-tag fs-4' aria-hidden='true'></i>" +
                                                                "</span>" +
                                                                "<textarea type='text' class='form-control' placeholder='Competency EN' name='CompetencyNameEN' style='min-width: 80%'>" + compty.CompetencyNameEN + "</textarea>" +
                                                            "</div>" +
                                                            "<div class='input-group mt-3 d-flex justify-content-center'>" +
                                                                "<span class='input-group-text'>" +
                                                                    "<i class='fa-solid fa-file-text fs-4' aria-hidden='true'></i>" +
                                                                "</span>" +
                                                                "<textarea type='text' class='form-control' placeholder='ชื่่อ IDP Group' name='CompetencyDesc' style='min-width: 80%'>" + compty.CompetencyDesc  + "</textarea>" +
                                                            "</div>" +
                                                            "<hr />" +
                                                            "<div class='input-group-text'>" +
                                                                "<div>ใช้ Competency นี้?</div>" +
                                                            "</div>" +
                                                            "<div class='input-group mt-2'>" +
                                                                "<div class='input-group-text'>" +
                                                                    "<input class='form-check-input mt-0' type='radio' value='true' " + (compty.Active == true ? 'checked' : '') + " name='Active' aria-label='Radio button for following text input'>" +
                                                                "</div>" +
                                                                "<div class='form-control'>ใช้</div>" +
                                                            "</div>" +
                                                            "<div class='input-group mt-2'>" +
                                                                "<div class='input-group-text'>" +
                                                                    "<input class='form-check-input mt-0' type='radio' value='false' " + (compty.Active == false ? 'checked' : '') + " name='Active' aria-label='Radio button for following text input'>" +
                                                                "</div>" +
                                                                "<div class='form-control'>ไม่ใช้</div>" +
                                                            "</div>" +
                                                        "</div>" +
                                                        "<div class='col-7'>" +
                                                            "<div class='input-group mt-3 d-flex justify-content-center'>" +
                                                                "<span class='input-group-text'>" +
                                                                    "<strong>PL1</strong>" +
                                                                "</span>" +
                                                                "<textarea type='text' class='form-control justify-content-center' style='min-width: 80%' name='Pl1'>" + compty.Pl1 + "</textarea>" +
                                                            "</div>" +
                                                            "<div class='input-group mt-3 d-flex justify-content-center'>" +
                                                                "<span class='input-group-text'>" +
                                                                    "<strong>PL2</strong>" +
                                                                "</span>" +
                                                                "<textarea type='text' class='form-control justify-content-center' style='min-width: 80%' name='Pl2'>" + compty.Pl2 + "</textarea>" +
                                                            "</div>" +
                                                            "<div class='input-group mt-3 d-flex justify-content-center'>" +
                                                                "<span class='input-group-text'>" +
                                                                    "<strong>PL3</strong>" +
                                                                "</span>" +
                                                                "<textarea type='text' class='form-control justify-content-center' style='min-width: 80%' name='Pl3'>" + compty.Pl3 + "</textarea>" +
                                                            "</div>" +
                                                            "<div class='input-group mt-3 d-flex justify-content-center'>" +
                                                                "<span class='input-group-text'>" +
                                                                    "<strong>PL4</strong>" +
                                                                "</span>" +
                                                                "<textarea type='text' class='form-control justify-content-center' style='min-width: 80%' name='Pl4'>" + compty.Pl4 + "</textarea>" +
                                                            "</div>" +
                                                            "<div class='input-group mt-3 d-flex justify-content-center'>" +
                                                                "<span class='input-group-text'>" +
                                                                    "<strong>PL5</strong>" +
                                                                "</span>" +
                                                                "<textarea type='text' class='form-control justify-content-center' style='min-width: 80%' name='Pl5'>" + compty.Pl5 + "</textarea>" +
                                                            "</div>" +
                                                        "</div>" +
                                                    "</div>" +
                                                "</div>" +
                                                "<div class='modal-footer flex-nowrap p-0'>" +
                                                    "<button type='button' class='btn btn-lg btn-link fs-6 py-3 text-decoration-none col-6 rounded-0 m-0 btn-cancel' data-bs-dismiss='modal'><i class='fa-solid fa-ban gradient-icon-back fs-4'></i> <strong class='gradient-icon-back fs-4'>ยกเลิก</strong></button>" +
                                                    "<button type='submit' class='btn btn-lg btn-link fs-6 py-3 text-decoration-none col-6 rounded-0 m-0 btn-submit'><i class='fa-solid fa-save gradient-icon-submit fs-4'></i> <strong class='gradient-icon-submit fs-4'>บันทึก</strong></button>" +
                                                "</div>" +
                                            "</form>" +
                                        "</div>" +
                                    "</div>" +
                                "</div>" +
                                "<div class='modal fade' id='deleteModal-" + compty.CompetencyId +"' aria-labelledby='deleteModalLabel' aria-hidden='true'>" +
                                    "<div class='modal-dialog modal-dialog-centered'>" +
                                        "<div class='modal-content'>" +
                                            "<div class='modal-header'>" +
                                                "<h1 class='modal-title fs-3 fw-bold'>" +
                                                    "<i class='fa-solid fa-trash-can gradient-text-delete'></i> ลบ Competency" +
                                                "</h1>" +
                                                "<button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>" +
                                            "</div>" +
                                            "<form method='post' action='" + deleteCompetency + "' id='myForm'>" +
                                                "<div class='modal-body'>" +
                                                    "<h5 class='text -center'>คุณต้องการที่จะ<strong class='gradient-text-delete'>ลบ</strong> Competency: <strong>" + compty.CompetencyId + "</strong> นี้หรือไม่?</h5>" +
                                                "</div>" +
                                                "<div class='modal-footer flex-nowrap p-0'>" +
                                                    "<button type='button' class='btn btn-lg btn-link fs-6 py-3 text-decoration-none col-6 rounded-0 m-0 btn-submit' data-bs-dismiss='modal'>" +
                                                        "<i class='fa-solid fa-ban gradient-icon-submit fs-4'></i> <strong class='gradient-icon-submit fs-4'>ยกเลิก</strong>" +
                                                    "</button>" +
                                                    "<button type='button' class='btn btn-lg btn-link fs-6 py-3 text-decoration-none col-6 rounded-0 m-0 btn-cancel' onclick=\"deleteForm('" + compty.CompetencyId + "')\">" +
                                                        "<i class='fa-solid fa-trash-can gradient-icon-back fs-4'></i> <strong class='gradient-icon-back fs-4'>ลบ</strong>" +
                                                    "</button>" +
                                                "</div>" +
                                            "</form>" +
                                        "</div>" +
                                    "</div>" +
                                "</div>" +
                            "</td>" +
                        "</tr>";

            tableHtml += rowHtml;
        }

        $("#tableContainer").html(tableHtml);

        js('#myTable').DataTable({
            info: false,
            paging: false,
            scrollX: true,
            language: {
                search: '',
                searchPlaceholder: 'ค้นหา',
                lengthMenu: '_MENU_',
                paginate: {
                    next: 'ถัดไป <i class="fa fa-angle-double-right"></i>',
                    previous: '<i class="fa fa-angle-double-left"></i> ก่อนหน้า'
                },
                info: 'กำลังแสดง _START_ ถึง _END_ จาก _TOTAL_'
            },

            initComplete: function () {
                js('#myTable_length label').addClass('entries-label');
            }
        });
    }
</script>
<style>
    main {
        margin-top: -50px;
    }

    #myTable {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
        #myTable td,
        #myTable tbody th {
            vertical-align: top;
        }

    .background-container {
        background-color: white; /* Set the white background */
        display: inline-block; /* Display the container as an inline block to wrap the icon */
        border-radius: 50%; /* Apply a circular shape to the container */
        padding: 1rem; /* Add padding around the icon */
        overflow: hidden; /* Hide any overflow from the circular container */
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; /* Add a box shadow */
        margin-top: -50px;
    }

    .topic-icon {
        background: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text; /* Clip the background to the text */
        -webkit-text-fill-color: transparent; /* Make the text transparent to show the background gradient */
        font-size: 45px;
        /* Any other styles for the icon, if needed */
    }

    .topic-title {
        background-image: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }

        .topic-title h1 {
            font-weight: bold;
        }

    .card {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .form-label-id {
        background-color: #f8d7da;
        border: 2px solid #dc3545;
        color: #dc3545;
        font-weight: bold;
        border-radius: 6px;
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .form-label-pl {
        background-color: #fff3cd;
        border: 2px solid #ffc107;
        color: #ffc107;
        font-weight: bold;
        border-radius: 6px;
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .form-label-detail {
        background-color: #cff4fc;
        border: 2px solid #0dcaf0;
        color: #0dcaf0;
        font-weight: bold;
        border-radius: 6px;
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .dataTables_scrollBody {
        overflow-x: scroll;
    }

    .sticky-header-breadcrumb {
        position: sticky;
        border-radius: 0px;
        z-index: 10;
        top: 85px;
    }

    .sticky-header {
        position: sticky;
        z-index: 20;
    }

    .active-link-add,
    .active-link-upload {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

        .active-link-add:hover {
            transform: scale(.95);
            border: 2px solid #053a2f;
        }

    .gradient-icon-add {
        background-image: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .active-link-upload:hover {
        transform: scale(.95);
        border: 2px solid #2D4686;
    }

    .gradient-icon-upload {
        background-image: linear-gradient( 0deg, hsl(233deg 51% 36%) 0%, hsl(229deg 55% 38%) 11%, hsl(225deg 60% 39%) 22%, hsl(221deg 64% 41%) 33%, hsl(217deg 69% 42%) 44%, hsl(213deg 75% 44%) 56%, hsl(209deg 80% 45%) 67%, hsl(204deg 86% 46%) 78%, hsl(200deg 93% 46%) 89%, hsl(196deg 100% 47%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gradient-icon-submit {
        background-image: linear-gradient( 0deg, hsl(233deg 51% 36%) 0%, hsl(229deg 55% 38%) 11%, hsl(225deg 60% 39%) 22%, hsl(221deg 64% 41%) 33%, hsl(217deg 69% 42%) 44%, hsl(213deg 75% 44%) 56%, hsl(209deg 80% 45%) 67%, hsl(204deg 86% 46%) 78%, hsl(200deg 93% 46%) 89%, hsl(196deg 100% 47%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gradient-icon-back {
        background-image: linear-gradient( 0deg, hsl(357deg 100% 30%) 0%, hsl(358deg 85% 34%) 11%, hsl(358deg 76% 37%) 22%, hsl(358deg 69% 40%) 33%, hsl(358deg 64% 42%) 44%, hsl(357deg 59% 45%) 56%, hsl(357deg 55% 47%) 67%, hsl(356deg 52% 49%) 78%, hsl(355deg 52% 52%) 89%, hsl(354deg 53% 54%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .active-link-edit {
        border: none;
        background-color: white;
    }

        .active-link-edit:hover {
            background-color: white;
            border-bottom: 2px solid #0061ff;
        }

            .active-link-edit:hover i {
                transform: scale(1.2);
            }

    .active-link-delete {
        border: none;
        background-color: white;
    }

        .active-link-delete:hover {
            background-color: white;
            border-bottom: 2px solid #9B0008;
        }

            .active-link-delete:hover i {
                transform: scale(1.2);
            }

    .gradient-text-edit {
        background-image: linear-gradient( 0deg, hsl(220deg 100% 47%) 0%, hsl(216deg 100% 47%) 6%, hsl(213deg 100% 48%) 14%, hsl(209deg 100% 48%) 22%, hsl(206deg 100% 48%) 32%, hsl(202deg 100% 49%) 43%, hsl(199deg 100% 49%) 56%, hsl(195deg 100% 49%) 70%, hsl(192deg 100% 50%) 85%, hsl(188deg 100% 50%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gradient-text-delete {
        background-image: linear-gradient( 0deg, hsl(357deg 100% 30%) 0%, hsl(357deg 94% 33%) 11%, hsl(358deg 89% 36%) 22%, hsl(358deg 84% 39%) 33%, hsl(358deg 79% 42%) 44%, hsl(359deg 74% 46%) 56%, hsl(359deg 70% 49%) 67%, hsl(359deg 73% 53%) 78%, hsl(360deg 80% 56%) 89%, hsl(0deg 87% 60%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .btn-cancel:hover {
        background-color: #f8d7da;
    }

    .btn-submit:hover {
        background-color: #cce5ff;
    }
</style>
