@model IEnumerable<myApp.Models.CompetencyForm>
@{
    ViewBag.Title = "CompetencyForm";
}

<main class="mb-3" style="margin-top: 50px">
    <div class="card shadow">
        <div class="card-header bg-primary">
            <h2 class="text-center" style="color:white"><i class="fa fa-book" aria-hidden="true"></i> <strong>IDP Group</strong></h2>
        </div>
        <div class="card-body">
            <a href="@Url.Action("CreateCompetencyForm")" class="btn btn-success mb-3" style="width: 6rem; border-radius: 1rem"><i class="fa fa-plus" aria-hidden="true"><strong> เพิ่ม</strong></i></a>
            <table class="table table-hover table-responsive" id="myTable">
                <thead class="table-primary">
                    <tr>
                        <th width="10%">รหัส IDP Group</th>
                        <th width="70%">ชื่อ IDP Group</th>
                        <th width="10%">ปี</th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cmptyfm in Model)
                    {
                        <tr>
                            <td>@cmptyfm.CompetencyFormId</td>
                            <td>@cmptyfm.CompetencyFormName</td>
                            <td>@cmptyfm.Year</td>
                            <td>
                                <div class="btn-group me-2" role="group" aria-label="Second group">
                                    <a href="@Url.Action("SendEmail", new { id = cmptyfm.CompetencyFormId })" class="btn btn-success" title="ส่ง E-mail"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                    <a href="@Url.Action(" AddCompetency", new { id=cmptyfm.CompetencyFormId })" class="btn btn-info" title="เพิ่ม competency"><i class="fa fa-list-alt" aria-hidden="true"></i></a>
                                    <a href="@Url.Action("AddEmployee", new { id = cmptyfm.CompetencyFormId })" class="btn btn-warning" title="เพิ่มพนักงาน"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
                                    <a href="@Url.Action("EditCompetencyForm", new { id = cmptyfm.CompetencyFormId })" class="btn btn-primary" title="แก้ไข"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@cmptyfm.CompetencyFormId" title="ลบ">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="modal fade" id="deleteModal-@cmptyfm.CompetencyFormId" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-4">ต้องการที่จะลบรายวิชานี้หรือไม่?</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h5>รหัส Competency: @cmptyfm.CompetencyFormId</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                                                <a href="@Url.Action("DeleteCompetencyForm", new { id = cmptyfm.CompetencyFormId })" class="btn btn-danger">ยืนยัน</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.2.2/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#myTable').DataTable({
            language: {
                search: "ค้นหา:", // Change the search label here
            },
            scrollY: 500,
            
        });
    });
</script>
