@model  IEnumerable<myApp.Models.IDPGroup>
@{
    ViewBag.Title = "DetailCompetency";
}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis" href="@Url.Action("IDPGroup")" style="text-decoration: none;">
                    <i class="fa fa-book"></i> <strong>IDP Group</strong>
                    <span class="visually-hidden">Home</span>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="@Url.Action("DetailIDPGroup", new { id = ViewBag.IDPGroupId })">รายละเอียด</a>
            </li>
        </ol>
    </nav>
</div>


<main>
    <div class="py-3 text-center bg- p-3 rounded container mb-3" style="background-color: #eeeeee60">
        <i class="fa fa-file-text text-danger" style="font-size:70px;"></i>
        <h1><strong>รายละเอียด</strong></h1>
        <h4><i class="fa fa-key"></i> รหัส IDP Group: <code>@ViewBag.IDPGroupId</code></h4>
        <h4><i class="fa fa-tag"></i> ชื่อ IDP Group: <code>@ViewBag.IDPGroupName</code></h4>
        <h4><i class="fa fa-calendar"></i>  ปี: <code>@ViewBag.Year</code></h4>
        <h4><i class="fa fa-users" style="color: #DC3545"></i>  จำนวนคน: <code>@ViewBag.Member</code> | <i class="fa fa-stack-overflow" style="color: #DC3545"></i> จำนวน Competency: <code>@ViewBag.Competency</code></h4>
    </div>
        

    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="container card border-0">
                    <div class="card-header text-center border-0" style="background-color: #cce5ff">
                        <i class="fa fa-list-alt mt-2" style="color: #4083be; font-size: 40px;" aria-hidden="true"></i>
                        <h2 style="color: #4083be"><strong>Competency</strong></h2>
                    </div>
                    <div class="card-body border-0" mt-3">
                        <table class="table table-hover table-striped" id="competencyTB">
                            <thead>
                                <tr>
                                    <th>รหัส Competency</th>
                                    <th>ชื่อ Competency</th>
                                    <th>Pl</th>
                                    <th>ความสำคัญ</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var distinctCompetencies = Model.Select(c => new { c.CompetencyItem.CompetencyId, c.Competency.CompetencyNameTH, c.CompetencyItem.Pl, c.CompetencyItem.Priority }).Distinct().ToList();
                                    foreach (var cmptyForm in distinctCompetencies)
                                    {
                                        <tr>
                                            <th scope="row">@cmptyForm.CompetencyId</th>
                                            <td>@cmptyForm.CompetencyNameTH</td>
                                            <td>@cmptyForm.Pl</td>
                                            <td>@cmptyForm.Priority</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <div class="container card border-0">
                    <div class="card-header text-center border-0" style="background-color: #fff3cd">
                        <i class="fa fa-user mt-2" style="color: #dcb456; font-size: 40px;" aria-hidden="true"></i>
                        <h2 style="color: #dcb456"><strong>พนักงาน</strong></h2>
                    </div>
                    <div class="card-body border-0">
                        <table class="table table-hover table-striped" id="employeeTB" style="width: 100%">
                            <thead>
                                <tr>
                                    <th width="10%">รหัส</th>
                                    <th width="30%">ชื่อพนักงาน</th>
                                    <th width="20%">ตำแหน่ง</th>
                                    <th width="10%">ชื่อแผนก</th>
                                    <th width="20%">ตำแหน่งขั้น</th>
                                    <th width="10%">บริษัท</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var distinctEmployees = Model.Select(e => new { e.Enrollment.Id, e.User.Prefix, e.User.FirstNameTH, e.User.LastNameTH, e.User.JobLevel, e.User.DepartmentName, e.User.Position, e.User.Company }).Distinct().ToList();
                                    foreach (var enroll in distinctEmployees)
                                    {
                                        <tr>
                                            <th scope="row">@enroll.Id</th>
                                            <td>@enroll.Prefix @enroll.FirstNameTH @enroll.LastNameTH</td>
                                            <td>@enroll.Position</td>
                                            <td>@enroll.JobLevel</td>
                                            <td>@enroll.DepartmentName</td>
                                            <td>@enroll.Company</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="text-center">
        <a href="@Url.Action("IDPGroup")" class="btn btn-danger btn-lg" style="border-radius: 2rem"><i class="fa fa-arrow-left" aria-hidden="true"> <strong>ออก</strong></i> </a>
    </div>
</main>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.2.2/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#competencyTB').DataTable({
            language: {
                search: "ค้นหา:", // Change the search label here
            },
            
        });

        js('#employeeTB').DataTable({
            language: {
                search: "ค้นหา:", // Change the search label here
            },
            
        });
    });
</script>
