@model myApp.Models.CompetencyForm

@{
    ViewBag.Title = "EditCompetencyForm";
}

<main>
    <div class="container d-flex flex-column justify-content-center align-items-center">
        @using (Html.BeginForm("EditCompetencyForm", "Home", FormMethod.Post))
        {
            <div class="card shadow" style="width: 800px; margin-top: 50px">
                <div class="card-header bg-danger">
                    <h3 class="text-center mt-1" style="color: azure;">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <strong>แก้ไขหลักสูตร</strong>
                    </h3>
                    <h4 class="text-center" style="color: white;">รหัสหลักสูตร: <strong>@ViewBag.CompetencyFormId</strong></h4>
                </div>
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert" id="alertBox">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>@ViewBag.ErrorMessage
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <script>
                            // Automatically close the alert after 5 seconds
                            window.setTimeout(function () {
                                $("#alertBox").fadeTo(300, 0).slideUp(300, function () {
                                    $(this).remove();
                                });
                            }, 3000);
                        </script>
                    }

                    @Html.AntiForgeryToken()


                    <div class="input-group mt-3" style="width: 400px; margin-left: 11rem">
                        <span class="input-group-text d-flex justify-content-center" style="width: 10rem">
                            <i class="fa fa-tag mt-2" aria-hidden="true">
                                @Html.LabelFor(model => model.CompetencyFormName, new { @class = "form-label" })
                            </i>
                        </span>
                        @Html.TextBoxFor(model => model.CompetencyFormName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CompetencyFormName)
                    </div>

                    <div class="input-group mt-3" style="width: 400px; margin-left: 11rem">
                        <span class="input-group-text d-flex justify-content-center" style="width: 10rem">
                            <i class="fa fa-calendar mt-2" aria-hidden="true">
                                @Html.LabelFor(model => model.Year, new { @class = "form-label" })
                            </i>
                        </span>
                        <input type="number" class="form-control" min="2020" max="9999" name="Year" value="@ViewBag.Year" />
                    </div>


                @Html.HiddenFor(model => model.CompetencyFormId)



                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="@Url.Action("CompetencyForm")" class="btn btn-danger"><i class="fa fa-arrow-left" aria-hidden="true"></i> <strong>กลับ</strong></a>
                    <button type="reset" class="btn btn-warning"><i class="fa fa-refresh" aria-hidden="true"></i> <strong>รีเซ็ต</strong></button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> <strong>บันทึก</strong></button>
                </div>

            </div>
        }
    </div>
</main>

