@model myApp.Models.Competency
@{
    ViewBag.Title = "EditCompetency";
}

<main>
    <div class="container d-flex flex-column justify-content-center align-items-center">
        @using (Html.BeginForm("EditCompetency", "Home", FormMethod.Post))
        {
            <div class="card shadow" style="width: 800px; margin-top: 50px">
                <div class="card-header bg-danger">
                    <h3 class="text-center mt-1" style="color: white;">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <strong>แก้ไข Competency</strong>
                    </h3>
                    <h4 class="text-center" style="color: white;">รหัส Competency: <strong>@ViewBag.CompetencyId</strong></h4>
                </div>
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert" id="alertBox">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>@ViewBag.ErrorMessage
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <script>
                            // Automatically close the alert after 5 seconds
                            window.setTimeout(function () {
                                $("#alertBox").fadeTo(300, 0).slideUp(300, function () {
                                    $(this).remove();
                                });
                            }, 3000);
                        </script>
                    }

                    @Html.AntiForgeryToken()


                <div class="input-group mt-3" style="width: 200px; margin-left: 18rem">
                    <span class="input-group-text d-flex justify-content-center" style="width: 7rem">
                        <i class="fa fa-key mt-2" aria-hidden="true">
                            @Html.LabelFor(model => model.Type, new { @class = "form-label" })
                        </i>
                    </span>
                    <select class="form-select" id="Type" name="Type" accesskey="">
                        <option value="CC" @(ViewBag.CompetencyType == "CC" ? "selected" : "")>CC</option>
                        <option value="FC" @(ViewBag.CompetencyType == "FC" ? "selected" : "")>FC</option>
                        <option value="MC" @(ViewBag.CompetencyType == "MC" ? "selected" : "")>MC</option>
                        <option value="TC" @(ViewBag.CompetencyType == "TC" ? "selected" : "")>TC</option>
                    </select>

                    @Html.ValidationMessageFor(model => model.Type)
                </div>


                    <div class="input-group mt-3" style="width: 500px; margin-left: 10rem">
                        <span class="input-group-text d-flex justify-content-center" style="width: 10rem">
                            <i class="fa fa-book mt-2" aria-hidden="true">
                                @Html.LabelFor(model => model.CompetencyNameTH, new { @class = "form-label" })
                            </i>
                        </span>
                        @Html.TextBoxFor(model => model.CompetencyNameTH, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.CompetencyNameTH)
                    </div>

                    <div class="input-group mt-3" style="width: 500px; margin-left: 10rem">
                        <span class="input-group-text d-flex justify-content-center" style="width: 10rem">
                            <i class="fa fa-book mt-2" aria-hidden="true">
                                @Html.LabelFor(model => model.CompetencyNameEN, new { @class = "form-label" })
                            </i>
                        </span>
                        @Html.TextBoxFor(model => model.CompetencyNameEN, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CompetencyNameEN)
                    </div>

                    <hr>

                    <div class="input-group mt-3" style="width: 600px; margin-left: 11rem">
                        <span class="input-group-text d-flex justify-content-center" style="width: 8rem">
                            @Html.LabelFor(model => model.CompetencyDesc, new { @class = "form-label text-center mb-0" })
                        </span>
                        @Html.TextAreaFor(model => model.CompetencyDesc, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CompetencyDesc)
                    </div>
                    <div class="input-group mt-3" style="width: 600px; margin-left: 11rem">
                        <span class="input-group-text d-flex justify-content-center" style="width: 8rem">
                            @Html.LabelFor(model => model.Pl1, new { @class = "form-label text-center mb-0" })
                        </span>
                        @Html.TextAreaFor(model => model.Pl1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Pl1)
                    </div>
                    <div class="input-group mt-3" style="width: 600px; margin-left: 11rem">
                        <span class="input-group-text d-flex justify-content-center" style="width: 8rem">
                            @Html.LabelFor(model => model.Pl2, new { @class = "form-label text-center mb-0" })
                        </span>
                        @Html.TextAreaFor(model => model.Pl2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Pl2)
                    </div>
                    <div class="input-group mt-3" style="width: 600px; margin-left: 11rem">
                        <span class="input-group-text d-flex justify-content-center" style="width: 8rem">
                            @Html.LabelFor(model => model.Pl3, new { @class = "form-label text-center mb-0" })
                        </span>
                        @Html.TextAreaFor(model => model.Pl3, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Pl3)
                    </div>
                    <div class="input-group mt-3" style="width: 600px; margin-left: 11rem">
                        <span class="input-group-text d-flex justify-content-center" style="width: 8rem">
                            @Html.LabelFor(model => model.Pl4, new { @class = "form-label text-center mb-0" })
                        </span>
                        @Html.TextAreaFor(model => model.Pl4, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Pl4)
                    </div>
                    <div class="input-group mt-3" style="width: 600px; margin-left: 11rem">
                        <span class="input-group-text d-flex justify-content-center" style="width: 8rem">
                            @Html.LabelFor(model => model.Pl5, new { @class = "form-label text-center mb-0" })
                        </span>
                        @Html.TextAreaFor(model => model.Pl5, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Pl5)
                    </div>
                    <hr />

                    <div class="mt-3 list-group" style="width: 300px; margin-left: 14rem">

                        <div class="input-group-text">
                            <div><strong>มีการใช้ Competency นี้หรือไม่?</strong></div>
                        </div>

                        <div class="input-group mt-2">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="radio" value="true" name="Active" aria-label="Radio button for following text input" checked>
                            </div>
                            <div class="form-control">ใช้</div>
                        </div>
                        <div class="input-group mt-2">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="radio" value="false" name="Active" aria-label="Radio button for following text input">
                            </div>
                            <div class="form-control">ไม่ใช้</div>
                        </div>
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>


                    @Html.HiddenFor(model => model.CompetencyId)
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="@Url.Action("Index")" class="btn btn-danger"><i class="fa fa-arrow-left" aria-hidden="true"></i> <strong>กลับ</strong></a>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> <strong>บันทึก</strong></button>
                </div>

            </div>
        }
    </div>
</main>

