@model IEnumerable<myApp.Models.User>
@{
    ViewBag.Title = "Employee";
}
<link rel="stylesheet" href="/CSS/Style.css">
<div class="sticky-header-breadcrumb">
    <div class="header-breadcrumb" style="background-color: #2D4686;">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);">
            <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary">
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis text-decoration-none link" href="@Url.Action("Employee")">
                        <i class="fa fa-users" style="color: #C8E8FF; "></i> <strong style="color: #C8E8FF "> พนักงาน</strong>
                        <span class="visually-hidden">Home</span>
                    </a>
                </li>
            </ol>
        </nav>
    </div>

    <div class="text-center sticky-header">
        <div class="background-container">
            <i class="fa fa-users topic-icon"></i>
        </div>
    </div>

</div>
<main>
    <div class="card shadow border-0 m-3">
        <div class="card-body border-0 mt-4">
            <div class="row mb-2">
                <div class="col-4 d-flex align-items-center ">
                    <label for="exampleDataList" class="form-label me-2 mt-2 "> แผนก:</label>
                    <input class="form-control" list="selectType" id="exampleDataList" placeholder="Type to search..." style="width: 200px">
                    <datalist id="selectType">
                        <option value="">ทั้งหมด</option>
                        @foreach (var item in Model.Where(d => d.DepartmentName != null)
                                                   .Select(d => new { d.DepartmentName})
                                                   .Distinct())
                        {
                            <option value="@item.DepartmentName"></option>
                        }
                    </datalist>

                </div>
                <div class="col-4 text-center topic-title">
                    <h1>พนักงาน</h1>
                </div>
                <div class="col-4 text-end">

                </div>
            </div>
            <table class="table table-hover table-responsive table-striped" id="myTable" width="100%">
                <thead style="background-color: #2D4686; color: #C8E8FF">
                    <tr>
                        <th width="5%" class="text-center">รหัส</th>
                        <th width="20%" class="text-center">ชื่อพนักงาน</th>
                        <th width="5%" class="text-center">สถานะ</th>
                        <th width="20%" class="text-center">ตำแหน่ง</th>
                        <th width="10%" class="text-center">ตำแหน่งขั้น</th>
                        <th width="10%" class="text-center">Cost-Center</th>
                        <th width="20%" class="text-center">ชื่อแผนก</th>
                        <th width="5%" class="text-center">บริษัท</th>
                        <th width="5%" class="text-center"></th>
                        <th width="5%" class="text-center"></th>
                    </tr>
                </thead>
                <tbody id="tableContainer">
                    
                </tbody>
            </table>
        </div>
    </div>
</main>
<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.css" />
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#myTable').DataTable({
            searching: true,
            info: false,
            paging: false,
            order: [[4, 'asc']],
            language: {
                search: '',
                searchPlaceholder: 'ค้นหา',
                lengthMenu: '_MENU_',
                paginate: {
                    next: 'ถัดไป <i class="fa fa-angle-double-right"></i>',
                    previous: '<i class="fa fa-angle-double-left"></i> ก่อนหน้า'
                },
                info: 'กำลังแสดง _START_ ถึง _END_ จาก _TOTAL_'
            },
            columnDefs: [{
                targets: 8,
                orderable: false
            }, {
                targets: 9,
                orderable: false
            }],
            initComplete: function () {
                js('#myTable_length label').addClass('entries-label');
            }
        });
    });

    js(document).ready(function () {
        var send = '@Url.Action("GetDepartment", "Home")';

        var selectedValue = localStorage.getItem("Employee");

        if (selectedValue) {
            $("#selectType").val(selectedValue);
        }

        if (selectedValue) {
            $.ajax({
                url: send,
                type: "POST",
                data: { selectedValue: selectedValue },
                success: function (response) {
                    console.log(response);
                    buildTable(response);
                },
                error: function () {

                }
            });
        }

        $("#exampleDataList").change(function () {
            var selectedValue = $(this).val();
            console.log(selectedValue);
            localStorage.setItem("Employee", selectedValue);
            $.ajax({
                url: send,
                type: "POST",
                data: { selectedValue: selectedValue },
                success: function (response) {
                    console.log(response);
                    buildTable(response);
                    $("#exampleDataList").val("");
                },
                error: function () {

                }
            });
        });
    });

    function buildTable(users) {
        js('#myTable').DataTable().destroy();
        var tableHtml = "";

        for (var i = 0; i < users.length; i++) {
            var user = users[i];
            var d = new Date();
            var year = d.getFullYear();
            var addIDPGroup = '@Url.Action("AddIDPGroup", "Home")' + '?id=' + user.Id;
            var selectForm = '@Url.Action("SelectForm", "Home")' + '?user=' + user.Id + '&year=' + year+543;
            var iconHtml = "";
            var buttonHtml1 = "";
            var buttonHtml2 = "";
            var statusHtml = "";

            if (user.Prefix === "นาง" || user.Prefix === "นางสาว") {
                iconHtml = "<i class='fa-solid fa-person-dress' style='color:palevioletred; font-size:large' aria-hidden='true'></i>";
            } else if (user.Prefix === "นาย") {
                iconHtml = "<i class='fa-solid fa-person' style='color:cornflowerblue; font-size:large' aria-hidden='true'></i>";
            }

            if (user.Status === "ทำงาน") {
                statusHtml = "<p style='padding: 3px; border-radius: 3rem; background-color: #D5F8EF; color: #14B789; width: auto'>" + user.Status + "</p>";
                buttonHtml2 = "<a id='link' href='" + addIDPGroup + "' class='btn active-link-add' title='เพิ่ม IDP Group'><i class='fa fa-book gradient-icon-add' aria-hidden='true'></i></a>";
            }
            else {
                statusHtml = "<p style='padding: 3px; border-radius: 3rem; background-color: #FFE5F4; color: #E50087; width: auto'>" + user.Status + "</p>";
            }
            buttonHtml1 = "<a id='link' href='" + selectForm + "' class='btn active-link-form' title='แบบประเมิน'><i class='fa fa-file-text gradient-icon-form' aria-hidden='true'></i></a>";


            var rowHtml = "<tr>" +
                "<td class='text-center'>" + user.Id + "</td>" +
                "<td>" + iconHtml + " " + user.Prefix + " " + user.FirstNameTH + " " + user.LastNameTH + "</td>" +
                "<td class='text-center fw-bold'>" + statusHtml + "</td>" +
                "<td>" + user.Position + "</td>" +
                "<td class='text-center'>" + user.JobLevel + "</td>" +
                "<td class='text-center'>" + user.CostCenter + "</td>" +
                "<td>" + user.DepartmentName + "</td>" +
                "<td class='text-center'>" + user.Company + "</td>" +
                "<td class='text-center'>" + buttonHtml1 + "</td>" +
                "<td class='text-center'>" + buttonHtml2 + "</td>" +
                "</tr>";

            tableHtml += rowHtml;
        }

        $("#tableContainer").html(tableHtml);

        js('#myTable').DataTable({
            searching: true,
            info: false,
            paging: false,
            order: [[4, 'asc']],
            language: {
                search: '',
                searchPlaceholder: 'ค้นหา',
                lengthMenu: '_MENU_',
                paginate: {
                    next: 'ถัดไป <i class="fa fa-angle-double-right"></i>',
                    previous: '<i class="fa fa-angle-double-left"></i> ก่อนหน้า'
                },
                info: 'กำลังแสดง _START_ ถึง _END_ จาก _TOTAL_'
            },
            columnDefs: [{
                targets: 8,
                orderable: false
            }, {
                targets: 9,
                orderable: false
            }],
            initComplete: function () {
                js('#myTable_length label').addClass('entries-label');
            }
        });
    }


</script>
<style>
    p {
        margin-bottom: 0;
    }
    
    main {
        margin-top: -50px;
    }

    #myTable {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
       

        .background-container {
            background-color: white; /* Set the white background */
            display: inline-block; /* Display the container as an inline block to wrap the icon */
            border-radius: 50%; /* Apply a circular shape to the container */
            padding: 1rem; /* Add padding around the icon */
            overflow: hidden; /* Hide any overflow from the circular container */
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; /* Add a box shadow */
            margin-top: -50px;
        }

    .topic-icon {
        background: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text; /* Clip the background to the text */
        -webkit-text-fill-color: transparent; /* Make the text transparent to show the background gradient */
        font-size: 45px;
        /* Any other styles for the icon, if needed */
    }

    .topic-title {
        background-image: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }

        .topic-title h1 {
            font-weight: bold;
        }

    .card {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .form-label-id {
        background-color: #f8d7da;
        border: 2px solid #dc3545;
        color: #dc3545;
        font-weight: bold;
        border-radius: 6px;
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .form-label-pl {
        background-color: #fff3cd;
        border: 2px solid #ffc107;
        color: #ffc107;
        font-weight: bold;
        border-radius: 6px;
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .form-label-detail {
        background-color: #cff4fc;
        border: 2px solid #0dcaf0;
        color: #0dcaf0;
        font-weight: bold;
        border-radius: 6px;
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .dataTables_scrollBody {
        overflow-x: scroll;
    }

    .sticky-header-breadcrumb {
        position: sticky;
        border-radius: 0px;
        z-index: 10;
        top: 85px;
    }

    .sticky-header {
        position: sticky;
        z-index: 20;
    }


    .active-link-upload {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }


    .gradient-icon-add {
        background-image: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .active-link-upload:hover {
        transform: scale(.95);
        border: 2px solid #2D4686;
    }

    .gradient-icon-upload {
        background-image: linear-gradient( 0deg, hsl(233deg 51% 36%) 0%, hsl(229deg 55% 38%) 11%, hsl(225deg 60% 39%) 22%, hsl(221deg 64% 41%) 33%, hsl(217deg 69% 42%) 44%, hsl(213deg 75% 44%) 56%, hsl(209deg 80% 45%) 67%, hsl(204deg 86% 46%) 78%, hsl(200deg 93% 46%) 89%, hsl(196deg 100% 47%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .active-link-info {
        border: none;
        background-color: white;
    }

        .active-link-info:hover {
            background-color: white;
            border-bottom: 2px solid #0061ff;
        }

            .active-link-info:hover i {
                transform: scale(1.2);
            }

    .active-link-add {
        border: none;
        background-color: white;
    }

        .active-link-add:hover {
            background-color: white;
            border-bottom: 2px solid hsl(168deg 89% 14%);
        }

            .active-link-add:hover i {
                transform: scale(1.2);
            }

    .active-link-form {
        border: none;
        background-color: white;
    }

        .active-link-form:hover {
            background-color: white;
            border-bottom: 2px solid #FBB040;
        }

            .active-link-form:hover i {
                transform: scale(1.2);
            }

    .active-link-delete {
        border: none;
        background-color: white;
    }

        .active-link-delete:hover {
            background-color: white;
            border-bottom: 2px solid #9B0008;
        }

            .active-link-delete:hover i {
                transform: scale(1.2);
            }

    .fa-person,
    .gradient-text-edit {
        background-image: linear-gradient( 0deg, hsl(220deg 100% 47%) 0%, hsl(216deg 100% 47%) 6%, hsl(213deg 100% 48%) 14%, hsl(209deg 100% 48%) 22%, hsl(206deg 100% 48%) 32%, hsl(202deg 100% 49%) 43%, hsl(199deg 100% 49%) 56%, hsl(195deg 100% 49%) 70%, hsl(192deg 100% 50%) 85%, hsl(188deg 100% 50%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gradient-text-delete {
        background-image: linear-gradient( 0deg, hsl(357deg 100% 30%) 0%, hsl(357deg 94% 33%) 11%, hsl(358deg 89% 36%) 22%, hsl(358deg 84% 39%) 33%, hsl(358deg 79% 42%) 44%, hsl(359deg 74% 46%) 56%, hsl(359deg 70% 49%) 67%, hsl(359deg 73% 53%) 78%, hsl(360deg 80% 56%) 89%, hsl(0deg 87% 60%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gradient-icon-form {
        background-image: linear-gradient( 0deg, hsl(36deg 96% 62%) 0%, hsl(38deg 96% 61%) 11%, hsl(40deg 96% 61%) 22%, hsl(43deg 95% 61%) 33%, hsl(45deg 95% 60%) 44%, hsl(47deg 95% 60%) 56%, hsl(50deg 95% 60%) 67%, hsl(52deg 95% 59%) 78%, hsl(54deg 94% 59%) 89%, hsl(56deg 94% 59%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gradient-icon-add {
        background-image: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-person-dress {
        background-image: linear-gradient( 0deg, hsl(335deg 85% 55%) 0%, hsl(336deg 86% 58%) 11%, hsl(336deg 88% 60%) 22%, hsl(336deg 89% 63%) 33%, hsl(335deg 91% 65%) 44%, hsl(335deg 92% 67%) 56%, hsl(335deg 94% 69%) 67%, hsl(334deg 96% 71%) 78%, hsl(333deg 98% 73%) 89%, hsl(333deg 100% 75%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>