@model IEnumerable<myApp.Models.IDPGroup>
@{
    ViewBag.Title = "IDPGroup";
}

<link rel="stylesheet" href="/CSS/Style.css">
<div class="sticky-header-breadcrumb">
    <div class="header-breadcrumb" style="background-color: #2D4686;">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);">
            <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary">
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis text-decoration-none link" href="@Url.Action("IDPGroup")">
                        <i class="fa fa-book" style="color: #C8E8FF; "></i> <strong style="color: #C8E8FF ">IDP Group</strong>
                        <span class="visually-hidden">Home</span>
                    </a>
                </li>
            </ol>
        </nav>
    </div>

    <div class="text-center sticky-header">
        <div class="background-container">
            <i class="fa fa-book topic-icon"></i>
        </div>
    </div>

</div>
<main>
    <div class="card border-0 m-3">
        <div class="card-body mt-4 ">
            <div class="row mb-2">
                <div class="col-4">

                </div>
                <div class="col-4 text-center topic-title">
                    <h1>IDP Group</h1>
                </div>
                <div class="col-4 text-end">
                    <div class="row justify-content-end">
                        <div class="col-auto d-flex align-items-center">
                            <label for="selectType" class="form-label me-2 mt-2"> ปี:</label>
                            <select class="form-select" id="selectType" style="width: 100px">
                                <option value="">ทั้งหมด</option>
                                @foreach (var year in Model.Select(y => y.Year).Distinct())
                                {
                                    <option value="@year">@year</option>
                                }
                            </select>
                        </div>
                        <div class="col-auto mt-1">
                            <button type="button" class="btn btn-lg active-link-add me-2" data-bs-toggle="modal" data-bs-target="#CreateIDPGroup">
                                <i class="fa-solid fa-file-circle-plus gradient-icon-add fs-4" aria-hidden="true"></i> <strong class="gradient-icon-add"> เพิ่ม</strong>
                            </button>

                            <div class="modal fade" id="CreateIDPGroup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="CreateIDPGroupLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5 fw-bold" id="CreateIDPGroupLabel">
                                                <i class="fa-solid fa-file-circle-plus gradient-icon-add fs-3"></i> เพิ่ม IDP Group
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        @using (Html.BeginForm("CreateIDPGroup", "Home", FormMethod.Post, new { id = "createIDPGroupForm" }))
                                        {
                                            <div class="modal-body">
                                                <div class="alert alert-info alert-dismissible fade show text-center mt-3" role="alert">
                                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                                    <strong>ข้อควรระวัง:</strong> รหัส IDP Group นั้นหาก<strong>บันทึก</strong>แล้วไม่อาจแก้ไขได้ โปรดตรวจสอบให้แน่ใจก่อนทำการ<strong>บันทึก</strong>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>

                                                <div class="input-group input-group-lg mt-3 d-flex justify-content-center">
                                                    <span class="input-group-text">
                                                        <i class="fa-solid fa-key fs-4" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="รหัส IDP Group" name="IDPGroupId" id="IDPGroupId" required>
                                                </div>
                                                <div class="input-group input-group-lg mt-3 d-flex justify-content-center">
                                                    <span class="input-group-text">
                                                        <i class="fa-solid fa-tag fs-4" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="ชื่อ IDP Group" name="IDPGroupName" id="IDPGroupName" required>
                                                </div>

                                                <div class="input-group input-group-lg mt-3 d-flex justify-content-center">
                                                    <span class="input-group-text">
                                                        <i class="fa-solid fa-calendar-days fs-4" aria-hidden="true"></i>
                                                    </span>
                                                    <select class="form-select" id="Year" name="Year">
                                                        @for (int year = DateTime.Now.Year + 541; year <= DateTime.Now.Year + 545; year++)
                                                        {
                                                            <option value="@year">@year</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer flex-nowrap p-0">
                                                <button type="button" class="btn btn-lg btn-link fs-6 py-3 text-decoration-none col-6 rounded-0 m-0 btn-cancel" data-bs-dismiss="modal"><i class="fa-solid fa-ban gradient-icon-back fs-4"></i> <strong class="gradient-icon-back fs-4">ยกเลิก</strong></button>
                                                <button type="submit" class="btn btn-lg btn-link fs-6 py-3 text-decoration-none col-6 rounded-0 m-0 btn-submit"><i class="fa-solid fa-save gradient-icon-submit fs-4"></i> <strong class="gradient-icon-submit fs-4">บันทึก</strong></button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>


                            <a href="@Url.Action("UploadIDPGroup", "Home")" class="btn btn-lg active-link-upload">
                                <i class="fa fa-upload gradient-icon-upload" aria-hidden="true"></i> <strong class="gradient-icon-upload"> อัปโหลด</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show text-center" role="alert" id="alertBox">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> @TempData["ErrorMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <script>
                    window.setTimeout(function () {
                        $(".alert-danger").fadeTo(500, 0).slideUp(500, function () {
                            $(this).remove();

                        });
                    }, 5000);
                </script>
            }
            <table class="table table-hover table-responsive table-striped" id="myTable">
                <thead style="background-color: #2D4686; color: #C8E8FF ">
                    <tr>
                        <th width="10%" class="text-center">รหัส IDP Group</th>
                        <th width="50%" class="text-center">ชื่อ IDP Group</th>
                        <th width="10%" class="text-center">จำนวนคน</th>
                        <th width="10%" class="text-center">จำนวน Competency</th>
                        <th width="10%" class="text-center">ปี</th>
                        <th width="10%" class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var idp in Model)
                    {
                        <tr>
                            <td class="text-center">@idp.IDPGroupId</td>
                            <td class="text-start">@idp.IDPGroupName</td>
                            <td class="text-end">@idp.EmployeeEnrollmentCount</td>
                            <td class="text-end">@idp.EmployeeCompetencyCount</td>
                            <td class="text-center">@idp.Year</td>
                            <td class="text-center">
                                <div class="btn-group" role="group" aria-label="Second group">
                                    <button id="link" type="button" class="btn active-link-edit" title="แก้ไข" data-bs-toggle="modal" data-bs-target="#editModal-@idp.IDPGroupId">
                                        <i class="fa-solid fa-pencil gradient-text-edit" aria-hidden="true"></i>
                                    </button>
                                    <button id="link" type="button" class="btn active-link-copy" data-bs-toggle="modal" data-bs-target="#copyModal-@idp.IDPGroupId" title="คัดลอก" style="background-color: white">
                                        <i class="fa-solid fa-clone" aria-hidden="true"></i>
                                    </button>
                                    <a id="link" href="@Url.Action("DetailIDPGroup", new { idpGroupId = idp.IDPGroupId })" class="btn active-link-detail" title="รายละเอียด">
                                        <i class="fa-solid fa-eye gradient-text-detail" aria-hidden="true"></i>
                                    </a>
                                    <a id="link" href="@Url.Action("AddCompetency", new { idpGroupId = idp.IDPGroupId })" class="btn active-link-competency" title="เพิ่ม competency" style="background-color: white">
                                        <i class="fa fa-solid fa-layer-group gradient-text-competency" aria-hidden="true"></i>
                                    </a>
                                    <a id="link" href="@Url.Action("AddEmployee", new { idpGroupId = idp.IDPGroupId })" class="btn  active-link-employee" title="เพิ่มพนักงาน" style="background-color: white">
                                        <i class="fa fa-graduation-cap gradient-text-employee" aria-hidden="true"></i>
                                    </a>
                                    <button id="link" type="button" class="btn active-link-delete" data-bs-toggle="modal" data-bs-target="#deleteModal-@idp.IDPGroupId" title="ลบ" style="background-color: white">
                                        <i class="fa fa-trash gradient-text-delete" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="modal fade" id="copyModal-@idp.IDPGroupId" tabindex="-1" aria-labelledby="copyModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-4 fw-bold">
                                                    <i class="fa-solid fa-clone"></i> คัดลอก IDP Group (@idp.IDPGroupId)
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            @using (Html.BeginForm("CopyIDPGroup", "Home", FormMethod.Post))
                                            {
                                                <input type="hidden" name="IDPGroupIdCopy" value="@idp.IDPGroupId" />
                                                <div class="modal-body">
                                                    <div class="input-group input-group-lg mt-3 d-flex justify-content-center">
                                                        <span class="input-group-text">
                                                            <i class="fa-solid fa-key fs-4" aria-hidden="true"></i>
                                                        </span>
                                                        <input type="text" class="form-control" placeholder="รหัส IDP Group" name="IDPGroupId" id="IDPGroupId" required>
                                                    </div>
                                                    <div class="input-group input-group-lg mt-3 d-flex justify-content-center">
                                                        <span class="input-group-text">
                                                            <i class="fa-solid fa-tag fs-4" aria-hidden="true"></i>
                                                        </span>
                                                        <input type="text" class="form-control" placeholder="ชื่อ IDP Group" name="IDPGroupName" id="IDPGroupName" value="@idp.IDPGroupName">
                                                    </div>

                                                    <div class="input-group input-group-lg mt-3 d-flex justify-content-center">
                                                        <span class="input-group-text">
                                                            <i class="fa-solid fa-calendar-days fs-4" aria-hidden="true"></i>
                                                        </span>
                                                        <select class="form-select" id="Year" name="Year">
                                                            @for (int year = DateTime.Now.Year + 541; year <= DateTime.Now.Year + 545; year++)
                                                            {
                                                                <option value="@year" @(year.ToString() == idp.Year ? "selected" : "")>@year</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <hr />
                                                    <div class="input-group mt-3 d-flex justify-content-center">
                                                        <div class="input-group-text">
                                                            <input class="form-check-input mt-0" type="checkbox" name="Emp" value="true" aria-label="Checkbox for following text input">
                                                        </div>
                                                        <input type="text" class="form-control" aria-label="Text input with checkbox" value="พนักงาน" disabled>
                                                    </div>
                                                    <div class="input-group mb-3 d-flex justify-content-center">
                                                        <div class="input-group-text">
                                                            <input class="form-check-input mt-0" type="checkbox" name="Cmpt" value="true" aria-label="Checkbox for following text input">
                                                        </div>
                                                        <input type="text" class="form-control" aria-label="Text input with checkbox" value="Competency" disabled>
                                                    </div>
                                                </div>
                                                <div class="modal-footer flex-nowrap p-0">
                                                    <button type="button" class="btn btn-lg btn-link fs-6 py-3 text-decoration-none col-6 rounded-0 m-0 btn-cancel" data-bs-dismiss="modal"><i class="fa-solid fa-ban gradient-icon-back fs-4"></i> <strong class="gradient-icon-back fs-4">ยกเลิก</strong></button>
                                                    <button type="submit" class="btn btn-lg btn-link fs-6 py-3 text-decoration-none col-6 rounded-0 m-0 btn-submit"><i class="fa-solid fa-save gradient-icon-submit fs-4"></i> <strong class="gradient-icon-submit fs-4">บันทึก</strong></button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="editModal-@idp.IDPGroupId" aria-labelledby="editModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-3 fw-bold" id="staticBackdropLabel">
                                                    <i class="fa-solid fa-pencil gradient-text-edit"></i> แก้ไข IDP Group
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            @using (Html.BeginForm("EditIDPGroup", "Home", FormMethod.Post))
                                            {
                                                <input type="hidden" name="IDPGroupId" value="@idp.IDPGroupId" />
                                                <div class="modal-body">
                                                    <h3><i class="fa-solid fa-key"></i> @idp.IDPGroupId</h3>
                                                    <div class="input-group input-group-lg mt-3 d-flex justify-content-center">
                                                        <span class="input-group-text">
                                                            <i class="fa-solid fa-tag fs-4" aria-hidden="true"></i>
                                                        </span>
                                                        <input type="text" class="form-control" placeholder="ชื่อ IDP Group" name="IDPGroupName" id="IDPGroupName" value="@idp.IDPGroupName">
                                                    </div>

                                                    <div class="input-group input-group-lg mt-3 d-flex justify-content-center">
                                                        <span class="input-group-text">
                                                            <i class="fa-solid fa-calendar-days fs-4" aria-hidden="true"></i>
                                                        </span>
                                                        <select class="form-select" id="Year" name="Year">
                                                            @for (int year = DateTime.Now.Year + 541; year <= DateTime.Now.Year + 545; year++)
                                                            {
                                                                <option value="@year" @(year.ToString() == idp.Year ? "selected" : "")>@year</option>
                                                            }
                                                        </select>
                                                    </div>

                                                </div>

                                                <div class="modal-footer flex-nowrap p-0">
                                                    <button type="button" class="btn btn-lg btn-link fs-6 py-3 text-decoration-none col-6 rounded-0 m-0 btn-cancel" data-bs-dismiss="modal">
                                                        <i class="fa-solid fa-ban gradient-icon-back fs-4"></i> <strong class="gradient-icon-back fs-4">ยกเลิก</strong>
                                                    </button>
                                                    <button type="submit" class="btn btn-lg btn-link fs-6 py-3 text-decoration-none col-6 rounded-0 m-0 btn-submit">
                                                        <i class="fa-solid fa-save gradient-icon-submit fs-4"></i> <strong class="gradient-icon-submit fs-4">บันทึก</strong>
                                                    </button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="deleteModal-@idp.IDPGroupId" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-3 fw-bold">
                                                    <i class="fa-solid fa-trash-can gradient-text-delete"></i> ลบ IDP Group
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            @using (Html.BeginForm("DeleteIDPGroup", "Home", FormMethod.Post, new { id = "myForm" }))
                                            {
                                                <div class="modal-body">
                                                    <h5>
                                                        คุณต้องการที่จะ<strong class="gradient-text-delete">ลบ</strong> IDP Group: <strong>@idp.IDPGroupId</strong> นี้หรือไม่?
                                                    </h5>
                                                </div>
                                                <div class="modal-footer flex-nowrap p-0">
                                                    <button type="button" class="btn btn-lg btn-link fs-6 py-3 text-decoration-none col-6 rounded-0 m-0 btn-submit" data-bs-dismiss="modal">
                                                        <i class="fa-solid fa-ban gradient-icon-submit fs-4"></i> <strong class="gradient-icon-submit fs-4">ยกเลิก</strong>
                                                    </button>
                                                    <button type="button" class="btn btn-lg btn-link fs-6 py-3 text-decoration-none col-6 rounded-0 m-0 btn-cancel" onclick="deleteForm('@idp.IDPGroupId')">
                                                        <i class="fa-solid fa-trash-can gradient-icon-back fs-4"></i> <strong class="gradient-icon-back fs-4">ลบ</strong>
                                                    </button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.css" />
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#myTable').DataTable({
            info: false,
            paging: false,
            language: {
                search: '',
                searchPlaceholder: 'ค้นหา',
                lengthMenu: '_MENU_',
                paginate: {
                    next: 'ถัดไป <i class="fa fa-angle-right"></i>',
                    previous: '<i class="fa fa-angle-left"></i> ก่อนหน้า'
                },
                info: 'กำลังแสดง _START_ ถึง _END_ จาก _TOTAL_'
            },
            columnDefs: [{
                targets: 5,
                orderable: false
            }],

            initComplete: function () {
                js('#myTable_length label').addClass('entries-label');
            }
        });
    });

    function deleteForm(idpGroupId) {
        var formData = $('#myForm').serialize();

        formData += '&idpGroupId=' + encodeURIComponent(idpGroupId);

        $.ajax({
            type: 'POST',
            url: $('#myForm').attr('action'),
            data: formData,
            success: function (data) {
                window.location.href = '@Url.Action("IDPGroup", "Home")';
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }


    document.addEventListener('DOMContentLoaded', function () {
        const filterSelect = document.getElementById('selectType');
        const tableRows = document.querySelectorAll('#myTable tbody tr');

        function filterTableByType() {
            const selectedType = filterSelect.value;

            tableRows.forEach((row) => {
                const rowType = row.cells[4].textContent.trim();

                if (selectedType === '' || rowType === selectedType) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        }

        filterSelect.addEventListener('change', filterTableByType);

        filterTableByType();
    });
</script>
<style>

    main {
        margin-top: -50px;
    }

    h3 {
        margin-bottom: 0;
    }

    .form-check-input[type="checkbox"] {
        width: 25px;
        height: 25px;
        margin-bottom: 0;
    }

    .background-container {
        background-color: white; /* Set the white background */
        display: inline-block; /* Display the container as an inline block to wrap the icon */
        border-radius: 50%; /* Apply a circular shape to the container */
        padding: 1rem; /* Add padding around the icon */
        overflow: hidden; /* Hide any overflow from the circular container */
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; /* Add a box shadow */
        margin-top: -50px;
    }

    .topic-icon {
        background: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text; /* Clip the background to the text */
        -webkit-text-fill-color: transparent; /* Make the text transparent to show the background gradient */
        font-size: 45px;
        /* Any other styles for the icon, if needed */
    }

    .topic-title {
        background-image: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }

        .topic-title h1 {
            font-weight: bold;
        }

    .card {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .form-label-id {
        background-color: #f8d7da;
        border: 2px solid #dc3545;
        color: #dc3545;
        font-weight: bold;
        border-radius: 6px;
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .form-label-pl {
        background-color: #fff3cd;
        border: 2px solid #ffc107;
        color: #ffc107;
        font-weight: bold;
        border-radius: 6px;
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .form-label-detail {
        background-color: #cff4fc;
        border: 2px solid #0dcaf0;
        color: #0dcaf0;
        font-weight: bold;
        border-radius: 6px;
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .sticky-header-breadcrumb {
        position: sticky;
        border-radius: 0px;
        z-index: 10;
        top: 85px;
    }

    .sticky-header {
        position: sticky;
        z-index: 20;
    }

    .active-link-edit {
        border: none;
        background-color: white;
    }

        .active-link-edit:hover {
            background-color: white;
            border-bottom: 2px solid #0061ff;
        }

            .active-link-edit:hover i {
                transform: scale(1.2);
            }

    .active-link-detail {
        border: none;
        background-color: white;
    }

        .active-link-detail:hover {
            background-color: white;
            border-bottom: 2px solid #ef4136;
        }

            .active-link-detail:hover i {
                transform: scale(1.2);
            }

    .active-link-competency {
        border: none;
        background-color: white;
    }

        .active-link-competency:hover {
            background-color: white;
            border-bottom: 2px solid #2D4686;
        }

            .active-link-competency:hover i {
                transform: scale(1.2);
            }

    .active-link-employee {
        border: none;
        background: #FBB040;
    }

        .active-link-employee:hover {
            background-color: white;
            border-bottom: 2px solid #FBB040;
        }

            .active-link-employee:hover i {
                transform: scale(1.2);
            }

    .active-link-delete {
        border: none;
        background: white;
    }

        .active-link-delete:hover {
            background-color: white;
            border-bottom: 2px solid #9B0008;
        }

            .active-link-delete:hover i {
                transform: scale(1.2);
            }

    .active-link-copy {
        border: none;
        background: white;
    }

        .active-link-copy:hover {
            background-color: white;
            border-bottom: 2px solid #7F00FF;
        }

            .active-link-copy:hover i {
                transform: scale(1.2);
            }

    .gradient-text-edit {
        background-image: linear-gradient( 0deg, hsl(220deg 100% 47%) 0%, hsl(216deg 100% 47%) 6%, hsl(213deg 100% 48%) 14%, hsl(209deg 100% 48%) 22%, hsl(206deg 100% 48%) 32%, hsl(202deg 100% 49%) 43%, hsl(199deg 100% 49%) 56%, hsl(195deg 100% 49%) 70%, hsl(192deg 100% 50%) 85%, hsl(188deg 100% 50%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gradient-text-detail {
        background-image: linear-gradient( 0deg, hsl(4deg 85% 57%) 0%, hsl(7deg 86% 58%) 11%, hsl(11deg 87% 58%) 22%, hsl(14deg 89% 59%) 33%, hsl(18deg 90% 59%) 44%, hsl(22deg 91% 60%) 56%, hsl(25deg 92% 60%) 67%, hsl(29deg 93% 61%) 78%, hsl(32deg 95% 61%) 89%, hsl(36deg 96% 62%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gradient-text-competency {
        background-image: linear-gradient( 0deg, hsl(233deg 51% 36%) 0%, hsl(229deg 55% 38%) 11%, hsl(225deg 60% 39%) 22%, hsl(221deg 64% 41%) 33%, hsl(217deg 69% 42%) 44%, hsl(213deg 75% 44%) 56%, hsl(209deg 80% 45%) 67%, hsl(204deg 86% 46%) 78%, hsl(200deg 93% 46%) 89%, hsl(196deg 100% 47%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gradient-text-employee {
        background-image: linear-gradient( 0deg, hsl(36deg 96% 62%) 0%, hsl(38deg 96% 61%) 11%, hsl(40deg 96% 61%) 22%, hsl(43deg 95% 61%) 33%, hsl(45deg 95% 60%) 44%, hsl(47deg 95% 60%) 56%, hsl(50deg 95% 60%) 67%, hsl(52deg 95% 59%) 78%, hsl(54deg 94% 59%) 89%, hsl(56deg 94% 59%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gradient-text-delete {
        background-image: linear-gradient( 0deg, hsl(357deg 100% 30%) 0%, hsl(357deg 94% 33%) 11%, hsl(358deg 89% 36%) 22%, hsl(358deg 84% 39%) 33%, hsl(358deg 79% 42%) 44%, hsl(359deg 74% 46%) 56%, hsl(359deg 70% 49%) 67%, hsl(359deg 73% 53%) 78%, hsl(360deg 80% 56%) 89%, hsl(0deg 87% 60%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gradient-icon-submit {
        background-image: linear-gradient( 0deg, hsl(233deg 51% 36%) 0%, hsl(229deg 55% 38%) 11%, hsl(225deg 60% 39%) 22%, hsl(221deg 64% 41%) 33%, hsl(217deg 69% 42%) 44%, hsl(213deg 75% 44%) 56%, hsl(209deg 80% 45%) 67%, hsl(204deg 86% 46%) 78%, hsl(200deg 93% 46%) 89%, hsl(196deg 100% 47%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gradient-icon-back {
        background-image: linear-gradient( 0deg, hsl(357deg 100% 30%) 0%, hsl(358deg 85% 34%) 11%, hsl(358deg 76% 37%) 22%, hsl(358deg 69% 40%) 33%, hsl(358deg 64% 42%) 44%, hsl(357deg 59% 45%) 56%, hsl(357deg 55% 47%) 67%, hsl(356deg 52% 49%) 78%, hsl(355deg 52% 52%) 89%, hsl(354deg 53% 54%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    .active-link-upload,
    .active-link-add {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }


        .active-link-add:hover {
            transform: scale(.95);
            border: 2px solid #053a2f;
        }

        .active-link-upload:hover {
            transform: scale(.95);
            border: 2px solid #2D4686;
        }

    .gradient-icon-upload {
        background-image: linear-gradient( 0deg, hsl(233deg 51% 36%) 0%, hsl(229deg 55% 38%) 11%, hsl(225deg 60% 39%) 22%, hsl(221deg 64% 41%) 33%, hsl(217deg 69% 42%) 44%, hsl(213deg 75% 44%) 56%, hsl(209deg 80% 45%) 67%, hsl(204deg 86% 46%) 78%, hsl(200deg 93% 46%) 89%, hsl(196deg 100% 47%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gradient-icon-add {
        background-image: linear-gradient( 0deg, hsl(168deg 84% 12%) 0%, hsl(168deg 86% 13%) 11%, hsl(168deg 89% 14%) 22%, hsl(168deg 91% 15%) 33%, hsl(167deg 93% 16%) 44%, hsl(167deg 94% 18%) 56%, hsl(167deg 96% 19%) 67%, hsl(167deg 98% 20%) 78%, hsl(167deg 99% 21%) 89%, hsl(167deg 100% 22%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #myTable {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .fa-clone {
        background-image: linear-gradient( 0deg, hsl(270deg 100% 50%) 0%, hsl(273deg 100% 50%) 11%, hsl(276deg 100% 50%) 22%, hsl(279deg 100% 50%) 33%, hsl(281deg 100% 50%) 44%, hsl(284deg 100% 50%) 56%, hsl(286deg 100% 50%) 67%, hsl(289deg 100% 50%) 78%, hsl(291deg 100% 50%) 89%, hsl(293deg 100% 50%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-tag {
        background-image: linear-gradient( 0deg, hsl(335deg 85% 55%) 0%, hsl(335deg 86% 57%) 11%, hsl(335deg 87% 59%) 22%, hsl(334deg 89% 61%) 33%, hsl(334deg 90% 63%) 44%, hsl(334deg 91% 66%) 56%, hsl(334deg 93% 68%) 67%, hsl(333deg 95% 70%) 78%, hsl(333deg 97% 72%) 89%, hsl(333deg 100% 75%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-key {
        background-image: linear-gradient( 0deg, hsl(36deg 96% 62%) 0%, hsl(38deg 96% 61%) 11%, hsl(40deg 96% 61%) 22%, hsl(43deg 95% 61%) 33%, hsl(45deg 95% 60%) 44%, hsl(47deg 95% 60%) 56%, hsl(50deg 95% 60%) 67%, hsl(52deg 95% 59%) 78%, hsl(54deg 94% 59%) 89%, hsl(56deg 94% 59%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-calendar-days {
        background-image: linear-gradient( 0deg, hsl(357deg 100% 30%) 0%, hsl(358deg 85% 34%) 11%, hsl(358deg 76% 37%) 22%, hsl(358deg 69% 40%) 33%, hsl(358deg 64% 42%) 44%, hsl(357deg 59% 45%) 56%, hsl(357deg 55% 47%) 67%, hsl(356deg 52% 49%) 78%, hsl(355deg 52% 52%) 89%, hsl(354deg 53% 54%) 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .btn-cancel:hover {
        background-color: #f8d7da;
    }

    .btn-submit:hover {
        background-color: #cce5ff;
    }
</style>
