@model IEnumerable<myApp.Models.Competency>
@{
    ViewBag.Title = "Home Page";
}

<main class="mb-3" style="margin-top: 50px">
    <div class="card shadow">
        <div class="card-header bg-primary">
            <h2 class="text-center" style="color:white"><i class="fa fa-list-alt" aria-hidden="true"></i> <strong>Competency</strong></h2>
        </div>
        <div class="card-body">
            <a href="@Url.Action("CreateCompetency")" class="btn btn-success mb-3" style="width: 6rem; border-radius: 1rem"><i class="fa fa-plus" aria-hidden="true"><strong> เพิ่ม</strong></i></a>
            <a href="@Url.Action("UploadCompetency")" class="btn btn-primary mb-3 position-relative" style="width: 8rem; border-radius: 1rem">
                <i class="fa fa-upload" aria-hidden="true"><strong> อัปโหลด</strong></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
                    <i class="fa fa-file-excel-o" style="font-size: medium" aria-hidden="true"></i> 
                    <span class="visually-hidden">unread messages</span>
                </span>
            </a>
            <table class="table table-hover table-responsive" id="myTable">
                <thead class="table-primary" style="font-size: 14px">
                    <tr>
                        <th>ชนิด</th>
                        <th>รหัส</th>
                        <th width="80">การใช้งาน</th>
                        <th>ชื่อภาษาไทย</th>
                        <th>ชื่อภาษาอังกฤษ</th>
                        <th>Definition</th>
                        <th>pl1</th>
                        <th>pl2</th>
                        <th>pl3</th>
                        <th>pl4</th>
                        <th>pl5</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cmpty in Model)
                    {
                        <tr>
                            <th scope="row">@cmpty.Type</th>
                            <th scope="row">@cmpty.CompetencyId</th>
                            <td style="@(cmpty.Active ? "background-color: green; color: white" : "background-color: red; color: white")">@(cmpty.Active ? "ใช้" : "ไม่ใช้")</td>
                            <td style="font-size: 14px">@cmpty.CompetencyNameTH</td>
                            <td style="font-size: 14px">@cmpty.CompetencyNameEN</td>
                            <td style="font-size: 12px">@cmpty.CompetencyDesc</td>
                            <td style="font-size: 12px">@cmpty.Pl1</td>
                            <td style="font-size: 12px">@cmpty.Pl2</td>
                            <td style="font-size: 12px">@cmpty.Pl3</td>
                            <td style="font-size: 12px">@cmpty.Pl4</td>
                            <td style="font-size: 12px">@cmpty.Pl5</td>
                            <td>
                                <div class="btn-group me-2" role="group" aria-label="Second group">
                                    <a href="@Url.Action("EditCompetency", new { id = cmpty.CompetencyId })" class="btn btn-primary" title="แก้ไข"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@cmpty.CompetencyId" title="ลบ">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="modal fade" id="deleteModal-@cmpty.CompetencyId" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-4">ต้องการที่จะลบรายวิชานี้หรือไม่?</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h5>รหัส Competency: @cmpty.CompetencyId</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                                                <a href="@Url.Action("DeleteCompetency", new { id = cmpty.CompetencyId })" class="btn btn-danger">ยืนยัน</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>


<script src="~/Scripts/jquery-3.4.1.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.2.2/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#myTable').DataTable({
            language: {
                search: "ค้นหา:", // Change the search label here
            },
            scrollY: 800,
           
        });
    });
</script>