@model IEnumerable<myApp.Models.Competency>
@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="/CSS/Style.css">
<div class="rounded-3 m-3" style="background-color: #cce5ff">
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis text-decoration-none" href="@Url.Action("Index")">
                    <i class="fa fa-stack-overflow" style="color: #4083be"></i> <strong style="color: #4083be">Competency</strong>
                    <span class="visually-hidden">Home</span>
                </a>
            </li>
        </ol>
    </nav>
</div>
<main>
    <div class="card shadow border-0 m-3">
        <div class="card-header text-center border-0 py-3" style="background-color: #f8d7da;">
            <i class="fa fa-stack-overflow" style="font-size: 60px;color: #dc3545"></i>
            <h1 style="color: #dc3545"><strong>Competency</strong></h1>
        </div>
        <div class="card-body border-0">
            <div class="row mb-2">
                <div class="col-auto me-auto">

                </div>
                <div class="col-auto">
                    <a href="@Url.Action("CreateCompetency")" class="btn shadow-sm btn-lg me-2 active-link" style="background-color: #d4edda; width: auto">
                        <i class="fa fa-plus text-success" aria-hidden="true"><strong> เพิ่ม</strong></i>
                    </a>
                    <a href="@Url.Action("UploadCompetency")" class="btn shadow-sm btn-lg active-link-upload" style="background-color: #cce5ff; width: auto">
                        <i class="fa fa-upload" style="color: #4083be" aria-hidden="true"><strong style="color: #4083be"> อัปโหลด</strong></i>

                    </a>
                </div>
            </div>
            <div class="table-container">
                <table class="table table-hover table-striped table-responsive" id="myTable">
                    <thead class="table-primary" style="font-size: 14px">
                        <tr>
                            <th width="5%">ชนิด</th>
                            <th width="5%">รหัส</th>
                            <th width="5%">การใช้งาน</th>
                            <th width="10%">ชื่อภาษาไทย</th>
                            <th width="10%">ชื่อภาษาอังกฤษ</th>
                            <th width="10%">Definition</th>
                            <th width="10%">pl1</th>
                            <th width="10%">pl2</th>
                            <th width="10%">pl3</th>
                            <th width="10%">pl4</th>
                            <th width="10%">pl5</th>
                            <th width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cmpty in Model)
                        {
                            <tr>
                                <th scope="row">@cmpty.Type</th>
                                <th scope="row">@cmpty.CompetencyId</th>
                                <td style="@(cmpty.Active ? "background-color: green; color: white" : "background-color: red; color: white")">@(cmpty.Active ? "ใช้" : "ไม่ใช้")</td>
                                <td style="font-size: 14px">@cmpty.CompetencyNameTH</td>
                                <td style="font-size: 14px">@cmpty.CompetencyNameEN</td>
                                <td style="font-size: 12px">@cmpty.CompetencyDesc</td>
                                <td style="font-size: 12px">@cmpty.Pl1</td>
                                <td style="font-size: 12px">@cmpty.Pl2</td>
                                <td style="font-size: 12px">@cmpty.Pl3</td>
                                <td style="font-size: 12px">@cmpty.Pl4</td>
                                <td style="font-size: 12px">@cmpty.Pl5</td>
                                <td>
                                    <div class="btn-group me-2" role="group" aria-label="Second group">
                                        <button id="link" type="button" class="btn active-link-edit" title="แก้ไข" data-bs-toggle="modal" data-bs-target="#editModal-@cmpty.CompetencyId" style="background-color: #cfe2ff">
                                            <i class="fa fa-pencil" style="color: #4083be" aria-hidden="true"></i>
                                        </button>
                                        <button id="link" type="button" class="btn  active-link-delete" data-bs-toggle="modal" style="background-color: #f8d7da" data-bs-target="#deleteModal-@cmpty.CompetencyId" title="ลบ">
                                            <i class="fa fa-trash" style="color: #dc3545 " aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="modal fade modal-xl" id="editModal-@cmpty.CompetencyId" aria-labelledby="editModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content rounded-3 shadow">
                                                @using (Html.BeginForm("EditCompetency", "Home", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="CompetencyId" value="@cmpty.CompetencyId" />
                                                    <div class="modal-body text-center" style="background-color: #eeeeee60; border-top-left-radius: 6px; border-top-right-radius: 6px">
                                                        <i class="fa fa-stack-overflow" aria-hidden="true" style="color: #dc3545;font-size: 50px"></i>
                                                        <h3><strong>แก้ไข Competency:</strong> <code>@cmpty.CompetencyId</code></h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md-5 col-lg-5">
                                                                <div class="col">
                                                                    <label for="createType" class="form-label form-label-id p-1">ชนิด</label>
                                                                    <select class="form-select" id="createType" name="Type">
                                                                        <option value="CC" @(cmpty.Type == "CC" ? "selected" : "")>CC</option>
                                                                        <option value="FC" @(cmpty.Type == "FC" ? "selected" : "")>FC</option>
                                                                        <option value="MC" @(cmpty.Type == "MC" ? "selected" : "")>MC</option>
                                                                        <option value="TC" @(cmpty.Type == "TC" ? "selected" : "")>TC</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col">
                                                                    <label for="createCompetencyNameTH" class="form-label form-label-detail p-1">ชื่อภาษาไทย</label>
                                                                    <input type="text" class="form-control" id="createCompetencyNameTH" name="CompetencyNameTH" value="@cmpty.CompetencyNameTH" style="min-width: 100%;">
                                                                </div>
                                                                <div class="col">
                                                                    <label for="createCompetencyNameEN" class="form-label form-label-detail p-1">ชื่อภาษาอังกฤษ</label>
                                                                    <input type="text" class="form-control" id="createCompetencyNameEN" name="CompetencyNameEN" value="@cmpty.CompetencyNameEN" style="min-width: 100%;">
                                                                </div>
                                                                <div class="col">
                                                                    <label for="createCompentencyDesc" class="form-label form-label-detail p-1">Definition</label>
                                                                    <textarea class="form-control" id="createCompentencyDesc" name="CompetencyDesc" style="min-width: 100%; height:7px">@cmpty.CompetencyDesc</textarea>
                                                                </div>
                                                                <hr />
                                                                <div class="mt-3 list-group">
                                                                    <div class="input-group-text form-label-id">
                                                                        <div>ใช้ Competency นี้?</div>
                                                                    </div>
                                                                    <div class="input-group mt-2">
                                                                        <div class="input-group-text">
                                                                            <input class="form-check-input mt-0" type="radio" value="true" @(cmpty.Active == true ? "checked" : "") name="Active" aria-label="Radio button for following text input">
                                                                        </div>
                                                                        <div class="form-control">ใช้</div>
                                                                    </div>
                                                                    <div class="input-group mt-2">
                                                                        <div class="input-group-text">
                                                                            <input class="form-check-input mt-0" type="radio" value="false" @(cmpty.Active == false ? "checked" : "") name="Active" aria-label="Radio button for following text input">
                                                                        </div>
                                                                        <div class="form-control">ไม่ใช้</div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="col-md-7 col-lg-7">
                                                                <div>
                                                                    <label for="createPl1" class="form-label form-label-pl p-1">PL1</label>
                                                                    <textarea class="form-control" id="createPl1" name="Pl1" style="min-width: 100%; height:7px">@cmpty.Pl1</textarea>
                                                                </div>
                                                                <div>
                                                                    <label for="createPl2" class="form-label form-label-pl p-1">PL2</label>
                                                                    <textarea class="form-control" id="createPl2" name="Pl2" style="min-width: 100%; height:7px">@cmpty.Pl2</textarea>
                                                                </div>
                                                                <div>
                                                                    <label for="createPl3" class="form-label form-label-pl p-1">PL3</label>
                                                                    <textarea class="form-control" id="createPl3" name="Pl3" style="min-width: 100%; height:7px">@cmpty.Pl3</textarea>
                                                                </div>
                                                                <div>
                                                                    <label for="createPl4" class="form-label form-label-pl p-1">PL4</label>
                                                                    <textarea class="form-control" id="createPl4" name="Pl4" style="min-width: 100%; height:7px">@cmpty.Pl4</textarea>
                                                                </div>
                                                                <div>
                                                                    <label for="createPl5" class="form-label form-label-pl p-1">PL5</label>
                                                                    <textarea class="form-control" id="createPl5" name="Pl5" style="min-width: 100%; height:7px">@cmpty.Pl5</textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer flex-nowrap p-0">
                                                        <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 rounded-0 m-0 " style="background-color: #f8d7da;" data-bs-dismiss="modal">No thanks</button>
                                                        <button type="submit" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 rounded-0 m-0 border-end" style="background-color: #cce5ff;"><strong>Yes, enable</strong></button>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="deleteModal-@cmpty.CompetencyId" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-4">ต้องการที่จะลบรายวิชานี้หรือไม่?</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>รหัส Competency: @cmpty.CompetencyId</h5>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                                                    <a href="@Url.Action("DeleteCompetency", new { id = cmpty.CompetencyId })" class="btn btn-danger">ยืนยัน</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
 
    </div>
</main>



<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.2.2/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#myTable').DataTable({
            scrollX: true,
            language: {     
                search: '',
                searchPlaceholder: 'ค้นหา',
                lengthMenu: '_MENU_',
                paginate: {
                    next: 'ถัดไป <i class="fa fa-angle-double-right"></i>',
                    previous: '<i class="fa fa-angle-double-left"></i> ก่อนหน้า'
                },
                info: 'กำลังแสดง _START_ ถึง _END_ จาก _TOTAL_'
            },

            initComplete: function () {
                js('#myTable_length label').addClass('entries-label');
            }
        });
    });
</script>
<style>
    .form-label-id {
        background-color: #f8d7da;
        border: 2px solid #dc3545;
        color: #dc3545;
        font-weight: bold;
        border-radius: 6px;
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .form-label-pl {
        background-color: #fff3cd;
        border: 2px solid #ffc107;
        color: #ffc107;
        font-weight: bold;
        border-radius: 6px;
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .form-label-detail {
        background-color: #cff4fc;
        border: 2px solid #0dcaf0;
        color: #0dcaf0;
        font-weight: bold;
        border-radius: 6px;
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .dataTables_scrollBody {
        overflow-x: scroll;
    }

</style>
